@import "../variables";

.statistics {
  font-size: 12px;
}

.heading {
  color: #666666;
  font-size: 16px;
}

.rightCol {
  padding: 3px 10px;
  text-align: right;
}

.spanBoth {
  text-align: center;
}
