@for (filter of filters(); track filter.uniqueKey; let j = $index) {

  @if (settingsButtons()[filter.uniqueKey].toggled) {

  <div
    class="filter-container"
    @filterItemAppear
  >
    <app-icon
      class="input-icon"
      [icon]="settingsButtons()[filter.uniqueKey].iconName"
      title="{{ settingsButtons()[filter.uniqueKey].moreInfo | translate }}" />
    <input
      id="{{ filter.uniqueKey }}"
      (keyup.enter)="onEnterKey.emit({ word: filter.string, index: j })"
      (keydown.backspace)="onBackspace.emit({ word: filter.string, index: j })"
      (keydown.escape)="filter.string = ''"
      [(ngModel)]="filter.string"
      (keydown.Tab)="handleTabPress($event, filter.uniqueKey === 'tagIntersection', j, filter.string)"
      (ngModelChange)="handleInputChange($event, filter.uniqueKey === 'tagIntersection')"
      [ngStyle]="{ color: settingsButtons().darkMode.toggled ? 'white' : 'black' }"
      class="filter-general input-filter"
      placeholder="{{ filter.placeholder | translate }}"
      type="text"
    >

    @if (filter.uniqueKey === 'tagIntersection' && filter.string !== '') {
      <span
        class="tag-type-ahead-on-home"
      >{{ tagTypeAhead() }}</span>
    }

    <div class="filtered-words">

    @if (filter.array.length > 0) {

      @for (string of filter.array; track string; let i = $index) {

        @if (i > 0) {
          <span
            [ngStyle]="{ color: settingsButtons().darkMode.toggled ? '#CCCCCC' : 'black' }"
            class="conjunction"
          >
            {{ filter.conjunction | translate }}
          </span>
        }

          <span
            (click)="removeThisFilter.emit({ item: i, origin: j })"
            [ngStyle]="{ background: filter.color }"
            class="search-or-tag-general search-word"
          >
            {{ string }}
          </span>
      }

    }

    </div>

  </div>

  }

}
