
  <div class="frequency-graph-container">
    @for (resolution of resolutionFreqArr; track resolution; let i = $index) {
      <div
        [ngClass]="{ resDisabled: (i < freqLeftBound) || (i >= freqRightBound) }"
        [ngStyle]="{ height: resolution + '%' }"
        class="frequency-bar"
      >
      </div>
      <div
        [ngClass]="{ resDisabled: (i < freqLeftBound) || (i >= freqRightBound) }"
        class="resolution-name"
      >
        {{ resolutionNames[i] }}
      </div>
    }
  </div>

  <app-slider-filter
    (newSliderFilterSelected)="newResFilterSelected.emit($event)"
    [darkMode]="settingsButtons['darkMode'].toggled"
    [maximumValue]="4"
    [minimumValue]="0"
    [steps]="4"
  ></app-slider-filter>
