<div
  class="meta-container"
  [ngStyle]="{ height: elHeight + 'px'}"
  @galleryItemAppear
>

  <div
    class="filmstrip-container"
    [ngStyle]="{ height: imgHeight + 'px'}"
  >

    <span *ngIf="showMeta" class="time" @metaAppear>{{ time | lengthPipe }}</span>
    <span *ngIf="showMeta" class="rez" @metaAppear>{{ rez }}</span>

    <ng-container *ngIf="hoverScrub && hover && noError">
      <div
        *ngFor="let item of imgId; let i = index"
        (mouseover)="showThisOne(i)"
        [ngStyle]="{'left': 10 * i + '%' }"
        class="hoverable"
      >
      </div>
    </ng-container>

    <ng-container *ngIf="noError">
      <img
        *ngFor="let item of imgId; let i = index"
        [ngStyle]="{
            'right': 'calc(' + (9 - i) + ' * (100% - ' + imgWidth + 'px)/9)',
            'z-index': indexArray[i],
            'height': imgHeight + 'px'
          }"
        [src]="sanitizer.bypassSecurityTrustUrl('file://' + folderPath + '/' + imgId[i])"
        class="screencap"
      >
    </ng-container>

  </div>

  <span
    *ngIf="showMeta"
    [ngClass]="{ 'larger-font': largerFont }"
    [ngStyle]="{ color: darkMode ? '#BBBBBB' : '#000000' }"
    class="title"
    @textAppear
  >
    {{ title }}
    <div class="fileSize" *ngIf="showMeta">
      {{ fileSize | fileSizePipe }}
    </div>
  </span>

</div>
