.meta-container {
  margin: 20px 20px 5px;
  transition-property: height;
  transition: 300ms;
  width: calc(100% - 40px);
}

.filmstrip-container {
  background: black;
  height: 100px;
  overflow-y: hidden;
  position: relative;
  width: 100%;
  outline: 3px solid black;
}

.title {
  cursor: pointer;
  display: block;
  font-size: 12px;
  margin: 6px 2px 0px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  transition-property: font-size;
  transition: 300ms;
  white-space: nowrap;
  width: 100%;
}

.fileSize {
  display: inline-block;
  font-size: 10px;
  opacity: 0.8;
}

.larger-font {
  font-size: 16px;
}

.time, .rez {
  bottom: 4px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 10px;
  position: absolute;
  z-index: 100;
}

.time {
  right: 4px;
}

.rez {
  left: 3px;
}
