.meta-container {
  margin: 20px 20px 5px;
  transition-property: height;
  transition: 300ms;
  width: calc(100% - 40px);
}

.filmstrip-container {
  background: black;
  height: 100px;
  overflow-y: hidden;
  position: relative;
  width: 100%;
}

.hoverable {
  border: 0;
  height: 100%;
  position: absolute;
  width: 10%;
  z-index: 100;
  cursor: pointer;
}

.screencap {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  height: 100px;
  outline: 3px solid black;
  position: absolute;
}

img:before {
  content: 'lol u mad?'; /* to prevent broken img icon from showing up */
  display: block;
  font-size: 20px;
  margin-top: 1000px;
}

.title {
  cursor: pointer;
  display: block;
  font-size: 12px;
  margin: 6px 2px 0px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  transition-property: font-size;
  transition: 300ms;
  white-space: nowrap;
  width: 100%;
}

.fileSize {
  display: inline-block;
  font-size: 10px;
  opacity: 0.8;
}

.larger-font {
  font-size: 16px;
}

.time, .rez {
  bottom: 4px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 10px;
  position: absolute;
  z-index: 100;
}

.time {
  right: 4px;
}

.rez {
  left: 3px;
}
