<div
  class="meta"
  [ngStyle]="{
    'min-height': imgHeight() + 'px',
    'width': maxWidth() + 'px'
   }"
  >

  <!-- RENAME FILE SECTION -->
  <input
    class="meta-title"
    [ngClass]="{ 'larger-font': largerFont() }"
    [ngStyle]="{
        color: darkMode() ? '#DDDDDD' : '#000000',
        width: renamingWIP.length + 2 + 'ch',
        'max-width': maxWidth() - 20 + 'px'
      }"
    [(ngModel)]="renamingWIP"
    type="text"
    (blur)="resetTitle($event)"
    (keydown.esc)="resetTitle($event)"
    (keydown.enter)="tryRenamingFile()"
  >

<!-- META DATA SECTION -->

@if (renamingWIP === video.cleanName) {
  <span
    class="file-size"
    [ngClass]="{ darkModeText: darkMode() }"
  >
    {{ video.durationDisplay }}

    | {{ video.width }} x {{ video.height }}

    | {{ video.fileSizeDisplay }}

    | {{ video.bitrate + ' mb/s' }}

    {{ video.fps ? '| ' + video.fps + ' fps' : '' }}

    | <input
        #yearInput
        (change)="validateYear($event)"
        (click)="autoFillYear()"
        (keydown)="preventUnwantedKeypress($event)"
        (keyup.enter)="validateYear($event)"
        (keyup.esc)="validateYear($event)"
        [(ngModel)]="yearHack"
        class="year"
        max="3000"
        min="1888"
        placeholder="YYYY"
        type="number"
        tabindex="-1"
        [ngStyle]="{color: darkMode() ? '#DDDDDD' : '#000000'}"
  >
  </span>

} @else {

  @if (!renameError) {
    <span
      class="file-size renaming-message"
      [ngClass]="{ 'renaming-message-dark-mode': darkMode() }"
    >
      {{ 'SYSTEM.pressEscToStopRenaming' | translate }}
    </span>
  } @else {
    <span
      class="file-size renaming-message renaming-error"
      [ngClass]="{ 'renaming-error-dark-mode': darkMode() }"
    >
      {{ 'SYSTEM.fileRenameError' | translate }}
    </span>
  }
}

<!-- Renaming file messaging - replaces metadata section above -->


<!-- Star rating -->
  <button
    (click)="setStarRating(1.5)"
    class="star-rating"
    [ngClass]="{ 'star-lit': starRatingHack > 1 }"
    tabindex="-1"
  >
    <app-icon [icon]="'icon-star'" />
  </button>
  <button
    (click)="setStarRating(2.5)"
    class="star-rating"
    [ngClass]="{ 'star-lit': starRatingHack > 2 }"
    tabindex="-1"
  >
    <app-icon [icon]="'icon-star'" />
  </button>
  <button
    (click)="setStarRating(3.5)"
    class="star-rating"
    [ngClass]="{ 'star-lit': starRatingHack > 3 }"
    tabindex="-1"
  >
    <app-icon [icon]="'icon-star'" />
  </button>
  <button
    (click)="setStarRating(4.5)"
    class="star-rating"
    [ngClass]="{ 'star-lit': starRatingHack > 4 }"
    tabindex="-1"
  >
    <app-icon [icon]="'icon-star'" />
  </button>
  <button
    (click)="setStarRating(5.5)"
    class="star-rating"
    [ngClass]="{ 'star-lit': starRatingHack > 5 }"
    tabindex="-1"
  >
    <app-icon [icon]="'icon-star'" />
  </button>

<!-- Times played -->
@if (video.timesPlayed) {
  <span class="file-size times-played" [ngStyle]="{color: darkMode() ? '#DDDDDD' : '#000000'}" >
    {{ 'TAGS.timesPlayed' | translate }}: {{ video.timesPlayed }}
  </span>
}

<!-- Add tags / view tags -->
@if (showManualTags()) {
  <app-add-tag-component
    (tag)="addThisTag($event)"
    [darkMode]="darkMode()"
    style="display: block;"
   />
}

  <app-view-tags-component
    [tags]="(video | tagDisplayPipe : showManualTags()
                                  : showAutoFileTags()
                                  : showAutoFolderTags()
                                  : tagViewUpdateHack)
                    | autoTagSortPipe : sortAutoTags"
    [darkMode]="darkMode()"
    [enableColorPicker]="true"
    (tagClicked)="filterThisTag($event)"
    (removeTagEmit)="removeThisTag($event)"
    (tagRightClick)="onTagRightClick($event)"
    class="view-tags-holder"
    [ngStyle]="{ 'min-height': imgHeight() - 128 + 'px' }"
   />

@if (showVideoNotes()) {
  <textarea
    #videoNotes
    (blur)="saveVideoNotes($event)"
    placeholder="{{ 'TAGS.notes' | translate }}"
    [ngClass]="{ 'notes-dark-mode': darkMode() }"
  >{{ video.notes }}</textarea>
}

</div>
