<div
  class="meta"
  [ngStyle]="{
    'min-height': imgHeight + 'px',
    'width': maxWidth + 'px'
   }"
>

<!-- RENAME FILE SECTION -->
  <input
    class="meta-title"
    [ngClass]="{ 'larger-font': largerFont }"
    [ngStyle]="{
        color: darkMode ? '#DDDDDD' : '#000000',
        width: renamingWIP.length + 2 + 'ch',
        'max-width': maxWidth - 20 + 'px'
      }"
    [(ngModel)]="renamingWIP"
    type="text"
    (blur)="resetTitle($event)"
    (keydown.esc)="resetTitle($event)"
    (keydown.enter)="tryRenamingFile()"
  >

<!-- META DATA SECTION -->
  <span
    class="fileSize"
    [ngClass]="{ darkModeText: darkMode }"
    *ngIf="renamingWIP === video.cleanName; else renamingText"
  >
    {{ video.durationDisplay }}

    | {{ video.width }} x {{ video.height }}

    | {{ video.fileSizeDisplay }}

    | <input
        #yearInput
        (change)="validateYear($event)"
        (click)="autoFillYear()"
        (keydown)="preventUnwantedKeypress($event)"
        (keyup.enter)="validateYear($event)"
        (keyup.esc)="validateYear($event)"
        [(ngModel)]="yearHack"
        class="year"
        max="3000"
        min="1888"
        placeholder="YYYY"
        type="number"
        tabindex="-1"
      >

  </span>

<!-- Renaming file messaging - replaces metadata section above -->
  <ng-template
    #renamingText
  >
    <span
      *ngIf="!renameError; else renameErrText"
      class="fileSize renaming-message"
      [ngClass]="{ 'renaming-message-dark-mode': darkMode }"
    >
      {{ 'SYSTEM.pressEscToStopRenaming' | translate }}
    </span>
  </ng-template>

  <ng-template
    #renameErrText
  >
    <span
      class="fileSize renaming-message renaming-error"
      [ngClass]="{ 'renaming-error-dark-mode': darkMode }"
    >
      {{ 'SYSTEM.fileRenameError' | translate }}
    </span>
  </ng-template>

<!-- Star rating -->
  <app-star-rating
    [starRating]="star"
    [index]="video.index"
  ></app-star-rating>

<!-- Times played -->
  <span class="fileSize times-played" *ngIf="video.timesPlayed">
    {{ 'TAGS.timesPlayed' | translate }}: {{ video.timesPlayed }}
  </span>

<!-- Add tags / view tags -->
  <app-add-tag-component
    *ngIf="showManualTags"
    (tag)="addThisTag($event)"
    [darkMode]="darkMode"
    style="display: block;"
  ></app-add-tag-component>

  <app-view-tags-component
    [tags]="video | tagDisplayPipe : showManualTags
                                   : showAutoFileTags
                                   : showAutoFolderTags
                                   : tagViewUpdateHack"
    [darkMode]="darkMode"
    (tagClicked)="filterThisTag($event)"
    (removeTagEmit)="removeThisTag($event)"
    class="view-tags-holder"
    [ngStyle]="{ 'min-height': imgHeight - 128 + 'px' }"
  ></app-view-tags-component>

  <textarea
    #videoNotes
    *ngIf="showVideoNotes"
    (blur)="saveVideoNotes($event)"
    placeholder="{{ 'TAGS.notes' | translate }}"
    [ngClass]="{ 'notes-dark-mode': darkMode }"
  >{{ video.notes }}</textarea>

</div>
