<div
  class="meta"
  [ngStyle]="{ 'max-width': maxWidth + 'px' }"
>

<!-- RENAME FILE SECTION -->
  <input
    *ngIf="!renamingNow"
    class="meta-title"
    [ngClass]="{ 'larger-font': largerFont }"
    [ngStyle]="{
        color: darkMode ? '#DDDDDD' : '#000000',
        width: renamingWIP.length + 2 + 'ch'
      }"
    [(ngModel)]="renamingWIP"
    type="text"
    (blur)="tryRenamingFile($event)"
    (keydown.enter)="tryRenamingFile($event)"
    (keydown.esc)="resetTitle($event)"
  >

<!-- META DATA SECTION -->
  <span
    class="fileSize"
    [ngClass]="{ darkModeText: darkMode }"
    *ngIf="renamingWIP === video.cleanName; else renamingText"
  >
    {{ video.durationDisplay }}

    | {{ video.width }} x {{ video.height }}

    | {{ video.fileSizeDisplay }}

    | <input
        #yearInput
        (change)="validateYear($event)"
        (click)="autoFillYear($event)"
        (keydown)="preventUnwantedKeypress($event)"
        (keyup.enter)="validateYear($event)"
        (keyup.esc)="validateYear($event)"
        [(ngModel)]="yearHack"
        class="year"
        max="3000"
        min="1888"
        placeholder="YYYY"
        type="number"
        tabindex="-1"
      >

  </span>

  <ng-template
    #renamingText
  >
    <span
      class="fileSize renaming-message"
      [ngClass]="{ 'renaming-message-dark-mode': darkMode }"
    >
      Renaming file. Press "esc" key to cancel renaming.
    </span>
  </ng-template>

  <span class="fileSize" *ngIf="video.timesPlayed">
    {{ 'TAGS.timesPlayed' | translate }}: {{ video.timesPlayed }}
  </span>

  <button
    (click)="setStarRating(1.5)"
    class="star-rating"
    [ngClass]="{ 'star-lit': starRatingHack > 1 }"
    tabindex="-1"
  >
    <app-icon [icon]="'icon-star'"></app-icon>
  </button>
  <button
    (click)="setStarRating(2.5)"
    class="star-rating"
    [ngClass]="{ 'star-lit': starRatingHack > 2 }"
    tabindex="-1"
  >
    <app-icon [icon]="'icon-star'"></app-icon>
  </button>
  <button
    (click)="setStarRating(3.5)"
    class="star-rating"
    [ngClass]="{ 'star-lit': starRatingHack > 3 }"
    tabindex="-1"
  >
    <app-icon [icon]="'icon-star'"></app-icon>
  </button>
  <button
    (click)="setStarRating(4.5)"
    class="star-rating"
    [ngClass]="{ 'star-lit': starRatingHack > 4 }"
    tabindex="-1"
  >
    <app-icon [icon]="'icon-star'"></app-icon>
  </button>
  <button
    (click)="setStarRating(5.5)"
    class="star-rating"
    [ngClass]="{ 'star-lit': starRatingHack > 5 }"
    tabindex="-1"
  >
    <app-icon [icon]="'icon-star'"></app-icon>
  </button>

  <app-add-tag-component
    *ngIf="showManualTags"
    (tag)="addThisTag($event)"
    [darkMode]="darkMode"
    style="display: block;"
  ></app-add-tag-component>

  <app-view-tags-component
    [tags]="video | tagDisplayPipe
                       : showManualTags
                       : showAutoFileTags
                       : showAutoFolderTags
                       : tagViewUpdateHack"
    [darkMode]="darkMode"
    (tagClicked)="filterThisTag($event)"
    (removeTagEmit)="removeThisTag($event)"
    style="display: block;"
  ></app-view-tags-component>

</div>
