@use "../variables";

.breadcrumbs {
  background: variables.$gray-10;
  border-bottom: 1px solid variables.$gray-40;
  box-sizing: border-box;
  height: 30px;
  left: #{variables.$sidebar-width};
  overflow: hidden;
  padding: 5px 5px 5px 28px;
  position: absolute;
  top: 32px;
  transition-duration: 300ms;
  transition-property: left, width;
  width: calc(100vw - #{variables.$sidebar-width});
  z-index: 100;

  span:last-child {
    color: variables.$dark-blue;
    pointer-events: none;
  }

  .breadcrumb-folder-icon {
    cursor: pointer;
    fill: variables.$gray-60;
    left: 7px;
    max-height: 15px;
    max-width: 15px;
    position: absolute;
    top: 7px;
    transition-duration: 200ms;
    transition-property: fill;
    width: 15px;

    &:hover {
      fill: variables.$dark-blue;
    }
  }
}

.breadcrumbs-full-width {
  left: 0;
  width: 100vw;
}

.breadcrumb-folder-word {
  color: variables.$gray-60;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  margin-right: 5px;
  padding-bottom: 5px; // to hide spillover words if screen is narrow
  transition: 300ms;
  transition-property: color;

  &:hover {
    color: variables.$dark-blue;
  }

  &:after {
    content: '\f1a0'; // chevron-right
    font-family: "vh-icon-font";
    padding-left: 3px;
    padding-right: 3px;
  }
}

.breadcrumbs-dark-mode {
  background: variables.$gray-80;
  border-bottom: 1px solid variables.$gray-70;

  .breadcrumb-folder-icon {
    fill: variables.$gray-30;

    &:hover {
      fill: variables.$light-blue;
    }
  }

  .breadcrumb-folder-word {
    color: variables.$gray-30;

    &:hover {
      color: variables.$light-blue;
    }
  }

  span:last-child {
    color: variables.$light-blue;
  }
}
