.additional-extenstions-setting {
  font-size: 14px;
  font-style: italic;
  margin: -10px 0 40px 84px;
}

.additional-extenstions {
  font-size: 14px;
  font-style: italic;
  margin: 20px 0 10px 84px;
}

.player-settings {
  font-size: 14px;
  font-style: italic;
  margin: -24px 0 10px 84px;
}

.player-current-chosen {
  font-size: 14px;
  margin: 0 10px 30px 84px;
}

.player-settings-button {
  margin-left: 20px   !important;
  max-height: initial !important;
  max-width: initial  !important;
  padding: 5px        !important;
}

.player-settings-launch-args {
  margin-top: 0;
}

// whole below section is a hack for the metadata details toggles
.times-played { // this bit copied from `meta.component.scss`
  em {
    width: 10px;
    display: inline-block;
    transform: translate(0, 2px);
  }
}

.meta-section-div {
  display: block;
  font-family: monospace;
  font-size: 10px;
  line-height: 16px;
  margin: 5px 0 0;
  opacity: 0.8;

  em {
    color: #808080;
    font-style: unset;
    opacity: 0.5;
  }

  span {
    cursor: not-allowed;
  }

  .disabled {
    opacity: 0.3;
    cursor: pointer;
  }
}

.meta-section-p {
  font-size: 14px;
  margin-top: 30px;
}

// ----------------- end of metadata details toggles hack ---------------
