.additional-extenstions-setting {
  font-size: 14px;
  font-style: italic;
  margin: -10px 0 40px 84px;
}

.additional-extenstions {
  font-size: 14px;
  font-style: italic;
  margin: 20px 0 10px 84px;
}

.player-settings {
  font-size: 14px;
  font-style: italic;
  margin: -24px 0 10px 84px;
}

.player-current-chosen {
  font-size: 14px;
  margin: 0 10px 30px 84px;
}

.player-settings-button {
  margin-left: 20px   !important;
  max-height: initial !important;
  max-width: initial  !important;
  padding: 5px        !important;
}

.player-settings-launch-args {
  margin-top: 0;
}
