<button
  (click)="setStarRating(1.5)"
  class="star-rating"
  [ngClass]="{ 'star-lit': starRatingHack > 1 }"
  tabindex="-1"
>
  <app-icon [icon]="'icon-star'"></app-icon>
</button>
<button
  (click)="setStarRating(2.5)"
  class="star-rating"
  [ngClass]="{ 'star-lit': starRatingHack > 2 }"
  tabindex="-1"
>
  <app-icon [icon]="'icon-star'"></app-icon>
</button>
<button
  (click)="setStarRating(3.5)"
  class="star-rating"
  [ngClass]="{ 'star-lit': starRatingHack > 3 }"
  tabindex="-1"
>
  <app-icon [icon]="'icon-star'"></app-icon>
</button>
<button
  (click)="setStarRating(4.5)"
  class="star-rating"
  [ngClass]="{ 'star-lit': starRatingHack > 4 }"
  tabindex="-1"
>
  <app-icon [icon]="'icon-star'"></app-icon>
</button>
<button
  (click)="setStarRating(5.5)"
  class="star-rating"
  [ngClass]="{ 'star-lit': starRatingHack > 5 }"
  tabindex="-1"
>
  <app-icon [icon]="'icon-star'"></app-icon>
</button>
