<div
  [ngStyle]="{
      height: elHeight() + 'px',
      width: elWidth() + 'px'
    }"
  class="filmstrip-container"
  [ngClass]="{ 'compact-margins': compactView() }"
>

  <!-- ================================= FOLDER VIEW ================================= -->

@if (video.cleanName === '*FOLDER*') {

  @if (video.fileName !== '*UP*') {
    <div
      #filmstripHolder
      class="video-box folder"
      (click)="   videoClick.emit({ mouseEvent: $event })"
      (dblclick)="videoClick.emit({ mouseEvent: $event, doubleClick: true })"
      [ngStyle]="{
          height: imgHeight() + 'px'
      }"
    >
      <!-- ========================== regular folder view ========================== -->
    @for (idx of [0, 1, 2, 3]; track idx) {
      @if (noError && !autoplay() && folderThumbPaths[idx]) {
        <video
          [src]="folderThumbPaths[idx]"
          [poster]="sanitizer.bypassSecurityTrustUrl(folderPosterPaths[idx])"
          class="mini-video-thumb {{ 'folder-preview-' + idx }}"
          [volume]="forceMute() ? 0 : 1"
          onmouseover="this.play().catch((err) => {this.load()})"
          (mouseout)="stopPreview($event)"
          loop
        ></video>
      }
    }

      <!-- ========================== AUTOPLAY folder view ========================== -->
    @for (idx of [0, 1, 2, 3]; track idx) {
      @if (noError && autoplay() && appInFocus && folderThumbPaths[idx]) {
        <video
          [src]="folderThumbPaths[idx]"
          [poster]="sanitizer.bypassSecurityTrustUrl(folderPosterPaths[idx])"
          class="mini-video-thumb {{ 'folder-preview-' + idx }}"
          [volume]="forceMute() ? 0 : 1"
          onmouseover="this.muted = false;"
          onmouseout="this.muted = true;"
          onloadstart="this.muted = true;"
          loop
          autoplay
        ></video>
      }
    }
    </div>

  } @else {

    <!-- ========================== UP FOLDER ========================== -->
      <div
        class="video-box folder"
        (click)="   videoClick.emit({ mouseEvent: $event })"
        (dblclick)="videoClick.emit({ mouseEvent: $event, doubleClick: true })"
        [ngStyle]="{ height: imgHeight() + 'px' }"
      >
        <div class="up-icon">
          <app-icon [icon]="'icon-chevron-left'" />
        </div>
      </div>
    }

    <!-- ==========================FOLDER TEXT ========================== -->
  @if (showMeta() && video.fileName !== '*UP*') {
    <span
      [ngClass]="{ 'larger-font': largerFont() }"
      [ngStyle]="{ color: darkMode() ? '#BBBBBB' : '#000000' }"
      class="title"
    >
      {{ video.fileName }}

      <div class="file-size">
        {{ video.fileSize | fileSizePipe }} [{{ video.fileSizeDisplay }} files]
      </div>

    </span>

  }

} @else {   <!-- END of folder @if FOLDER VIEW -- END -->

  <!-- ================================= SINGLE CLIP ================================= -->

  <div class="video-box" [ngStyle]="{ height: imgHeight() + 'px' }">

    @if (video.selected) { <app-icon class="selected" [icon]="'icon-show-more-info'" /> }

    @if (showMeta()) {
      <span class="rez" [ngClass]="{ 'dark-style': darkMode() }">{{ video.fileSizeDisplay }}
        @if (video.resolution) {
          <span
            class="time rez-new"
          >{{ video.resolution }}</span>
        }
      </span>


      <span class="time" [ngClass]="{ 'dark-style': darkMode() }">{{ video.durationDisplay }}</span>
    }

    <!-- ========================== regular view ========================== -->
  @if (noError && !autoplay()) {
    <video
      [src]="pathToVideo"
      [poster]="sanitizer.bypassSecurityTrustUrl(poster)"
      [ngStyle]="{ 'height': imgHeight() + 'px' }"
      (click)="   videoClick.emit({ mouseEvent: $event })"
      (dblclick)="videoClick.emit({ mouseEvent: $event, doubleClick: true })"
      (contextmenu)="rightClick.emit({ mouseEvent: $event, item: video })"
      class="screencap"
      [volume]="forceMute() ? 0 : 1"
      onmouseover="this.play().catch((err) => {this.load()})"
      (mouseout)="stopPreview($event)"
      loop
    ></video>
  }

    <!-- ========================== AUTOPLAY view ========================== -->
  @if (noError && autoplay() && appInFocus) {
    <video
      [src]="pathToVideo"
      [poster]="sanitizer.bypassSecurityTrustUrl(poster)"
      [ngStyle]="{ 'height': imgHeight() + 'px' }"
      (click)="   videoClick.emit({ mouseEvent: $event })"
      (dblclick)="videoClick.emit({ mouseEvent: $event, doubleClick: true })"
      (contextmenu)="rightClick.emit({ mouseEvent: $event, item: video })"
      class="screencap"
      [volume]="forceMute() ? 0 : 1"
      onmouseover="this.muted = false;"
      onmouseout="this.muted = true;"
      onloadstart="this.muted = true;"
      onloadeddata="setTimeout(() => { this.play(); }, Math.floor(Math.random() * 500))"
      loop
    ></video>
  }

  @if (true) {
    <app-icon
      class="heart"
      [ngClass]="{ 'heart-lit' : video.stars === 5.5 }"
      (click)="toggleHeart()"
      [icon]="'icon-heart'"
      title="{{ video.stars === 5.5 ? ('BUTTONS.removeFromFavorites' | translate)
                                    : ('BUTTONS.addToFavorites' | translate) }}"

     />
  }

  </div> <!-- end of video-box -->
  <!--
  .sheet-icon needs to be the next sibling of .video-box
  DO NOT SEPARATE!
  -->
  <app-icon
    class="sheet-icon"
    [icon]="'icon-show-thumbnails'"
    (click)="sheetClick.emit()"
    [ngStyle]="{
      'opacity': (this.hover ? 1 : 0)
    }" />

  <!-- ================================= TEXT ================================= -->

@if (showMeta()) {
  <span
    [ngClass]="{ 'larger-font': largerFont() }"
    [ngStyle]="{ color: darkMode() ? '#BBBBBB' : '#000000' }"
    class="title"
  >
    {{ video.cleanName }}
  </span>
}


} <!-- end of the @else -->

</div>
