.mini-video-thumb {
  height: 50%;
  position: absolute;
  width: 50%;
}

.folder {
  border: 3px solid white;
  border-radius: 10px;
  box-sizing: border-box;
}

.screencap {
  height: 100px;
  margin-left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
}

.fileSize {
  display: inline-block;
  font-size: 10px;
  opacity: 0.8;
}
