@font-face {
  font-family: "vh-icon-font";
  src: url('../fonts/videohubicon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.icon:before {
  position: relative;
  font-family: "vh-icon-font";
  speak: none;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-checkmark:before { content: "\f194"; }
.icon-chevron-up:before { content: "\f195"; }
.icon-close:before { content: "\f188"; }
.icon-cloud:before { content: "\f189"; }
.icon-darken:before { content: "\f17e"; }
.icon-eye-closed:before { content: "\f17b"; }
.icon-eye-open:before { content: "\f17f"; }
.icon-folder-blank:before { content: "\f18a"; }
.icon-folder-minus:before { content: "\f199"; }
.icon-folder-plus:before { content: "\f19a"; }
.icon-folder-x:before { content: "\f19b"; }
.icon-gear:before { content: "\f197"; }
.icon-looking-glass:before { content: "\f18b"; }
.icon-maximize:before { content: "\f18c"; }
.icon-minus:before { content: "\f191"; }
.icon-plus:before { content: "\f192"; }
.icon-show-filenames:before { content: "\f198"; }
.icon-show-filmstrip:before { content: "\f183"; }
.icon-show-thumbnails:before { content: "\f193"; }
.icon-tag:before { content: "\f185"; }
.icon-toggle-scrub:before { content: "\f18e"; }
.icon-video-blank:before { content: "\f19c"; }
.icon-video-minus:before { content: "\f19d"; }
.icon-video-plus:before { content: "\f19e"; }
.icon-video-x:before { content: "\f19f"; }
