
// Try to use the system's font on whatever platform the user is on.
$font-family-default: system, -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, "Segoe UI", sans-serif !default;
$font-size-default: 13px !default;
$font-weight: 500 !default;
$font-weight-bold: 700 !default;
$font-weight-light: 300 !default;
$line-height-default: 1.6 !default;

// Padding
$padding: 10px;
$padding-mini: 3px;
$padding-less: 5px;
$padding-more: 20px;
