<div [ngStyle]="{
      height: elHeight + 'px',
      width: maxWidth / (showTwoColumns ? 2 : 1) + 'px'
    }" class="filmstrip-container" [ngClass]="{ 'side-by-side': showTwoColumns }">

    <div #filmstripHolder class="video-box" (mousemove)="mouseIsMoving($event)" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()" (click)="   videoClick.emit({ mouseEvent: $event, thumbIndex: indexToShow })" (dblclick)="videoClick.emit({ mouseEvent: $event, thumbIndex: indexToShow, doubleClick: true })"
        (contextmenu)="rightClick.emit({ mouseEvent: $event, item: video })" [ngStyle]="{
        height: imgHeight + 'px',
        width: elWidth + 'px',
        'max-width': elWidth + 'px',
        'background-image': 'url(' + ((this.video.defaultScreen !== undefined) || hover ? filmstripPath : firstFilePath) + ')',
        'background-position-x': percentOffset + '%'
      }">
        <app-icon *ngIf="video.selected" class="selected" [icon]="'icon-show-more-info'"></app-icon>

        <app-icon
          *ngIf="showFavorites"
          (click)="toggleHeart()"
          class="heart"
          [ngClass]="{ 'heart-lit' : video.stars === 5.5 }"
          [icon]="'icon-heart'">
        </app-icon>

      </div>

    <app-meta-item (filterTag)="filterTag.emit($event)" [video]="video" [imgHeight]="imgHeight" [maxWidth]="maxWidth / (showTwoColumns ? 2 : 1) - elWidth" [star]="this.star" [darkMode]="darkMode" [largerFont]="largerFont" [showAutoFileTags]="showAutoFileTags" [starRatingHack]="starRatingHack"
        [showAutoFolderTags]="showAutoFolderTags" [showManualTags]="showManualTags" [showMeta]="showMeta" [showVideoNotes]="showVideoNotes" [selectedSourceFolder]="selectedSourceFolder" [renameResponse]="renameResponse.asObservable()"></app-meta-item>

</div>
