.filmstrip-container {
  display: inline-block;
  margin: 20px 20px 0;
  min-height: 180px;
  overflow: hidden;
  transition: 300ms;
  transition-property: height;
}

.video-box {
  background-color: black;
  background-size: cover;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.side-by-side {
  margin: 20px 0 0 20px; // no right margin
}

.video-box {
  position: relative;
}
