<div
  [ngStyle]="{
      height: elHeight() + 'px',
      width: maxWidth() / (showTwoColumns() ? 2 : 1) + 'px'
    }"
  class="filmstrip-container"
  [ngClass]="{ 'side-by-side': showTwoColumns() }"
>

  <div class="video-box">

   <app-thumbnail
    (videoClick)="videoClick.emit($event)"
    (sheetClick)="sheetClick.emit()"
    (heartPressed)="toggleHeart()"

    (rightClick)="false"
    (refreshPlaylist)="false"

    [video]="video()"

    [connected]="connected()"
    [darkMode]="darkMode()"
    [draggable]="draggable()"
    [elHeight]="imgHeight()"
    [elWidth]="elWidth()"
    [folderPath]="folderPath()"
    [hoverScrub]="hoverScrub()"
    [hubName]="hubName()"
    [imgHeight]="elHeight()"
    [returnToFirstScreenshot]="returnToFirstScreenshot()"
    [showFavorites]="showFavorites()"
    [thumbAutoAdvance]="thumbAutoAdvance()"

    [compactView]="true"
    [showMeta]="false"


    style="display: inline-block"
    [ngStyle]="{
        height: imgHeight() + 'px',
        width: elWidth() + 'px',
        'max-width': elWidth() + 'px',
      }"
    />

  </div>

  <app-meta-item
    (filterTag)="filterTag.emit($event)"

    [video]="video()"

    [darkMode]="darkMode()"
    [imgHeight]="imgHeight()"
    [largerFont]="largerFont()"
    [maxWidth]="maxWidth() / (showTwoColumns() ? 2 : 1) - elWidth()"
    [selectedSourceFolder]="selectedSourceFolder()"
    [showAutoFileTags]="showAutoFileTags()"
    [showAutoFolderTags]="showAutoFolderTags()"
    [showManualTags]="showManualTags()"
    [showMeta]="showMeta()"
    [showVideoNotes]="showVideoNotes()"
    [star]="this.star()"
    [starRatingHack]="starRatingHack"

    [renameResponse]="renameResponse().asObservable()"
   />

</div>
