.filmstrip-container {
  display: inline-block;
  margin: 20px 20px 0;
  min-height: 170px;
  overflow: hidden;
  transition: 300ms;
  transition-property: height;
  border: 1px solid red;
}

.video-box {
  background-color: black;
  background-size: cover;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  position: relative;
}
