<div
  [ngStyle]="{ height: elHeight + 'px' }"
  class="filmstrip-container"
>

  <div
    #filmstripHolder
    class="video-box"
    (mousemove)="mouseIsMoving($event)"
    (mouseenter)="mouseEnter()"
    (mouseleave)="mouseLeave()"
    (click)="videoClick.emit({ mouseEvent: $event })"
    (contextmenu)="rightClick.emit({ mouseEvent: $event, item: video })"
    [ngStyle]="{
        height: imgHeight + 'px',
        width: elWidth + 'px',
        'max-width': elWidth + 'px',
        'background-image': 'url(' + (hover ? fullFilePath : firstFilePath) + ')',
        'background-position-x': percentOffset + '%'
      }"
  >
    <app-icon
      *ngIf="video.selected"
      class="selected"
      [icon]="'icon-show-more-info'"
    ></app-icon>
  </div>

  <app-meta-item
    (editFinalArrayStars)="editFinalArrayStars.emit($event)"
    (editFinalArrayTag)="editFinalArrayTag.emit($event)"
    (editFinalArrayYear)="editFinalArrayYear.emit($event)"
    (filterTag)="filterTag.emit($event)"

    [video]="video"

    [imgHeight]="imgHeight"

    [star]="this.star"

    [maxWidth]="maxWidth"

    [darkMode]="darkMode"
    [largerFont]="largerFont"
    [macVersion]="macVersion"
    [selectedSourceFolder]="selectedSourceFolder"
    [showMeta]="showMeta"
    [showManualTags]="showManualTags"
    [showAutoFileTags]="showAutoFileTags"
    [showAutoFolderTags]="showAutoFolderTags"
  ></app-meta-item>

</div>
