@import "../variables";

.icon {
  cursor: pointer;
  display: inline-block;
  fill: $gray-50;
  max-height: 15px;
  max-width: 15px;
  position: absolute;
  transform: translate(0, 2px);
  transition-duration: 200ms;
  transition-property: fill;
  width: 15px;

  &:hover {
    fill: $pretty-blue;
  }
}

.folder-container {
  max-height: 18px;
  min-width: calc(100vw - 100px);
  overflow: hidden;

  :nth-child(2) {
    margin-left: 23px;
  }

  .folder-word {
    color: $gray-60;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    margin-right: 5px;
    transition: 300ms;
    transition-property: color;

    &:hover {
      color: $dark-blue;
    }

    &:after {
      content: '\f1a0'; // chevron-right
      font-family: "vh-icon-font";
      padding-left: 3px;
      padding-right: 3px;
    }
  }
}

.file-container {
  max-height: 20px;
  width: 100%;
  overflow: hidden;

  .icon-video-blank {
    position: absolute;
    transform: translate(0, 3px);
  }

  .file-word {
    color: $gray-80;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    margin-right: 5px;
    transition: 300ms;
    transition-property: color;

    &:hover {
      color: $dark-blue;
    }
  }
}

.star-rating {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  fill: yellow;
  height: 20px;
  margin: 0;
  opacity: 0.4;
  outline: none;
  padding: 0;
  stroke: #000000;
  stroke-linejoin: round;
  stroke-width: 0.3px;
  width: 20px;
}

.star-lit {
  opacity: 1;
  transform: scale(1.5);
}

.starRating {
  float: right;
  width: 117px;
  margin-left: 5px;
}

.dark-mode-override {
  & .folder-word {
    color: $gray-30;
    transition: 300ms;
    transition-property: color;

    &:hover {
      color: $pretty-blue;
    }
  }

  & .file-word {
    color: $gray-20;
    transition: 300ms;
    transition-property: color;

    &:hover {
      color: $pretty-blue;
    }
  }

  & .icon {
    fill: $gray-10;

    &:hover {
      fill: $light-blue;
    }
  }
}
