<div
  *ngIf="_file !== ''"
  class="folder-container"
  [ngClass]="{ 'dark-mode-override': darkMode }"
>
  <app-icon class="icon" [icon]="'icon-folder-blank'" (click)="openInExplorer()"></app-icon>
  <span
    *ngFor="let item of folderNameArray"
    (click)="folderWordClicked(item)"
    class="folder-word"
  >
    {{ item }}
  </span>
</div>

<div
  *ngIf="_file !== ''"
  class="file-container"
  [ngClass]="{ 'dark-mode-override': darkMode }"
>
  <app-icon class="icon" [icon]="'icon-video-blank'" (click)="openInExplorer()"></app-icon>
  <span
    *ngFor="let item of fileNameArray"
    (click)="fileWordClicked(item)"
    class="file-word"
  >
    {{ item }}
  </span>
</div>
