@import "../variables";

.icon {
  cursor: pointer;
  display: inline-block;
  fill: $gray-50;
  max-height: 15px;
  max-width: 15px;
  position: absolute;
  transform: translate(0, 2px);
  transition-duration: 200ms;
  transition-property: fill;
  width: 15px;

  &:hover {
    fill: $pretty-blue;
  }
}

.folder-container {
  max-height: 18px;
  min-width: calc(100vw - 100px);
  overflow: hidden;

  :nth-child(2) {
    margin-left: 23px;
  }

  .folder-word {
    color: $gray-60;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    margin-right: 5px;
    transition: 300ms;
    transition-property: color;

    &:hover {
      color: $dark-blue;
    }

    &:after {
      content: '\f1a0'; // chevron-right
      font-family: "vh-icon-font";
      padding-left: 3px;
      padding-right: 3px;
    }
  }
}

.file-container {
  max-height: 20px;
  min-width: calc(100vw - 100px);
  overflow: hidden;

  .icon-video-blank {
    position: absolute;
    transform: translate(0, 3px);
  }

  :nth-child(2) {
    margin-left: 23px;
  }

  .file-word {
    color: $gray-80;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    margin-right: 5px;
    transition: 300ms;
    transition-property: color;

    &:hover {
      color: $dark-blue;
    }
  }
}

.dark-mode-override {
  & .folder-word {
    color: $gray-30;
    transition: 300ms;
    transition-property: color;

    &:hover {
      color: $pretty-blue;
    }
  }

  & .file-word {
    color: $gray-20;
    transition: 300ms;
    transition-property: color;

    &:hover {
      color: $pretty-blue;
    }
  }

  & .icon {
    fill: $gray-10;

    &:hover {
      fill: $light-blue;
    }
  }
}
