@use "../variables";

.preview {
  background-size: cover;
  border-radius: 5px;
  border: 1px solid variables.$gray-50;
  cursor: pointer;
  display: block;
  float: left;
  height: 34px;
  margin-left: 0px;
  margin-right: 6px;
  width: 60px;
}

.icon {
  cursor: pointer;
  display: inline-block;
  fill: variables.$gray-50;
  max-height: 15px;
  max-width: 15px;
  position: absolute;
  transform: translate(0, 2px);
  transition-duration: 200ms;
  transition-property: fill;
  width: 15px;

  &:hover {
    fill: variables.$pretty-blue;
  }
}

.folder-container,
.file-container {
  min-width: calc(100vw - 120px);
  overflow: hidden;

  :nth-child(2) {
    margin-left: 23px;
  }

  .folder-word,
  .file-word {
    color: variables.$gray-60;
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
    transition-property: color;
    transition: 300ms;

    &:hover {
      color: variables.$dark-blue;
    }
  }
}

.folder-container {
  max-height: 18px;

  .folder-word {
    font-size: 12px;

    &:after {
      content: '\f1a0'; // chevron-right
      font-family: "vh-icon-font";
      padding-left: 3px;
      padding-right: 3px;
    }
  }
}

.file-container {
  max-height: 20px;

  .icon-video-blank {
    position: absolute;
    transform: translate(0, 3px);
  }

  .file-word {
    font-size: 14px;
  }
}

.dark-mode-override {
  & .folder-word {
    color: variables.$gray-30;
    transition: 300ms;
    transition-property: color;

    &:hover {
      color: variables.$pretty-blue;
    }
  }

  & .file-word {
    color: variables.$gray-20;
    transition: 300ms;
    transition-property: color;

    &:hover {
      color: variables.$pretty-blue;
    }
  }

  & .icon {
    fill: variables.$gray-10;

    &:hover {
      fill: variables.$light-blue;
    }
  }
}
