@import '../variables';

.columns-container {
  margin-top: 20px;
  position: absolute;
  position: relative;
  width: calc(100% - 10px);
}

.column {
  box-sizing: border-box;
  float: left;
  margin-top: 0;
  padding-left: 40px;
  user-select: none;
  width: 50%;
}

ul {
  list-style-type: none;
  margin-bottom: 100px;

  li {
    margin-bottom: 10px;
  }
}

.clickable {
  cursor: pointer;
  margin-left: 25px;
  transition: 200ms;
  transition-delay: 50ms;
  transition-property: color;

  &:hover {
    color: $pretty-blue;
    transition: 30ms;
    transition-property: color;
  }
}

.frequency {
  color: $gray-50;
  cursor: default;
  font-size: 10px;
  position: absolute;
  text-align: right;
  transform: translate(-3px, 2px);
  width: 20px;
}

.capitalize {
  text-transform: capitalize;
}

.prefix {
  color: $gray-30;
  cursor: default;
  display: block;
  font-size: 20px;
  position: absolute;
  text-align: center;
  text-transform: capitalize;
  transform: translate(-24px, -2px);
  width: 20px;
}

.edit-bar {
  align-items: baseline;
  background: $gray-10;
  border-top: 1px solid $gray-30;
  bottom: 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 15px;
  position: fixed;
  width: calc(100% - 235px);
}

.col1 {
  width: 70px;
}

.col2 {
  width: 100px;
}

.col3 {
  width: 200px;
}

// inherits styles from 'search-input.scss'
.inputFilter {
  bottom: 23px;
  max-width: 150px;
  padding-left: 5px;
  text-align: center;
}

.inputAdd {
  text-align: left;
  width: 140px;
}

// inherits styles from 'wizard-button.scss'
.wizardButton {
  display: inline-block;
  margin: 5px;
  min-width: auto;
  padding: 5px 10px;
  white-space: nowrap;
  width: auto;
}

.addButton {
  bottom: 18px;
  position: absolute;
  right: 20px;
}

.numFound {
  bottom: 15px;
  color: $gray-50;
  display: block;
  font-size: 12px;
  line-height: 0;
  text-align: center;
}

.alignLeft {
  margin-left: 5px;
  text-align: left;
}

.editModeActive {
  background-color: $pretty-red;
  border: 1px solid $dark-red;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
  transform: translateY(1px);
  transition-duration: 50ms;
  transition-property: background-color, border;

  &:hover {
    background-color: $pretty-red-lighter;
  }
}

.icon-lol {
  fill: $pretty-red;
  position: absolute;
  transform: translate(3px, 1px);
  transition-duration: 300ms;
  transition-property: opacity;
  width: 15px;
}

.strikethrough {
  &:hover {
    color: $pretty-red;
    text-decoration: line-through !important;
  }
}

.add-error {
  color: $pretty-blue;
}

@media (max-width: 550px) {
  .col3 {
    display: none;
  }
}

@media (max-width: 650px) {
  .col1 {
    display: none;
  }
}
