<ul class="column">
  <li *ngFor="let item of oneWordTags">
    <span
      (click)="tagWasClicked(item.word)"
      class="clickable"
    >
      {{ item.word }}
      <span class="frequency">
        {{ item.freq }}
      </span>
    </span>
  </li>
</ul>

<ul class="column">
  <li *ngFor="let item of twoWordTags" class="capitalize">
    <span
      (click)="tagWasClicked(item.word)"
      class="clickable"
    >
      {{ item.word }}
      <span class="frequency">
        {{ item.freq }}
      </span>
    </span>
  </li>
</ul>
