.filmstrip-container {
  display: inline-block;
  margin: 20px 20px 0;
  overflow: hidden;
  position: relative;
  transition: 300ms;
  transition-property: height;
}

.compact-margins {
  margin: 0 2px;
}

.video-box {
  background-color: black;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.sheet-icon {
  fill: white;
  height: 16px;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 16px;

  &:hover {
    cursor: pointer;
    opacity: 1 !important;
  }
}

.folder-item {
  background-color: black;
  background-size: cover;
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 50%;
}

.folder {
  border: 3px solid white;
  border-radius: 10px;
  box-sizing: border-box;
}

.up-icon {
  fill: white;
  left: 14%;
  position: absolute;
  top: 36%;
  transform: translate(-50%, -50%);
  width: 30%;
}

.folder-icon {
  fill: white;
  filter: drop-shadow(0 0 10px black);
  left: 0;
  position: absolute;
  top: 0;
  transform: translate(10px, 10px);
  width: 25px;
}

.time, .rez {
  bottom: 4px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 10px;
  position: absolute;
  z-index: 2;
}

.time {
  right: 4px;
}

.rez {
  left: 3px;
}

.title {
  -webkit-box-orient: vertical;
  cursor: pointer;
  display: -webkit-box;
  font-size: 12px;
  -webkit-line-clamp: 3;
  margin: 6px 2px 0px;
  max-height: 54px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  text-overflow: ellipsis;
  transition: 300ms;
  transition-property: font-size;
  width: 100%;
  word-wrap: break-word;
}

.fileSize {
  display: inline-block;
  font-size: 10px;
  opacity: 0.8;
}

.larger-font {
  font-size: 16px;
  margin-top: 2px;
}
