.folder-item {
  background-color: black;
  background-size: cover;
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 50%;
}

.folder-item-fullsize {
  background-color: black;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.folder {
  border: 3px solid white;
  border-radius: 10px;
  box-sizing: border-box;
}

.folder-icon {
  fill: white;
  filter: drop-shadow(0 0 10px black);
  left: 0;
  position: absolute;
  top: 0;
  transform: translate(10px, 10px);
  width: 25px;
}

.folder-time {
  background: black;
  border-radius: 5px;
  color: white;
  display: block;
  padding: 2px;
}

.fileSize {
  display: inline-block;
  font-size: 10px;
  opacity: 0.8;
}

.items-in-folder {
  font-size: 10px;
  left: 3px;
  position: absolute;
  text-align: center;
  top: 8px;
  width: 18px;
}

.video-box {
  position: relative;
}

.heart {
  position: absolute;
  background-color: transparent;
  border: none;
  outline: none;
  top: 8%;
  left: 2%;
  fill: #00000047;
  stroke: white;
  stroke-width: 5%;
  stroke-opacity: 0.5;
  width: 30px;
  z-index: 1;
}

.heart-lit {
  stroke: #ff2c55;
  fill: #ff2c55;
}
