<!-- in this file you'll see:
    (X) div
            these are named to track opening / closing  of divs -->

<div
  [ngStyle]="{
      height: elHeight() + 'px',
      width: elWidth() + 'px'
    }"
  class="filmstrip-container"
  [ngClass]="{ 'compact-margins': compactView() }"
>

@if (video.cleanName === '*FOLDER*') {

  @if (video.fileName !== '*UP*') { <!-- else UP FOLDER TEMPLATE -->

    <!-- (A) div -->
    <div
      class="video-box folder"
      (mousemove)="mouseIsMoving($event)"
      (click)="   videoClick.emit($event)"
      (dblclick)="videoClick.emit($event)"
      [ngStyle]="{ height: imgHeight() + 'px' }"
    >

    <!-- Show one thumbnail if there is only one video inside the folder -->

    @if (!folderThumbPaths[1] && folderThumbPaths[0]) {

      <div
        class="folder-item-fullsize"
        [ngStyle]="{
          'background-image': 'url(' + folderThumbPaths[0] + ')'
        }"
      ></div>

    } @else {      <!-- ========================= FOUR PREVIEWS TEMPLATE ========================== -->

      @if (folderThumbPaths[0]) {
        <div
          class="folder-item"
          [ngStyle]="{
            'background-image': 'url(' + folderThumbPaths[0] + ')'
          }"
        ></div>
      }

      @if (folderThumbPaths[1]) {
        <div
          class="folder-item"
          [ngStyle]="{ left: '50%', top: '0%',
            'background-image': 'url(' + folderThumbPaths[1] + ')'
          }"
        ></div>
      }

      @if (folderThumbPaths[2]) {
        <div
          class="folder-item"
          [ngStyle]="{ left: '0%', top: '50%',
            'background-image': 'url(' + folderThumbPaths[2] + ')'
          }"
        ></div>
      }

      @if (folderThumbPaths[3]) {
        <div
          class="folder-item"
          [ngStyle]="{ left: '50%', top: '50%',
            'background-image': 'url(' + folderThumbPaths[3] + ')'
          }"
        ></div>
      }

    } <!-- end of `@else` -- the FOUR PREVIEWS template -->

    @if (showMeta()) {
      <span class="time folder-time">{{ video.duration | lengthPipe : 'folder' }}</span>
      <span class="rez folder-time">{{ video.fileSize | fileSizePipe : true }}</span>
    }

    </div> <!-- end of (A) div --->

  } @else {  <!-- ========================= UP FOLDER TEMPLATE ===================================== -->

    <div
      class="video-box folder"
      (click)="   videoClick.emit($event)"
      (dblclick)="videoClick.emit($event)"
      [ngStyle]="{ height: imgHeight() + 'px' }"
      >
      <div class="up-icon">
        <app-icon [icon]="'icon-chevron-left'" />
      </div>
    </div>

  }  <!-- end of UP FOLDER TEMPLATE --->


  @if (video.cleanName === '*FOLDER*' && video.fileName !== '*UP*') {
    <div class="folder-icon" style="pointer-events: none;">
      <app-icon [icon]="'icon-folder-blank'" />
      <div class="items-in-folder">{{ video.fileSizeDisplay | folderSizePipe }}</div>
    </div>
  }

  @if (showMeta() && video.fileName !== '*UP*') {
    <span
      [ngClass]="{ 'larger-font': largerFont() }"
      [ngStyle]="{ color: darkMode() ? '#BBBBBB' : '#000000' }"
      class="title"
    >
      {{ video.fileName }}
    </span>
  }

} @else { <!-- END of folder `video.cleanName === '*FOLDER*'` -->

<!-- ========================= INDIVIDUAL FILE TEMPLATE ======================================== -->

  <!-- (B) div -->
  <div
    #filmstripHolder
    class="video-box"
    (mousemove)="mouseIsMoving($event)"
    (mouseenter)="mouseEntered()"
    (mouseleave)="mouseLeft()"

    (click)="   videoClick.emit({ mouseEvent: $event, thumbIndex: indexToShow })"
    (dblclick)="videoClick.emit({ mouseEvent: $event, thumbIndex: indexToShow, doubleClick: true })"

    (contextmenu)="rightClick.emit({ mouseEvent: $event, item: video })"

    [ngStyle]="{ height: imgHeight() + 'px' }"
  >

    <img
      class="full-filmstrip"
      [ngStyle]="{ height: imgHeight() + 'px',
                  transform: 'translate(' + (-percentOffset) + '%, 0)' }"
      src="{{ hover ? fullFilePath : firstFilePath }}"
    >

  @if (video.selected) {
    <app-icon class="selected" [icon]="'icon-show-more-info'" />
  }

  @if (showFavorites()) {
    <app-icon
      class="heart"
      [ngClass]="{ 'heart-lit' : video.stars === 5.5 }"
      (click)="toggleHeart($event)"
      [icon]="'icon-heart'"
      title="{{ video.stars === 5.5 ? ('BUTTONS.removeFromFavorites' | translate)
                                    : ('BUTTONS.addToFavorites' | translate) }}"
     />
  }

    <app-icon
      title="{{ 'BUTTONS.viewDetails' | translate }}"
      class="sheet-icon"
      [icon]="'icon-show-thumbnails'"
      (click)="openDetailsView($event)"
    />

    <div
      class="playlist-icon"
      [ngClass]="{ 'playlist-icon-active' : video.playlist }"
      (click)="togglePlaylist($event)"
      title="{{ video.playlist ? ('BUTTONS.removeFromPlaylist' | translate)
                              : ('BUTTONS.addToPlaylist' | translate) }}"
    >
      <app-icon [icon]="'icon-playlist'" />
    </div>

  @if (showMeta()) {
    <span class="rez" [ngClass]="{ 'dark-style': darkMode() }">{{ video.fileSizeDisplay }}
      @if (video.resolution) { <span class="time rez-new">{{ video.resolution }}</span>}
    </span>

    <span class="time" [ngClass]="{ 'dark-style': darkMode() }">{{ video.durationDisplay }}</span>
  }

  @if (!connected()) {
    <span class="not-connected" title="{{ 'STATISTICS.notConnected' | translate }}"></span>
  }

  </div> <!-- end of (B) div --->


@if (showMeta()) {
  <span
    [ngClass]="{ 'larger-font': largerFont() }"
    [ngStyle]="{ color: darkMode() ? '#BBBBBB' : '#000000' }"
    class="title"
  >
    {{ video.cleanName }}
  </span>
}

} <!-- end of the @else -- the INDIVIDUAL FILE TEMPLATE -->

</div>
