<div
  [ngStyle]="{
      height: elHeight + 'px',
      width: elWidth + 'px'
    }"
  class="filmstrip-container"
  [ngClass]="{ 'compact-margins': compactView }"
>

  <div *ngIf="video.cleanName === '*FOLDER*'; else singleThumbnail">
    <div
      *ngIf="video.fileName !== '*UP*'; else upFolderDiv"
      class="video-box folder"
      (mousemove)="mouseIsMoving($event)"
      (click)="videoClick.emit($event)"
      [ngStyle]="{ height: imgHeight + 'px' }"
    >

      <!-- Show one thumbnail if there is only one video inside the folder -->
      <div
        *ngIf="!folderThumbPaths[1] && folderThumbPaths[0]; else fourPreviews"
        class="folder-item-fullsize"
        [ngStyle]="{
          'background-image': 'url(' + folderThumbPaths[0] + ')'
        }"
      ></div>

      <span *ngIf="showMeta" class="time folder-time">{{ video.duration | lengthPipe : 'folder' }}</span>
    </div>

    <div *ngIf="video.cleanName === '*FOLDER*' && video.fileName !== '*UP*'" class="folder-icon">
      <app-icon [icon]="'icon-folder-blank'"></app-icon>
      <div class="items-in-folder">{{ video.fileSizeDisplay }}</div>
    </div>

    <span
      *ngIf="showMeta && video.fileName !== '*UP*'"
      [ngClass]="{ 'larger-font': largerFont }"
      [ngStyle]="{ color: darkMode ? '#BBBBBB' : '#000000' }"
      class="title"
    >
      {{ video.fileName }}
      <div
        *ngIf="showMeta"
        class="fileSize"
      >
        {{ video.fileSize | fileSizePipe }}
      </div>
    </span>
  </div>

</div>

<!-- ========================= UP FOLDER TEMPLATE ============================================== -->
<ng-template #upFolderDiv>

  <div
    class="video-box folder"
    (click)="videoClick.emit($event)"
    [ngStyle]="{ height: imgHeight + 'px' }"
  >
    <div class="up-icon">
      <app-icon [icon]="'icon-chevron-left'"></app-icon>
    </div>
  </div>

</ng-template>

<!-- ========================= FOUR PREVIEWS TEMPLATE ========================================== -->
<ng-template #fourPreviews>

  <div
    *ngIf="folderThumbPaths[0]"
    class="folder-item"
    [ngStyle]="{
      'background-image': 'url(' + folderThumbPaths[0] + ')'
    }"
  ></div>
  <div
    *ngIf="folderThumbPaths[1]"
    class="folder-item"
    [ngStyle]="{
      left: '50%',
      top: '0%',
      'background-image': 'url(' + folderThumbPaths[1] + ')'
    }"
  ></div>
  <div
    *ngIf="folderThumbPaths[2]"
    class="folder-item"
    [ngStyle]="{
      left: '0%',
      top: '50%',
      'background-image': 'url(' + folderThumbPaths[2] + ')'
    }"
  ></div>
  <div
    *ngIf="folderThumbPaths[3]"
    class="folder-item"
    [ngStyle]="{
      left: '50%',
      top: '50%',
      'background-image': 'url(' + folderThumbPaths[3] + ')'
    }"
  ></div>

</ng-template>

<!-- ========================= INDIVIDUAL FILE TEMPLATE ======================================== -->
<ng-template #singleThumbnail>

  <div
    #filmstripHolder
    class="video-box"
    (mousemove)="mouseIsMoving($event)"
    (mouseenter)="mouseEntered()"
    (mouseleave)="mouseLeft()"
    (click)="videoClick.emit({ mouseEvent: $event, thumbIndex: indexToShow })"
    (contextmenu)="rightClick.emit({ mouseEvent: $event, item: video })"
    [ngStyle]="{
        height: imgHeight + 'px',
        'background-image': 'url(' + (hover ? fullFilePath : firstFilePath) + ')',
        'background-position-x': percentOffset + '%'
      }"
  >
    <app-icon
      *ngIf="video.selected"
      class="selected"
      [icon]="'icon-show-more-info'"
    ></app-icon>
    <span *ngIf="showMeta" class="time">{{ video.durationDisplay }}</span>
    <span *ngIf="showMeta" class="rez">{{ video.resolution }}</span>
    <span *ngIf="!connected" class="not-connected"></span>
  </div>
  <!--
    .sheet-icon needs to be the next sibling of .video-box for hover to work
      DO NOT SEPARATE!
  -->
  <app-icon
    class="sheet-icon"
    [icon]="'icon-show-thumbnails'"
    (click)="sheetClick.emit()"
  ></app-icon>

  <span
    *ngIf="showMeta"
    [ngClass]="{ 'larger-font': largerFont }"
    [ngStyle]="{ color: darkMode ? '#BBBBBB' : '#000000' }"
    class="title"
  >
    {{ video.cleanName }}
    <div
      *ngIf="showMeta"
      class="fileSize"
    >
      {{ showMeta ? '(' + video.fileSizeDisplay + ')' : '' }}
    </div>
  </span>

</ng-template>
