<div
  [ngStyle]="{ height: elHeight + 'px'}"
  class="meta-container"
  [ngClass]="{ 'compact-margins' : compactView }"
>
  <div
    #filmstripHolder
    (mousemove)="updateFilmXoffset($event)"
    (click)="   videoClick.emit({ mouseEvent: $event, thumbIndex: indexToShow })"
    (dblclick)="videoClick.emit({ mouseEvent: $event, thumbIndex: indexToShow, doubleClick: true })"
    (contextmenu)="rightClick.emit({ mouseEvent: $event, item: video })"
    class="filmstrip-container"
    [ngStyle]="{
        height: imgHeight + 'px',
        'background-image': 'url(' + fullFilePath + ')',
        'background-position-x': '-' + filmXoffset + 'px',
        'background-size': 'auto ' + imgHeight + 'px'
      }"
  >
    @if (showMeta) { <span class="time">{{ video.durationDisplay }}</span> }
    @if (showMeta) { <span class="rez">{{ video.resolution }}</span> }
  </div>

@if (video.selected) {
  <app-icon
    class="selected"
    [icon]="'icon-show-more-info'"
  ></app-icon>
}

@if (showFavorites) {
  <app-icon
    (click)="toggleHeart()"
    class="heart"
    [ngClass]="{ 'heart-lit' : video.stars === 5.5 }"
    [icon]="'icon-heart'">
  </app-icon>
}

@if (showMeta && !compactView) {
  <span
    [ngClass]="{ 'larger-font': largerFont }"
    [ngStyle]="{ color: darkMode ? '#BBBBBB' : '#000000' }"
    class="title"
  >
    {{ video.cleanName }}
  @if (showMeta) {
    <div class="fileSize">
      ({{ video.fileSizeDisplay }})
    </div>
  }
  </span>
}

</div>
