@use "../variables";

.title-bar {
  background-color: variables.$gray-40;
  border-bottom: 1px solid variables.$gray-60;
  height: 20px;
  position: relative;
  transition: 300ms;
  width: 100%;
  z-index: 9999;

  img {
    position: relative;
    top: 1px;
  }
}

.draggable {
  -webkit-app-region: drag;
  color: variables.$gray-70;
  font-size: 12px;
  margin-top: 4px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  transition: 300ms;
  white-space: nowrap;
  width: calc(100vw - 70px);
}

.window-button {
  display: inline-block;
  width: 15px;
}

.top-logo {
  margin: -2px 8px 0 4px;
}

.heading-title {
  display: inline-block;
  transform: translate(0, -3px);
}

.windows-button {
  cursor: pointer;
  fill: variables.$gray-80;
  position: fixed;
  transition: 600ms;
  transition-property: fill;

  &.closeButton {
    padding-right: 7px;
    padding-top: 2px;
    right: 0;
  }

  &.maximizeButton {
    padding-top: 2px;
    right: 26px;
  }

  &.minimizeButton {
    padding-top: 2px;
    right: 46px;
  }

  &:hover {
    fill: variables.$pretty-red;
    transition: 200ms;
    transition-property: fill;
  }
}

.mac-button {
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  height: 13px;
  padding: 0;
  position: fixed;
  top: 4px;
  transition: 400ms;
  width: 13px;

  &.closeButton {
    background: variables.$close-button;
    fill: variables.$close-button;
    left: 6px;

    & .window-button {
      transform: translate(-1px, -1px) !important;
    }
  }

  &.maximizeButton {
    background: variables.$maximize-button;
    fill: variables.$maximize-button;
    left: 46px;

    & .window-button {
      transform: translate(-1px, -1px) !important;
    }
  }

  &.minimizeButton {
    background: variables.$minimize-botton;
    fill: variables.$minimize-botton;
    left: 26px;

    & .window-button {
      transform: translate(-1px, -1px) !important;
    }
  }

  &:hover {
    fill: variables.$black;
    transition: 200ms;
  }
}

.dark-mode-override { // needs to be after titleBar and windows-button and draggable
  background: variables.$gray-85;

  & .draggable {
    fill: variables.$gray-50;
  }

  & .windows-button {
    fill: variables.$gray-30;

    &:hover {
      fill: variables.$pretty-red;
      transition: 200ms;
    }
  }
}
