.filmOverride {
  display: initial;

  .item {
    width: initial;
    max-width: calc(100% - 22px);
    height: 85px;

    &:after {
      padding-top: 0;
    }
  }
}

.large-filmstrip {
  height: 190px !important;
}
