<div 
  [ngClass]="{ 'larger-size': largerSize }"
  class="filmstrip-container"
>

  <ng-container *ngIf="hover">
    <div
      *ngFor="let item of stuff; let i = index"
      (mouseover)="showThisOne(i)"
      [ngStyle]="{'left': 10 * i + '%' }"
      class="hoverable"
    >
    </div>
  </ng-container>

  <img
    *ngFor="let item of stuff; let i = index"
    [ngClass]="{ 'larger-size': largerSize }"
    [ngStyle]="{'right': 'calc(' + (9 - i) + ' * (100% - ' + width + 'px)/9)', 'z-index': indexArray[i] }"
    [src]="sanitizer.bypassSecurityTrustUrl(folderPath + '/' + stuff[i])"
    class="screencap"
  >

</div>
