.filmstrip-container {
  background: black;
  height: 100px;
  overflow-y: hidden;
  position: relative;
  width: 100%;
}

.hoverable {
  border: 0;
  height: 100%;
  position: absolute;
  width: 10%;
  z-index: 100;
}

.screencap {
  border: 3px solid black;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  height: 100px;
  position: absolute;
}

.larger-size {
  height: 200px;
}