.filmOverride {
  display: initial;

  .item {
    height: 85px;
    margin: 5px 15px 50px;
    max-width: calc(100% - 22px);
    width: initial;

    &:after {
      padding-top: 0;
    }
  }
}

.large-filmstrip {
  height: 190px !important;
}
