<div
  class="filmstrip-container"
  [ngStyle]="{ height: imgHeight + 'px'}"
>

  <ng-container *ngIf="!hoverDisabled && hover">
    <div
      *ngFor="let item of stuff; let i = index"
      (mouseover)="showThisOne(i)"
      [ngStyle]="{'left': 10 * i + '%' }"
      class="hoverable"
    >
    </div>
  </ng-container>

  <img
    *ngFor="let item of stuff; let i = index"
    [ngStyle]="{
        'right': 'calc(' + (9 - i) + ' * (100% - ' + width + 'px)/9)',
        'z-index': indexArray[i],
        'height': imgHeight + 'px'
      }"
    [src]="sanitizer.bypassSecurityTrustUrl(folderPath + '/' + stuff[i])"
    class="screencap"
  >

</div>
