virtual-scroll {
  display: block;
  width: 350px;
  height: 200px;
}

list-item {
  display: block;
  width: 100%;
  height: 30px;
}

.metadata {
  position: relative;
}

.length {
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
  position: absolute;
  right: 0;
  transform: translate(-4px, -14px);
  // text-shadow: 0 0 1px black;
}

.size {
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
  position: absolute;
  left: 0;
  transform: translate(4px, -14px);
  // text-shadow: 0 0 1px black;
}

// .gallery {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-around;
//   width: 100%;
// }

// .item {
//   margin: 10px;
//   max-width: 200px;
//   cursor: pointer;
//   border: 1px solid black;
// }

// .preview {
//   width: 180px;
//   height: 90px;
//   margin: 10px;
// }

.title {
  display: inline-block;
  color: #777777;
  font-size: 12px;
}

.folder {
  display: inline-block;
  color: #5D5D5D;
  font-size: 8px;
  padding-top: 10px;
}

.gallery {
  padding: 1px;
  font-size: 0;
  flex-flow: row wrap;
  display: flex;
}
.item {
  flex: auto;
  height: 100px;
  margin-bottom: 40px !important; // room for folder and file name
  margin: 10px;
  min-width: 174px; // 16:9 ratio with height
  max-width: 174px; //      rounded down from 178px to avoid common black bars

  &:after {
    padding-top: 56%; // to preserve ratio
    display: block;
    content: '';
  }
}
.preview {
  width: 100%;
  height: 100%;
}

.fileNamePadding {
  margin-bottom: 0px !important;
}


// .gallery {
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
//   grid-auto-rows: minmax(110px, 150px);
//   grid-gap: 20px;
// }

// .item {
//   position: relative;
//   background: yellow;
//   // text-align: center;
//   border: 1px solid red;
//   min-height: 50px;
// }

// .preview {
//   width: 100%;
//   height: 100%;
// }
