$top-region: 100px;

.top-content-position {
  position: absolute;
  left: 20px;
  top: 20px;
}

.everything {
  width: 100%;
  height: 100vh;
  border: 2px solid red;
  box-sizing: border-box;
}

.top {
  padding: 10px;
  width: 100%;
  height: $top-region;
  border: 2px solid green;
  box-sizing: border-box;
}

.search {
  padding: 10px;
  width: 200px;
  height: calc( 100vh - 120px );
  border: 2px solid blue;
  box-sizing: border-box;
}

.gallery-container {
  position: fixed;
  top: $top-region;
  left: 202px;
  width: calc(100vw - 200px);
  height: calc(100vh - 100px);
  border: 2px solid yellow;
  box-sizing: border-box;
  overflow-y: scroll;
  padding-bottom: 100px;
}

button {
  background: #FFB0D7;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid white;
  padding: 10px;
}
