$top-region: 100px;

.everything {
  width: 100%;
  height: 100vh;
  border: 2px solid red;
  box-sizing: border-box;
}

.top {
  padding: 10px;
  width: 100%;
  height: $top-region;
  border: 2px solid green;
  box-sizing: border-box;
}

.search {
  padding: 10px;
  width: 200px;
  height: calc( 100vh - 120px );
  border: 2px solid blue;
  box-sizing: border-box;
}

.gallery-container {
  position: fixed;
  top: $top-region;
  left: 202px;
  width: calc(100vw - 204px);
  border: 2px solid yellow;
  box-sizing: border-box;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.video {
  margin: 10px;
  cursor: pointer;
}

.title {
  color: #777777;
  font-size: 12px;
  font-weight: initial;
}

input {
  border-radius: 5px;
  font-size: 12px;
  padding: 8px;
  border: 1px solid #666666;
  outline: none;
}

button {
  background: #EE88BB;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid white;
  padding: 10px;
}
