<div class="window">

  <header class="top toolbar toolbar-header">

    <div *ngIf="importDone; else progressBar">
      <app-top-component
        class="top-content-position"
        [fileString]="currentPlayingFile"
        [folderString]="currentPlayingFolder"
      ></app-top-component>
    </div>

    <ng-template #progressBar>
      <div *ngIf="progressPercent != 0" class="progress-container">
        <div class="current-progress" [ngStyle]="{width: progressPercent * 100 + '%'}"></div>
      </div>
    </ng-template>

  </header>


    <div class="window-content">
      <div class="pane-group">
        <div class="pane pane-sm sidebar">

<!-- SEARCH BUTTONS -->

          <div class="btn-group">
            <button
              (click)="toggleThis('folderUnion')"
              [ngClass]="{active: searchOptions.folder}"
              class="btn btn-mini btn-default"
              title="File search"
            >
              <span class="icon icon-folder"></span>
            </button>
            <button
              (click)="toggleThis('folder')"
              [ngClass]="{active: searchOptions.folder}"
              class="btn btn-mini btn-default"
              title="File search"
            >
              <span class="icon icon-folder"></span>
            </button>
            <button
              (click)="toggleThis('fileUnion')"
              [ngClass]="{active: searchOptions.file}"
              class="active btn btn-mini btn-default"
              title="Folder search"
            >
              <span class="icon icon-video"></span>
            </button>
            <button
              (click)="toggleThis('file')"
              [ngClass]="{active: searchOptions.file}"
              class="active btn btn-mini btn-default"
              title="Folder search"
            >
              <span class="icon icon-video"></span>
            </button>
            <button
              (click)="toggleThis('magic')"
              [ngClass]="{active: searchOptions.magic}"
              class="btn btn-mini btn-default"
              title="Magic search"
            >
              <span class="icon icon-search"></span>
            </button>
          </div>

<!-- SEARCH BOXES -->

          <nav class="nav-group">

            <ng-container *ngFor="let filter of filters; index as j">

              <ng-container *ngIf="searchOptions[filter.uniqueKey]">

                <h5 class="nav-group-title">
                  <input
                    (keyup.enter)="onEnterGeneral(filter.string, j)"
                    [(ngModel)]="filter.string"
                    class="form-control"
                    placeholder={{filter.placeholder}}
                    type="text"
                  >
                </h5>

                <h5 class="nav-group-title">
                  <ng-container *ngFor="let string of filter.array; index as i">
                    <span class="conjunction" *ngIf="i > 0">
                      {{ filter.conjunction }}
                    </span>
                    <span (click)="removeThisOneGeneral(i, j)" class="searchWord">
                      {{ string }}
                    </span>
                  </ng-container>
                </h5>

              </ng-container>

            </ng-container>

<!-- magic search and exclude search fields -->

            <ng-container *ngIf="searchOptions.magic">

              <h5 class="nav-group-title">
                <input
                  [(ngModel)]="magicSearchString"
                  type="text"
                  class="form-control"
                  placeholder="Magic search"
                >
              </h5>

              <h5 class="nav-group-title">
                <span
                  class="icon icon-record"
                  style="color: #fc605b; margin-right: 5px;"
                ></span>Magic: {{ magicSearchString }}

                <br>
                <br>

              </h5>


            </ng-container>

          </nav>
        </div>

<!-- THE GALLERY PANE -->

        <div class="pane">

          <div class="gallery-container">

<!-- GALLERY BUTTONS -->

            <div
              [ngClass]="{settingsRotated: searchOptions.gallerySettingsToggle}"
              class="gallerySettingsButtons"
            >

                <div class="btn-group">
                    <button
                      (click)="toggleThis('gallerySettingsToggle')"
                      [ngClass]="{active: searchOptions.gallerySettingsToggle}"
                      class="btn btn-mini btn-default gallerySettingsToggle"
                    >
                      <span class="icon icon-cog"></span>
                    </button>
                  </div>

              <div class="btn-group">
                <button
                  (click)="switchGalleryView('thumbs')"
                  [ngClass]="{active: (searchOptions.galleryView === 'thumbs')}"
                  class="btn btn-mini btn-default"
                >
                  <span class="icon icon-layout"></span>
                </button>
                <button
                  (click)="switchGalleryView('filmstrip')"
                  [ngClass]="{active: (searchOptions.galleryView === 'filmstrip')}"
                  class="active btn btn-mini btn-default"
                >
                  <span class="icon icon-menu"></span>
                </button>
                <button
                  (click)="switchGalleryView('files')"
                  [ngClass]="{active: (searchOptions.galleryView === 'files')}"
                  class="active btn btn-mini btn-default"
                >
                  <span class="icon icon-menu"></span>
                </button>
              </div>

              <div class="btn-group">
                <button
                  (click)="toggleThis('showFileName')"
                  [ngClass]="{active: searchOptions.showFileName}"
                  class="btn btn-mini btn-default"
                >
                  <span class="icon icon-tag"></span>
                </button>
              </div>

              <!-- <div class="btn-group">
                <button
                  (click)="toggleThis('none')"
                  [ngClass]="{active: searchOptions.none}"
                  class="active btn btn-mini btn-default"
                >
                  <span class="icon icon-cog"></span>
                </button>
              </div> -->

            </div>

<!-- GALLERY CODE -->

            <div class="gallery" [ngClass]="{filmOverride: searchOptions.galleryView !== 'thumbs'}">

              <!-- <virtual-scroll
                      [items]="finalArray"
                      [bufferAmount]="5"
                      [childWidth]="100"
                      [childHeight]="100"
                      (update)="viewPortItems = $event"
                    > -->

              <div
                class="item"
                [ngClass]="{
                    fileNamePadding: !searchOptions.showFileName && searchOptions.galleryView != 'files',
                    filesView: searchOptions.galleryView === 'files',
                    whenFilenamesHidden: searchOptions.galleryView === 'filmstrip' && !searchOptions.showFileName
                  }"
                *ngFor="let item of finalArray
                          | magicSearchPipe: magicSearchString
                          | fileSearchPipe: filters[0].array : filters[0].bool : true  : false
                          | fileSearchPipe: filters[1].array : filters[1].bool : false : false
                          | fileSearchPipe: filters[2].array : filters[2].bool : true  : true
                          | fileSearchPipe: filters[3].array : filters[3].bool : false : true
                          | limitPipe: numberToShow;
                          index as i"
              >

                <div *ngIf="searchOptions.galleryView === 'thumbs'">

                  <app-gallery-item
                    (click)="openVideo(item[3])"
                    [stuff]="item[3]"
                    [folderPath]="selectedOutputFolder"
                  ></app-gallery-item>

                </div>

                <div *ngIf="searchOptions.galleryView === 'filmstrip'">

                  <app-filmstrip-item
                    (click)="openVideo(item[3])"
                    [stuff]="item[3]"
                    [folderPath]="selectedOutputFolder"
                    [width]="item[6] || 171"
                  ></app-filmstrip-item>

                </div>

                <div *ngIf="searchOptions.galleryView === 'files' && searchOptions.showFileName">
                  <div class="folder" *ngIf="true | folderViewPipe: item[0]">
                    <span class="icon icon-folder"></span><span [innerHtml]="item[0] | folderArrowsPipe"></span>
                  </div>
                </div>

                <div class="metadata" *ngIf="searchOptions.showFileName || searchOptions.galleryView === 'files'">

                  <div class="length" *ngIf="searchOptions.showFileName">
                    {{ item[4] | lengthPipe }}
                  </div>

                  <div class="size" *ngIf="searchOptions.showFileName">
                    {{ item[5] }}
                  </div>

                  <div class="title" (click)="openVideo(item[3])">
                    {{ item[2] }}
                  </div>

                </div>

              </div>

              <!-- </virtual-scroll> -->

            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

<!-- WIZARD -->

  <div *ngIf="!importDone" class="wizard">

    <div [ngClass]="{'disabled-overlay': inProgress}"></div>

    <h3>Welcome to VideoHub</h3>

    <h5 class="nav-group-title">

      <button (click)="loadFromFile()" class="btn btn-mini btn-positive">
        Load from file
      </button>
    </h5>

    <h5 class="nav-group-title">or</h5>

    <h5 class="nav-group-title">
      <button (click)="selectSourceDirectory()" class="btn btn-mini btn-negative">
        Select input directory
      </button>
    </h5>

    <h5 class="nav-group-title">
      Source: {{ selectedSourceFolder }}
    </h5>

    <h5 class="nav-group-title">
      <button (click)="selectOutputDirectory()" class="btn btn-mini btn-negative">
        Select output directory
      </button>
    </h5>

    <h5 class="nav-group-title">
      Output: {{ selectedOutputFolder }}
    </h5>

    <h5 class="nav-group-title">
      <button
        [disabled]="selectedOutputFolder === '' && selectedSourceFolder === ''"
        (click)="importFresh()"
        class="btn btn-mini btn-positive"
      >
        Start the import
      </button>
    </h5>
  </div>

