// variable
$top-region: 100px;

// styling
.everything {
  width: 100%;
  height: 100vh;
  border: 2px solid red;
  box-sizing: border-box;
}

.top {
  background: #F3F3F3;
  height: $top-region;
  padding: 10px;
  width: 100%;
}

.top-content-position {
  left: 20px;
  position: absolute;
  top: 20px;
}
.search {
  background: #DDDDDD;
  box-sizing: border-box;
  height: calc( 100vh - 100px );
  padding: 10px;
  position: absolute;
  top: 100px;
  width: 200px;
}

.gallery-container {
  background: #AAAAAA;
  box-sizing: border-box;
  height: calc(100vh - 100px);
  left: 200px;
  overflow-y: scroll;
  padding-bottom: 100px;
  position: fixed;
  top: $top-region;
  width: calc(100vw - 200px);
}

button {
  background: #FFB0D7;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid white;
  padding: 10px;
}
