@import "variables";

// variable
$top-region: 45px;

$settings-height: 32px;

$sidebar-width: 190px;

/deep/ * {
  user-select: none;
}

.progress-modal {
  background: $gray-10;
  border-radius: 10px;
  border: 1px solid $gray-20;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
  box-sizing: border-box;
  padding: 20px;
  position: fixed;
  top: calc(50vh - 30px);
  width: 90vw;
  left: 5vw;
  z-index: 101;
}

.progress-container {
  background: $gray-50;
  border-radius: 3px;
  border: 1px solid $gray-60;
  box-sizing: border-box;
  height: 19px;
  width: 100%;

  .current-progress {
    background: #66b452;
    border-radius: 3px;
    height: 17px;
    transition: 500ms;
  }
}

.progress-numbers {
  font-size: 12px;
  color: $gray-40;
  float: right;
  margin-top: 10px;
}

// LAYOUT STYLING
.window {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.titleBar {
  background-color: $gray-40;
  border-bottom: 1px solid $gray-60;
  height: 20px;
  position: relative;
  transition: 300ms;
  width: 100%;
  z-index: 9999;

  img {
    position: relative;
    top: 1px;
  }
}

.draggable {
  -webkit-app-region: drag;
  color: #444444;
  font-size: 12px;
  left: 50px;
  position: absolute;
  text-align: center;
  top: 4px;
  transition: 300ms;
  width: calc(100vw - 110px);
}

.winBtn {
  color: #333333;
  cursor: pointer;
  position: fixed;
  transition: 100ms;
  &:hover {
    transition: 100ms;
    color: #ff6666;
  }

}

.dark-mode-override { // needs to be after titleBar and winBtn and draggable
  background: #222222;

  & .draggable {
    color: #888888;
  }

  & .winBtn {
    color: #aaaaaa;
    &:hover {
      transition: 100ms;
      color: #ff6666;
    }
  }
}

.closeButton {
  right: 7px;
  top: 2px;
}

.maximizeButton {
  right: 26px;
  top: 2px;
}

.minimizeButton {
  right: 46px;
  top: 2px;
}

.top {
  // background: #F3F3F3;
  // background: $gray-20;
  // background-image: linear-gradient(to bottom, #e4e4e4 0%, #cfcfcf 100%); // part of [ngStyle]
  // border-bottom: 1px solid $gray-30;
  // box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  height: $top-region;
  position: relative;
  transition: 900ms;
  width: 100%;
  z-index: 20;

}

.top-content-position {
  left: 10px;
  position: absolute;
  top: 5px;
}

.window-content {
  position: relative;
}

.allSettings {
  // background: $gray-20; // part of [ngStyle]
  border-bottom: 1px solid $gray-40;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  box-sizing: border-box;
  height: $settings-height;
  min-width: 500px;
  overflow: hidden;
  padding: 5px;
  position: absolute;
  transition: 300ms;
  width: 100%;
  z-index: 500;
}

.settingsModal {
  background: $gray-15;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  box-sizing: border-box;
  height: calc(100vh - 280px);
  left: 200px;
  min-width: 270px;
  overflow-y: scroll;
  padding: 5px 5px 50px;
  position: fixed;
  top: 265px;
  width: calc(100% - 215px);
  z-index: 500;

  @include scrollBar;

  .defaultSettingsButton {
    border-radius: 5px !important;
  }
}

.sidebar {
  box-sizing: border-box;
  height: 100vh;
  max-width: $sidebar-width !important;
  padding: 10px 10px 140px;
  position: absolute;
  top: $settings-height;
  transform: translate(0, 0);
  transition: 300ms;
  width: $sidebar-width;
  // don't alphabetize for some reason
  overflow-y: scroll;

  @include scrollBarHidden;
}

.sidebar-hidden {
  transform: translate(-$sidebar-width, 0);
  transition: 300ms;
}

.gallery-container {
  box-sizing: border-box;
  left: $sidebar-width;
  overflow-y: scroll;
  padding-bottom: 150px;
  position: absolute;
  top: $settings-height;
  transition: 300ms;
  width: calc(100vw - #{$sidebar-width});

  @include scrollBar;
}

.gallery-container-full-width {
  left: 0;
  transition: 300ms;
  width: 100vw;
}
