@import "variables";

// variable
$top-region: 50px;

$settings-height: 32px;

$sidebar-width: 190px;

/deep/ * {
  user-select: none;
}

.progress-container {
  background: $gray-50;
  border-radius: 3px;
  border: 1px solid $gray-60;
  box-sizing: border-box;
  height: 19px;
  margin: 15px;

  .current-progress {
    background: #66b452;
    border-radius: 3px;
    height: 17px;
  }
}

// LAYOUT STYLING
.window {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.titleBar {
  background-color: $gray-40;
  border-bottom: 1px solid $gray-60;
  height: 20px;
  position: relative;
  width: 100%;
  z-index: 9999;

  img {
    position: relative;
    top: 1px;
  }
}

.draggable {
  -webkit-app-region: drag;
  color: #444444;
  font-size: 12px;
  left: 50px;
  position: absolute;
  text-align: center;
  top: 4px;
  width: calc(100vw - 100px);
}

.closeButton {
  color: #333333;
  cursor: pointer;
  font-size: 14px;
  position: fixed;
  right: 7px;
  top: 2px;
  transition: 100ms;

  &:hover {
    transition: 100ms;
    color: #ff6666;
  }
}

.minimizeButton {
  color: #333333;
  cursor: pointer;
  font-size: 14px;
  position: fixed;
  right: 34px;
  top: 5px;
  transition: 100ms;

  &:hover {
    transition: 100ms;
    color: #ff6666;
  }
}

.top {
  // background: #F3F3F3;
  background-image: linear-gradient(to bottom, #e8e6e8 0%, #d1cfd1 100%);
  border-bottom: 1px solid $gray-50;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  height: $top-region;
  position: relative;
  width: 100%;
  z-index: 400;
}

.top-content-position {
  left: 10px;
  position: absolute;
  top: 5px;
}

.window-content {
  position: relative;
}

.allSettings {
  background: $gray-20;
  border-bottom: 1px solid $gray-50;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  box-sizing: border-box;
  height: $settings-height;
  padding: 5px;
  position: absolute;
  transition: 300ms;
  width: 100%;
  z-index: 500;
  overflow: hidden;
}

.allSettings2 {
  background: $gray-15;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  box-sizing: border-box;
  height: calc(100vh - 280px);
  left: 200px;
  overflow-y: scroll;
  padding: 5px 5px 50px;
  position: fixed;
  top: 100vh;
  transition: 300ms;
  width: calc(100% - 215px);
  z-index: 500;

  @include scrollBar;

}

.allSettingsExpanded {
  transition: 300ms;
  top: 265px;
}

.sidebar {
  background: $gray-15;
  box-sizing: border-box;
  height: 100vh;
  max-width: $sidebar-width !important;
  padding: 10px 10px 140px;
  position: absolute;
  top: $settings-height;
  transform: translate(0, 0);
  transition: 300ms;
  width: $sidebar-width;
  // don't alphabetize for some reason
  overflow-y: scroll;

  @include scrollBarHidden;
}

.sidebar-hidden {
  transform: translate(-$sidebar-width, 0);
  transition: 300ms;
}

.gallery-container {
  background: $gray-40;
  box-sizing: border-box;
  height: 100vh;
  left: $sidebar-width;
  overflow-y: scroll;
  padding-bottom: 100px;
  position: absolute;
  top: $settings-height;
  transition: 300ms;
  width: calc(100vw - #{$sidebar-width});

  @include scrollBar;

}

.gallery-container-full-width {
  left: 0;
  transition: 300ms;
  width: 100vw;
}
