@import "variables";

// variable
$top-region: 45px;

$settings-height: 32px;

$sidebar-width: 190px;

/deep/ * {
  user-select: none;
}

.reduceFlicker {
  background: #eeeeee;
  height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: 99999;
}

.progress-modal {
  background: $gray-10;
  border: 1px solid $gray-20;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
  box-sizing: border-box;
  left: 5vw;
  padding: 20px;
  position: fixed;
  top: calc(50vh - 30px);
  width: 90vw;
  z-index: 101;
}

.progress-container {
  background: $gray-50;
  border: 1px solid $gray-60;
  border-radius: 3px;
  box-sizing: border-box;
  height: 19px;
  width: 100%;

  .current-progress {
    background: #66b452;
    border-radius: 3px;
    height: 17px;
    transition: 500ms;
  }
}

.progress-numbers {
  color: $gray-40;
  float: right;
  font-size: 12px;
  margin-top: 10px;
}

// LAYOUT STYLING
.window {
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

.titleBar {
  background-color: $gray-40;
  border-bottom: 1px solid $gray-60;
  height: 20px;
  position: relative;
  transition: 300ms;
  width: 100%;
  z-index: 9999;

  img {
    position: relative;
    top: 1px;
  }
}

.draggable {
  -webkit-app-region: drag;
  color: #444444;
  font-size: 12px;
  position: absolute;
  text-align: center;
  top: 4px;
  transition: 300ms;
  width: calc(100vw - 70px);
}

.top {
  height: $top-region;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 20;
}

.top-content-position {
  left: 10px;
  position: absolute;
  top: 5px;
}

.window-content {
  position: relative;
  transition: 300ms;
  transition-property: transform;
}

.allSettings {
  // background: $gray-20; // part of [ngStyle]
  border-bottom: 1px solid $gray-40;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  box-sizing: border-box;
  height: $settings-height;
  min-width: 500px;
  overflow: hidden;
  padding: 5px;
  position: absolute;
  transition: 300ms;
  width: 100%;
  z-index: 500;
}

.settingsModal {
  background: $gray-15;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  box-sizing: border-box;
  height: calc(100vh - 280px);
  left: 200px;
  min-width: 270px;
  overflow-y: scroll;
  padding: 5px 5px 25px;
  position: fixed;
  top: 265px;
  width: calc(100% - 215px);
  z-index: 500;

  @include scrollBar;

  .defaultSettingsButton {
    border-radius: 5px !important;
  }
}

.sidebar {
  background: $gray-15;
  border-right: 1px solid $gray-30;
  box-sizing: border-box;
  height: 100vh;
  max-width: $sidebar-width !important;
  overflow-y: scroll;
  padding: 10px 10px 140px;
  position: absolute;
  top: $settings-height;
  transform: translate(0, 0);
  transition: 300ms;
  width: $sidebar-width;

  @include scrollBarHidden;
}

.sidebar-dark-mode {
  background: $gray-90;
  border: 1px solid $black;
}

.sidebar-hidden {
  transform: translate(-$sidebar-width, 0);
  transition: 300ms;
}

.gallery-container {
  box-sizing: border-box;
  left: $sidebar-width;
  overflow-y: scroll;
  padding-bottom: 150px;
  position: absolute;
  top: $settings-height;
  transition: 300ms;
  width: calc(100vw - #{$sidebar-width});

  @include scrollBar;
}

.gallery-dark-scroll {
  &::-webkit-scrollbar-track {
    background-color: $gray-70;
  }
}

.gallery-container-full-width {
  left: 0;
  transition: 300ms;
  width: 100vw;
}

.screenShotProgressPercent {
  // border: 1px solid red;
  font-size: 12px;
  position: fixed;
  right: 4px;
  top: 26px;
  z-index: 9999;
}

.cancelProgress {
  cursor: pointer;
  font-size: 10px;
  position: fixed;
  right: 42px;
  top: 36px;
  z-index: 9999;

  &:hover {
    color: $pretty-red;
  }
}

.bottom-tray {
  background: $gray-10;
  border-top: 1px solid $gray-50;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100vw;
}

.manual-tag-tray {
  box-sizing: border-box;
  height: 140px;
  padding: 20px;

  .manual-tag-tray-label {
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
  }

  .showFrequency {
    background: none;
    border: none;
    bottom: 10px;
    position: absolute;
    right: 10px;

    &:hover {
      color: $pretty-blue;
    }
  }
}

.most-similar-tray {
  box-sizing: border-box;
  // height - must be same as the hardcoded value in <virtual-scroller> height property
  //          & close to the .sidebar <div> `ngStyle` height property
  height: 170px;
  padding-top: 0;

  .most-similar-comment {
    color: $gray-70;
    display: inline-block;
    font-size: 12px;
    margin-left: 20px;
    margin-top: 20px;
    vertical-align: top;
    width: 170px;
  }

  .most-siilar-filename {
    display: block;
    font-size: 14px;
    margin-top: 15px;
  }
}

.no-clips-message {
  display: block;
  margin: 100px 0 0;
  text-align: center;
}

// TODO -- keep DRY -- this is taken from `inputFilter`
.manual-tag-tray-filter {
  background: transparent;
  border-color: $gray-80;
  border-width: 0 0 1px;
  box-sizing: border-box;
  font-size: 15px;
  outline: none;
  padding: 6px;
  padding-bottom: 0;
  position: absolute;
  right: 18px;
  top: 10px;
  width: 140px;

  &::placeholder {
    color: $gray-80;
  }
}
