<div
  class="filmstrip-container"
  [ngStyle]="{ height: imgHeight + 'px'}"
>

  <ng-container *ngIf="!showPlaceholder">

  <span *ngIf="showMeta" class="time">{{ time | lengthPipe }}</span>
  <span *ngIf="showMeta" class="rez">{{ rez }}</span>

  <div *ngIf="hoverScrub && hover && noError">
    <div
      *ngFor="let item of stuff; let i = index"
      (mouseover)="showThisOne(i)"
      [ngStyle]="{'left': 10 * i + '%' }"
      class="hoverable"
    >
    </div>
  </div>

  <img
    *ngIf="noError"
    [src]="sanitizer.bypassSecurityTrustUrl(folderPath + '/' + stuff[currentlyShowing])"
    [ngStyle]="{ height: imgHeight + 'px'}"
    class="screencap"
    @myAnimation9
  >

  </ng-container>

</div>
