.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.screencaps {
  // background-size: 100% 100% !important;
  // border-radius: 10px;
  // border: 1px solid black;
  box-shadow: 2px 2px 7px rgba(0,0,0,0.2);
  background-color: black !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.screencap {
  height: 100%;
  left: 50%;
  position: relative;
  top: 0px;
  transform: translate(-50%, 0);
}

.preview-hover-area {
  // border: 1px solid green; // for dev
  // background-color: rgba(0, 255, 0, 0.3);
  height: 80%;
  position: absolute;
  top: 0;
  width: 100%;
}

li {
  display: none;
  width: 0px;
  height: 13px;
  margin: 0px;
  border: 1px solid rgba(255, 0, 0, 0.3);
  vertical-align: bottom;
  position: absolute;
  bottom: 0;
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15px;
  background: rgba(0,0,0,0.2);
  display: none;
}

.hover-me-1,
.hover-me-2,
.hover-me-3,
.hover-me-4,
.hover-me-5 {
  // border: 1px solid black; // for dev
  height: 20%;
  position: absolute;
  text-align: center;
  top: 80%;
  width: 20%;
  z-index: 10;

  &:hover {
    li {
      display: inline-block;
    }

    ~ .overlay {
      display: block;
    }
  }
}

.hover-me-1 {
  left: 0;
}

.hover-me-2 {
  left: 20%;
  &:hover {
    ~ .screen2 {
      display: block !important;
    }

    ~ .screen1 {
      display: none;
    }
  }
}

.hover-me-3 {
  left: 40%;
  &:hover {
    ~ .screen3 {
      display: block !important;
    }

    ~ .screen1 {
      display: none;
    }
  }
}

.hover-me-4 {
  left: 60%;
  &:hover {
    ~ .screen4 {
      display: block !important;
    }

    ~ .screen1 {
      display: none;
    }
  }
}
.hover-me-5 {
  left: 80%;
  &:hover {
    ~ .screen5 {
      display: block !important;
    }

    ~ .screen1 {
      display: none;
    }
  }
}

.screen1 {
  display: block;
}

.screen2,
.screen3,
.screen4,
.screen5 {
  display: none;
}
