.filmstrip-container {
  background: black;
  box-shadow: 2px 2px 7px rgba(0,0,0,0.2);
  height: 100px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.hoverable {
  border: 0;
  height: 100%;
  position: absolute;
  width: 10%;
  z-index: 100;
}

.screencap {
  height: 100px;
  margin-left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
}
