.filmstrip-container {
  background: black;
  box-shadow: 2px 2px 7px rgba(0,0,0,0.2);
  height: 100px;
  overflow: visible;
  position: relative;
  width: 100%;
}

.hoverable {
  border: 0;
  height: 100%;
  position: absolute;
  width: 10%;
  z-index: 100;
  cursor: pointer;
}

.screencap {
  height: 100px;
  margin-left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
}

img:before {
  content: 'lol u mad?';  /* to prevent broken img icon from showing up */
  display: block;
  font-size: 20px;
  margin-top: 1000px;
}

.time, .rez {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  z-index: 2;
}

.time {
  bottom: 3px;
  right: 4px;
}

.rez {
  bottom: 4px;
  left: 3px;
}

.title {
  position: absolute;
  z-index: 2;
  color: #5D5D5D;
  font-size: 12px;
  cursor: pointer;
}
