
<!-- <img src="{{ folderPath + '/' + photo }}"> -->

<div class='wrapper'>

  <div
    class='screencaps'
    [ngStyle]="{background: 'url(' + folderPath + '/' + photo + ')'}"
  >

    <div
      (mouseleave)="stopCycle()"
      (mouseover)="startCycle()"
      class="preview-hover-area"
    >
    </div>


    <div *ngFor="let item of stuff; let i = index"
        class="hover-me-{{ i + 1 }}"
    >
      <li></li>
    </div>

    <img *ngFor="let item of stuff; let i = index"
        src="{{ folderPath + '/' + item }}"
        class="screencap screen{{ i + 1 }}">

    <div class="overlay"></div>

  </div>

</div>
