@import "variables";

$frequency-bar: #729aff;

.resolutionName {
  color: $gray-50;
  display: inline-block;
  font-size: 10px;
  text-align: center;
  transform: translate(-2px, 21px);
  width: 30px;
}

.frequencyGraphContainer {
  height: 20px;
  margin-left: 13px;
  position: relative;
  // border: 1px solid black;
  transform: translateY(27px); // TEMP
}

.frequency-bar {
  // border: 1px solid black;
  background-color: $frequency-bar;
  bottom: 0;
  display: inline-block;
  font-size: 10px;
  margin: 2px;
  position: absolute;
  text-align: center;
  width: 20px;
}

.frequencySliders {
  position: relative;
  width: 100%;
}
