.hidingSettingsMenu {
  cursor: pointer;
  left: 13px;
  position: absolute;
  top: 4px;
  transition: 100ms;
  transform-origin: 4px 8px;

  &:hover {
    transition: 100ms;
    transform: scale(1.5);
  }

}

.flipped {
  transition: 100ms;
  transform: rotate(180deg);

  &:hover {
    transition: 100ms;
    transform: rotate(180deg) scale(1.5);
  }
}

.filteringTotal {
  color: #BBBBBB;
  font-size: 12px;
  margin: 5px 0 15px;
  text-align: right;
}

.inputFilter {
  border: 0;
  border-bottom: 1px solid #AAAAAA;
  background: #DDDDDD; // same as search background
  // border-radius: 5px;
  // border: 1px solid #666666;
  box-sizing: border-box;
  font-size: 15px;
  outline: none;
  padding: 6px;
  padding-bottom: 0;
  margin: 5px 0 10px;
  width: 100%;

  &::placeholder {
    color: #999999;
  }
}

.searchWord {
  background: #DDFFDD;
  border-radius: 5px;
  border: 1px solid gray;
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  margin: 3px 0;
  padding: 2px;

  &:hover {
    text-decoration: line-through;
  }
}

.filteredWords {
  display: block;
  margin-bottom: 5px;
  min-height: 25px;
}

.conjunction {
  font-size: 10px;
  margin: 3px; // coincides with .searchWord margin-left: 0;
}

.notFiltered {
  font-size: 10px;

}
