@import "variables";

.hidingSettingsMenu {
  cursor: pointer;
  left: 13px;
  position: absolute;
  top: 34px;
  transition: 100ms;
  transform-origin: 4px 8px;
  z-index: 20;

  &:hover {
    transition: 100ms;
    transform: scale(1.5);
  }
}

.flipped {
  transition: 100ms;
  transform: rotate(180deg);

  &:hover {
    transition: 100ms;
    transform: rotate(180deg) scale(1.5);
  }
}

.filteringTotal {
  color: $gray-30;
  cursor: default;
  font-size: 12px;
  margin: 15px 0 15px;
  text-align: right;
}

.input-icon {
  color: $gray-50;
  font-size: 12px;
  position: absolute;
  transform: translate(3px, 14px);
}

.inputFilter {
  border: 0;
  border-bottom: 1px solid $gray-40;
  background: transparent;
  box-sizing: border-box;
  font-size: 15px;
  outline: none;
  padding: 6px 6px 6px 20px;
  padding-bottom: 0;
  margin: 5px 0 10px;
  width: 100%;
  // border-radius: 5px;
  // border: 1px solid #666666;

  &::placeholder {
    color: $gray-40;
  }
}

.searchWord {
  border-radius: 6px;
  // border: 1px solid $gray-40;
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.3);
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  margin: 3px 0;
  padding: 2px 4px 2px 4px;

  &:hover {
    text-decoration: line-through;
  }
}

.filteredWords {
  display: block;
  margin-bottom: 5px;
  min-height: 25px;
}

.conjunction {
  font-size: 10px;
  margin: 3px; // coincides with .searchWord margin-left: 0;
}

.notFiltered {
  font-size: 10px;
}

.frequency {
  margin-top: 20px;
  color: $gray-50;

  span {
    margin: 0 4px;
    cursor: pointer;
  }
}
