
input {
  border-radius: 5px;
  font-size: 12px;
  padding: 8px;
  border: 1px solid #666666;
  outline: none;
  margin: 10px;
  width: calc(100% - 40px);
}

.searchWord {
  background: #AAFFAA;
  border: 1px solid gray;
  display: inline-block;
  margin: 3px;
  padding: 2px;
  &:hover {
    text-decoration: line-through;
  }
}
