@import "variables";

$transition-length: 300ms;

.metaGroupButton {
  background-color: #c0c0c0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid gray;
  margin: 10px 10px -1px;
  padding: 8px;
  position: relative;
}

.metaGroupDivider {
  border-bottom: 1px solid gray;
  position: relative;
  z-index: 1;
}

.metaGroupSelected {
  background-color: #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  z-index: 10;
}

h2, h3 {
  font-size: 16px;
  color: $gray-60;
  margin: 15px 0 0 10px;
}

h3 {
  font-size: 14px;
}

.gearButton {
  cursor: pointer;
  color: $gray-40;
  font-size: 14px;
  position: absolute;
  right: 10px;
  top: 8px;
  transition: 370ms;

  &:hover {
    text-shadow: 0 0 7px rgba(255, 255, 255, 0.5);
    transition: 370ms;
    color: $gray-50;
  }
}

.credits-and-help {
  cursor: pointer;
  color: $gray-60;
  font-size: 12px;
  margin: 30px 70px;
}

.app-version {
  pointer-events: none;
  position: relative;
  text-align: right;

  img {
    transform: translate(-30px, -20px);
  }

  span {
    font-size: 12px;
    color: $gray-40;
  }
}

.closeSettings {
  cursor: pointer;
  float: right;
  margin-right: 3px;
  opacity: 1;
  position: sticky;
  top: 1px;
  transition-duration: 300ms;
  &:hover {
    color: #990000;
    transition-duration: 300ms;
  }
}

.gearButtonActive {
  color: $gray-60;
  transform: rotate(180deg);
  transform-origin: 6.5px 7.5px;
  transition: 370ms;
}

.searchSettingsButtons {
  float: left;
  margin-right: 8px;
  max-height: 23px;
  z-index: 2;
}

.buttonSpacer {
  display: inline-block;
  height: 10px;
  margin: 3px;
  width: 10px;
  transition: $transition-length;
}

.buttonSpacerExpanded {
  width: 30px;
  transition: $transition-length;
}

.gallerySettingsButtons {
  left: 245px;
  position: absolute;
  top: 4px;
  z-index: 2;
}

.searchButtonsSettings,
.galleryButtonsSettings {
  left: 20px;
  max-width: calc(100% - 30px);
  transform: translate(-10px, 0);
  position: relative;
  top: 20px;
  transition: 100ms;
}

.extraSettings {
  margin: 15px 15px 15px 50px;
}

.extraSettingsText {
  color: $gray-50;
  font-size: 12px;
  left: 27px;
  line-height: 20px;
}

.buttonDescription {
  display: block;
  max-height: 41px;
  min-height: 41px;   // also hardcoded in home.component as [ngStyle]
  position: relative;

  input {
    display: none;
  }
}

.buttonDescriptionText {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  color: $black;
  display: -webkit-box;
  font-size: 12px;
  left: 60px;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 3px;
}

.buttonOpacityLower {
  opacity: 0.7;
}

.eyeIconContainer {
  cursor: pointer;
  display: block;
  left: 35px;
  position: absolute;
  top: 1px;
}

.eye-open {
  &:before {
    font-family: "vh-icon-font";
    content: '\f17f';
    display: inline-block;
  }
}

.eye-closed {
  &:before {
    font-family: "vh-icon-font";
    content: '\f17b';
    display: inline-block;
  }
}

.showButtonLabel {
  bottom: 0;
  color: $gray-40;
  font-size: 10px;
  left: 0;
  position: absolute;
  text-align: center;
  transform: translate(-17px, 45px);
  width: 50px;
}

.shortcutMenu {
  margin: 15px;
  font-size: 12px;
}

.key {
  background: #EEEEEE;
  border-radius: 3px;
  border: 1px solid #888888;
  color: black;
  display: inline-block;
  font-style: normal;
  margin-right: 6px;
  padding: 3px 5px 3px 5px;
  text-align: center;
  width: 16px;
}

.modifierKey {
  line-height: 20px;
  margin-right: initial;
  margin: 0 4px;
  padding: 3px 10px;
  width: initial;
}

.listElement {
  margin: 0 0 16px 0;
  padding: 0;
  line-height: 20px;
  list-style: none;
}

.without-numbers {
  padding-inline-start: 38px;
}
