@import "variables";

$transition-length: 300ms;

.metaGroupButton {
  background-color: #c0c0c0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid gray;
  margin: 10px 10px -1px;
  padding: 8px;
  position: relative;
}

.metaGroupDivider {
  border-bottom: 1px solid gray;
  position: relative;
  z-index: 1;
}

.metaGroupSelected {
  background-color: #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  z-index: 10;
}

h2, h3 {
  font-size: 16px;
  color: $gray-60;
  margin: 15px 0 0 10px;
}

h3 {
  font-size: 14px;
}

.gearButton {
  cursor: pointer;
  fill: $gray-40;
  font-size: 14px;
  height: 15px;
  position: absolute;
  right: 10px;
  top: 8px;
  transition: 370ms;
  width: 15px;

  &:hover {
    fill: $gray-50;
    text-shadow: 0 0 7px rgba(255, 255, 255, 0.5);
    transition: 370ms;
  }
}

.credits-and-help {
  color: $gray-60;
  cursor: pointer;
  font-size: 14px;
  margin: 30px 70px 0;
  padding-top: 30px;
  text-align: center;
}

.app-version {
  pointer-events: none;
  position: relative;
  text-align: right;

  img {
    transform: translate(-30px, -20px);
  }

  span {
    font-size: 12px;
    color: $gray-40;
  }
}

.closeSettings {
  cursor: pointer;
  float: right;
  margin-right: 3px;
  opacity: 1;
  position: sticky;
  top: 1px;
  transition-duration: 300ms;
  &:hover {
    color: #990000;
    transition-duration: 300ms;
  }
}

.gearButtonActive {
  color: $gray-60;
  transform: rotate(180deg);
  transform-origin: 7.5px 7.5px;
  transition: 370ms;
}

.searchSettingsButtons {
  float: left;
  margin-right: 8px;
  max-height: 23px;
  z-index: 2;
}

.buttonSpacer {
  display: inline-block;
  height: 10px;
  margin: 3px;
  width: 10px;
  transition: $transition-length;
}

.buttonSpacerExpanded {
  width: 30px;
  transition: $transition-length;
}

.gallerySettingsButtons {
  left: 245px;
  position: absolute;
  top: 4px;
  z-index: 2;
}

.searchButtonsSettings,
.galleryButtonsSettings {
  left: 20px;
  max-width: calc(100% - 30px);
  transform: translate(-10px, 0);
  position: relative;
  top: 20px;
  transition: 100ms;
}

.extraSettings {
  margin: 15px 15px 15px 50px;
}

.misc-settings {
  margin: 60px 20px 20px 10px;
}

.extraSettingsText {
  color: $gray-50;
  font-size: 12px;
  left: 27px;
  line-height: 20px;
}

.setting-heading {
  display: block;
  margin-bottom: 24px;
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid $gray-40;
}

.buttonDescription {
  display: block;
  margin-bottom: 12px;
  max-height: 41px;
  min-height: 41px;   // also hardcoded in home.component as [ngStyle]
  position: relative;

  input {
    display: none;
  }
}

.buttonDescriptionText {
  display: -webkit-box !important;
  -webkit-line-clamp: 3 !important;
  -webkit-box-orient: vertical !important;
  color: $black;
  font-size: 14px;
  left: 80px;
  position: absolute;
  top: 2px;
}

.buttonOpacityLower {
  opacity: 0.7;
}

.eyeIconContainer {
  cursor: pointer;
  display: block;
  left: 42px;
  position: absolute;
  top: 1px;
}

.eye-open {
  &:before {
    font-family: "vh-icon-font";
    content: '\f17f';
    display: inline-block;
  }
}

.eye-closed {
  &:before {
    font-family: "vh-icon-font";
    content: '\f17b';
    display: inline-block;
  }
}

.showButtonLabel {
  bottom: 0;
  color: $gray-40;
  font-size: 10px;
  left: 0;
  position: absolute;
  text-align: center;
  transform: translate(-17px, 45px);
  width: 50px;
}

.shortcutMenu {
  margin: 40px 30px;
  font-size: 14px;
}

.languageDropDown {
  border-radius: 5px;
  padding: 6px;
}

.numSelect {
  border: 1px solid $gray-50;
  margin: 0 3px 0 !important;
  width: 30px;
  user-select: none;
}

.ssNumSelection {
  font-size: 12px;
  margin-left: 10px;
}

input[type="radio"] {
  -webkit-appearance: inherit;
  border-radius: 10px;
  border: 1px solid $gray-50;
  cursor: pointer;
  height: 15px;
  outline: none;
  transform: translate(0, 5px);
  width: 15px;
}

input[type="radio"]:checked:before {
  background: #729aff;
  border-radius: 10px;
  border: 3px solid $gray-10;
  content:"";
  height: 7px;
  position: absolute;
  width: 7px;
}

.dim-row {
  opacity: 0.5;
}

.more-info {
  border-radius: 50%;
  border: 1px solid #729aff;
  color: #729aff;
  cursor: none;
  display: inline-block;
  font-size: 11px;
  font-style: italic;
  height: 12px;
  text-align: center;
  transition-duration: 150ms;
  transition-property: color border-color;
  width: 12px;

  &:hover {
    border-color: white;
    color: white;
    transition-duration: 150ms;
    transition-property: color border-color;
  }
}

.tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  width: 70vw;
  bottom: 100%;
  left: 10px;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
  position: absolute;
  z-index: 1;
}

.more-info:hover + .tooltip-text {
  visibility: visible;
}

.sortDropdown {
  margin: 15px 0 10px;
  max-width: 166px;
  min-width: 166px;
}

.key {
  background: #EEEEEE;
  border-radius: 3px;
  border: 1px solid #888888;
  color: black;
  display: inline-block;
  font-style: normal;
  margin-right: 6px;
  padding: 3px 5px 3px 5px;
  text-align: center;
  width: 16px;
}

.modifierKey {
  line-height: 20px;
  margin-right: initial;
  margin: 0 4px;
  padding: 3px 10px;
  width: initial;
}

.listElement {
  line-height: 20px;
  list-style: none;
  margin: 0 0 16px 0;
  padding: 0;
}

.without-numbers {
  padding-inline-start: 34px;
}

.zoom-buttons {
  margin: 20px;

  button {
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    min-width: 36px;
    min-height: 36px
  }
}
