@import "variables";

$transition-length: 300ms;

h2 {
  font-size: 16px;
  color: $gray-60;
  margin: 15px 0 0 10px;
}

.gearButton {
  color: $gray-40;
  font-size: 14px;
  position: absolute;
  right: 10px;
  top: 8px;
  transition: 370ms;

  &:hover {
    text-shadow: 0 0 7px rgba(255, 255, 255, 0.5);
    transition: 370ms;
    color: $gray-50;
  }
}

.closeSettings {
  cursor: pointer;
  opacity: 1;
  position: fixed;
  right: 29px;
  top: 270px;
  transition-delay: 300ms;
  transition-duration: 300ms;
  &:hover {
    color: #990000;
    transition-delay: 50ms;
    transition-duration: 300ms;
  }
}

.closeSettingsHidden {
  opacity: 0;
  transition: 50ms;
}

.gearButtonActive {
  color: $gray-60;
  transform: rotate(-100deg);
  transition: 370ms;
}

.searchSettingsButtons {
  float: left;
  margin-right: 8px;
  max-height: 23px;
  z-index: 2;
}

.buttonSpacer {
  display: inline-block;
  height: 10px;
  margin: 3px;
  width: 10px;
  transition: $transition-length;
}

.buttonSpacerExpanded {
  width: 30px;
  transition: $transition-length;
}

.gallerySettingsButtons {
  left: 245px;
  position: absolute;
  top: 4px;
  z-index: 2;
}

.horizontalDivider {
  margin: 20px 10px 0px;
  border-bottom: 1px solid $gray-40;
}

.searchButtonsSettings,
.galleryButtonsSettings {
  left: 20px;
  max-width: calc(100% - 30px);
  opacity: 0;
  position: relative;
  top: 20px;
  transition: 100ms;
}

.extraSettings {
  margin: 15px 15px 15px 50px;
}

.extraSettingsText {
  color: $gray-50;
  font-size: 12px;
  left: 27px;
  line-height: 20px;
}

.searchButtonsSettingsInView,
.galleryButtonsSettingsInView {
  transform: translate(-10px, 0);
  opacity: 1;
  transition: 700ms;
}

.buttonDescription {
  display: block;
  max-height: 41px;
  min-height: 41px;   // also hardcoded in home.component as [ngStyle]
  position: relative;

  input {
    display: none;
  }
}

.buttonDescriptionText {
  color: $gray-50;
  cursor: pointer;
  display: block;
  font-size: 12px;
  left: 60px;
  position: absolute;
  top: 5px;
}

.buttonDescriptionTextGallery {
  max-height: 30px;
  // overflow: hidden;
  // text-overflow: ellipsis;
  top: 3px;
  width: calc(100vw - 330px);
}

.buttonOpacityLower {
  opacity: 0.7;
}

.inputCheckbox {
  display: inline-block;
  cursor: pointer;
}

.eye-open {
  &:before {
    font-family: "photon-entypo";
    content: '\e826';
    transform: translate(8px, 1px);
    font-size: 13px !important;
    display: inline-block;
  }
}

.eye-closed {
  &:before {
    font-family: "photon-entypo";
    content: '\e87b';
    transform: translate(8px, 1px);
    font-size: 13px !important;
    display: inline-block;
  }
}

.showButtonLabel {
  bottom: 0;
  color: $gray-40;
  font-size: 10px;
  left: 0;
  position: absolute;
  text-align: center;
  transform: translate(-17px, 45px);
  width: 50px;
}
