$transition-length: 300ms;

button {
  border: 1px solid #BBBBBB; // don't alphabetize this one
  background: #dadada;
  border-left: 1px solid #EEEEEE;
  border-radius: 5px;
  border-top: 1px solid #EEEEEE;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  cursor: pointer;
  margin: 0;
  min-width: 22px;
  min-height: 22px;
  max-width: 22px;
  max-height: 22px;
  outline: none;
  padding: 2px;
  transition: $transition-length;

  & .icon {
    &:before {
      color: #000000;
      transform: translate(-1px, -1px);
      transition: $transition-length;
    }
  }

  &:hover {
    background-color: #EEEEEE;
  }

  span {
    cursor: pointer;
    transition: $transition-length;
  }
}

.active {
  background: #a9a9a9 !important;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 0px;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 0px;
  transform: translate(1px, 1px);
  margin-bottom: 1px;

  &:hover {
    background-color: #B5B5B5 !important;
  }

  & .icon {
    &:before {
      color: #FFFFFF;
      transform: translate(0px, 0px);
      transition: $transition-length;
    }
  }

  span {
    transition: $transition-length;
  }
}

.gearButton {
  color: #AAAAAA;
  font-size: 14px;
  left: 10px;
  position: absolute;
  top: 8px;
  transition: 370ms;

  &:hover {
    text-shadow: 0 0 7px rgba(255, 255, 255, 0.5);
    transition: 370ms;
    color: #777777;
  }
}

.gearButtonActive {
  color: #666666;
  transform: rotate(-100deg);
  transition: 370ms;
}

.searchSettingsButtons {
  position: absolute;
  left: 35px;
  overflow: hidden;
  transform-origin: 13px 13px;
  transition: $transition-length;
  z-index: 2;
}

.buttonRightSideUp {
  transform: rotate(-90deg);
  transition: $transition-length;
  margin-right: 15px;
}

.buttonSpacer {
  display: inline-block;
  height: 10px;
  margin: 3px;
  width: 10px;
  transition: $transition-length;
}

.buttonSpacerExpanded {
  width: 30px;
  transition: $transition-length;
}

.gallerySettingsButtons {
  left: 253px;
  position: absolute;
  top: 4px;
  transform-origin: 13px 13px;
  transition: $transition-length;
  width: 500px; // done so when you rotate and maxe the screen width small, the buttons don't bunch up
  z-index: 2;
}

.searchSettingsRotated {
  transform: translate(-27px, 50px) rotate(90deg);
  transition: $transition-length;
}

.gallerySettingsRotated {
  transform: translate(55px, 50px) rotate(90deg);
  transition: $transition-length;
}

.verticalDivider {
  background-color: rgba(0, 0, 0, 0);
  border-left: 1px solid rgba(0, 0, 0, 0);
  height: 100vh;
  left: 190px;
  min-width: 100vw;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: $transition-length;
  width: 190px;
  z-index: 1;
}

.verticalDividerInView {
  background-color: rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  left: 300px;
  top: 0;
  transition: $transition-length;
}

.searchButtonsSettings,
.galleryButtonsSettings {
  position: absolute;
  top: 59px;
  max-width: 200px;
  opacity: 0;
  transition: 100ms;
}

.searchButtonsSettings {
  left: 50px;
}

.galleryButtonsSettings {
  left: 354px;
}

.extraSettings {
  left: 354px;
  opacity: 1;
  position: absolute;
  min-width: calc(100vw - 380px);
  top: 400px;
}

.extraSettingsText {
  color: #838383;
  font-size: 12px;
  left: 27px;
  position: absolute;
  line-height: 20px;
}

.searchButtonsSettingsInView,
.galleryButtonsSettingsInView {
  transform: translate(-10px, 0);
  opacity: 1;
  transition: 700ms;
}

.buttonDescription {
  display: block;
  max-height: 41px;
  max-width: 200px;
  min-height: 41px;   // also hardcoded in home.component as [ngStyle]
  position: relative;
}

.buttonDescriptionText {
  color: #838383;
  cursor: pointer;
  display: block;
  font-size: 12px;
  left: 27px;
  position: absolute;
  top: -4px;
  width: 220px;
}

.buttonDescriptionTextGallery {
  max-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  top: 3px;
  width: calc(100vw - 330px);
}

.buttonOpacityLower {
  opacity: 0.5;
}

.inputCheckbox {
  display: inline-block;
}

.showButtonLabel {
  bottom: 0;
  color: #AAAAAA;
  font-size: 10px;
  left: 0;
  position: absolute;
  text-align: center;
  transform: translate(-17px, 45px);
  width: 50px;
}
