
<div class='wrapper'>

    <img src="../../../assets/folder.png" class="icon folder-icon">

    <img src="../../../assets/folder.png" class="icon video-icon">

    <div class="folder-container">
      <div *ngFor="let item of folderNameArray" style="display: inline-block">
        <span (click)="folderWordClicked(item)" class="folder-word">
          {{ item }}
        </span>
      </div>
    </div>

    <br>

    <div class="file-container">
      <div *ngFor="let item of fileNameArray" style="display: inline-block">
        <span (click)="fileWordClicked(item)" class="file-words">
          {{ item }}
        </span>
      </div>
    </div>

</div>
