.icon {
  position: absolute;
  height: 10px;
  width: 10px;
  left: 0px;
}

.folder-icon {
  top: 3px;
}

.video-icon {
  top: 22px;
}

.folder-container {
  position: absolute;
  top: 0px;
  left: 22px;
  min-width: calc(100vw - 100px);
}

.folder-word {
  color: #777777;
  font-size: 12px;
  margin-right: 5px;

  &:after {
    font-family:photon-entypo;
    content: '\e875';
  }
}

.file-container {
  position: absolute;
  top: 18px;
  left: 20px;
  width: 100%;
  min-width: calc(100vw - 100px);
}

.file-words {
  color: #444444;
  font-size: 16px;
  margin-right: 5px;
}
