@import "variables";

.wizard {
  background: $gray-10;
  height: 100vh;
  overflow-y: scroll;
  padding-top: 30px;
  position: fixed;
  top: 20px; // accounts for draggable region
  width: 100%;
  z-index: 30;

  h1 {
    font-size: 14px;
    color: $gray-60;
  }

  span {
    display: block;
    font-size: 12px;
    color: $gray-60;
  }

  .steps {
    background-color: #FFCACA;
    border-radius: 9px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.07);
    color: $white;
    font-size: 9px;
    height: 18px;
    line-height: 18px;
    position: absolute;
    text-align: center;
    transform: translate(-24px, 24px);
    width: 18px;
    transition: 300ms;
  }

  .current-step {
    background-color: #ff7777;
    transition: 300ms;
  }

  .description {
    color: $gray-20;
    margin-bottom: 10px;
  }

  .clear-history {
    color: $gray-50;
    font-style: italic;
    margin: 20px 0 0 20px;
    cursor: pointer;
  }

  .recently-opened-wizard {
    display: block;
    margin: 0 0 20px 0;
    font-size: 12px;
    color: $gray-70;

    ul {
      margin: 15px 0 0 20px;
      padding: 0;

      li {
        margin-top: 12px;
        cursor: pointer;
        list-style: none;
      }
    }
  }

  .path {
    min-height: 20px;
  }

  .emphasis-number {
    display: inline;
    font-size: 14px;
    font-weight: bold;
  }

  .left-side {
    float: left;
    width: calc(40vw - 100px);
    box-sizing: border-box;
    margin: 50px;
    min-height: 250px;
    min-width: 200px;
  }

  .right-side {
    float: left;
    max-width: 60vw;
    padding: 50px;
    box-sizing: border-box;
    min-width: 300px;
    min-height: calc(100vh - 80px);
    border-left: 1px solid $gray-20;
  }

  .size-dropdown {
    margin: 24px 14px 14px;
  }

  button {
    margin: 15px;
    max-height: 50px;
    max-width: 300px;
    padding: 10px;

    &:disabled {
      cursor: initial;
      pointer-events: none;
    }
  }

  @include scrollBarHidden;
}

.disabled-overlay {
  background: rgba(0, 0, 0, 0.2);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 20px;
  width: 100%;
  z-index: 100;
}

@media (max-width: 640px) {

  .wizard {
    margin: 0;
  }

  .left-side {
    min-height: initial !important;
    width: calc(100vw - 100px) !important;
  }

  .right-side {
    margin-left: 20px;
    margin-bottom: 100px;
    border-left: 0 !important;
    border-top: 1px solid $gray-20;
    min-width: calc(100vw - 40px) !important;
    width: calc(100vw - 40px) !important;

    & > * {
      transform: translate(-20px, 0);
    }

    & .steps {
      transform: translate(-48px, 24px);
    }
  }
}
