
  <div class="frequency-graph-container-star">
    @for (starRating of starRatingFreqArr(); track $index; let i = $index) {
      <div
        [ngClass]="{ resDisabled: (i < starLeftBound()) || (i >= starRightBound()) }"
        [ngStyle]="{ height: starRating + '%' }"
        class="frequency-bar-star"
      >
      </div>
      <div
        [ngClass]="{ resDisabled: (i < starLeftBound()) || (i >= starRightBound()) }"
        class="star-filter-label"
      >
        {{ starRatingNames()[i] }}
      </div>
    }
  </div>

  <app-slider-filter
    (newSliderFilterSelected)="newStarFilterSelected.emit($event)"
    [darkMode]="settingsButtons().darkMode.toggled"
    [maximumValue]="6"
    [minimumValue]="0"
    [steps]="6"
   />
