<div
  class="manual-tag-tray"
>

  <div class="tag-tray-menu-left">

  @if (!batchTaggingMode()) {

    <input
      class="filter-general manual-tag-tray-filter"
      [ngClass]="{ 'manual-tag-tray-filter-dark': darkMode() }"
      (keyup.esc)="manualTagFilterString = ''"
      [(ngModel)]="manualTagFilterString"
      placeholder="{{ 'TAGS.filterTags' | translate }}"
    >

    <button
      class="tag-sort-by-toggle"
      (click)="appState().sortTagsByFrequency = !appState().sortTagsByFrequency"
    >
      {{ (appState().sortTagsByFrequency ? 'TAGS.sortByFrequency'
                                         : 'TAGS.sortAlphabetical') | translate }}
    </button>

    <button
      class="show-frequency"
      (click)="manualTagShowFrequency = !manualTagShowFrequency"
    >
      {{ (manualTagShowFrequency ? 'TAGS.showingFrequency'
                                 : 'TAGS.hidingFrequency') | translate }}
    </button>

  } @else {

    <div class="batch-mode-instructions">

      <span class="manual-tag-tray-label" style="color: #4D4D4D">
        {{ 'TAGS.clickVideoToSelect' | translate }}
      </span>

      <span class="more-info">i</span>

      <div
        class="manual-tag-tray-label-info"
        [ngClass]="{ 'manual-tag-tray-label-info-dark-mode': darkMode() }"
        style="line-height: 20px"
      >
        {{ 'TAGS.clickTagToAdd' | translate }}
      </div>

    </div>

    <span class="total-selected">Selected: {{ imageElementService.imageElements | totalSelectedPipe : recomputeTrigger }}</span>

    <button
      class="button-select-all"
      (click)="selectAllPressed()"
    >
      {{ 'TAGS.selectAllButton' | translate }}
    </button>

  }

    <div class="batch-mode-button-container">
      <button
        class="button-toggle-batch-mode"
        [ngClass]="{ 'batch-edit-mode-active': batchTaggingMode() }"
        (click)="toggleBatchTaggingMode.emit()"
      >
        {{ 'TAGS.batchModeButton' | translate }}
      </button>
    </div>

  </div> <!-- end of `.manual-tag-tray` -->

  <app-view-tags-component
    class="all-the-tags"
    [darkMode]="darkMode()"
    [displayFrequency]="manualTagShowFrequency"
    [draggable]="true"
    [enableColorPicker]="true"
    [tagsOnToggleBatch]="batchTaggingMode()"
    [tags]="manualTagsService.tagsList | manualTagSortPipe : manualTagFilterString
                                                           : appState().sortTagsByFrequency
                                                           : manualTagsService.pipeToggleTrigger"
    (tagClicked)="handleTagWordClicked.emit($event)"
    (removeTagEmit)="removeThisTag($event)"
    (tagRightClick)="onTagRightClick($event)"
   />
</div>
