<div
  class="manual-tag-tray"
>

  <div class="tag-tray-menu-left">

  @if (!batchTaggingMode()) {

    <input
      class="filter-general manual-tag-tray-filter"
      [ngClass]="{ 'manual-tag-tray-filter-dark': settingsButtons()['darkMode'].toggled }"
      (keyup.esc)="manualTagFilterString = ''"
      [(ngModel)]="manualTagFilterString"
      placeholder="{{ 'TAGS.filterTags' | translate }}"
    >

    <button
      class="tag-sort-by-toggle"
      (click)="appState().sortTagsByFrequency = !appState().sortTagsByFrequency"
    >
      {{ (appState().sortTagsByFrequency ? 'TAGS.sortByFrequency'
                                         : 'TAGS.sortAlphabetical') | translate }}
    </button>

    <button
      class="show-frequency"
      (click)="manualTagShowFrequency = !manualTagShowFrequency"
    >
      {{ (manualTagShowFrequency ? 'TAGS.showingFrequency'
                                 : 'TAGS.hidingFrequency') | translate }}
    </button>

  } @else {

    <div class="batch-mode-instructions">

      <span class="manual-tag-tray-label" [ngStyle]="{ color: darkMode() ? 'white' : 'black' }">
        {{ 'TAGS.clickVideoToSelect' | translate }}
      </span>

      <span class="more-info">i</span>

      <div class="manual-tag-tray-label-info" style="line-height: 20px">
        {{ 'TAGS.clickTagToAdd' | translate }}
      </div>

    </div>

  @if (false) {
    <span class="TODO">Total selected: {{ totalSelected() }}</span>
  }

    <button
      class="button-select-all"
      [ngClass]="{ 'select-all-dark': settingsButtons()['darkMode'].toggled }"
      (click)="selectAll.emit()"
    >
      {{ 'TAGS.selectAllButton' | translate }}
    </button>

  }

    <div class="batch-mode-button-container">
      <button
        class="button-toggle-batch-mode"
        [ngClass]="{
          'button-toggle-batch-mode-dark': settingsButtons()['darkMode'].toggled,
          'button-toggle-batch-mode-dark-active': settingsButtons()['darkMode'].toggled && batchTaggingMode(),
          'batch-edit-mode-active': batchTaggingMode()
        }"
        (click)="toggleBatchTaggingMode.emit()"
      >
        {{ 'TAGS.batchModeButton' | translate }}
      </button>
    </div>

  </div> <!-- end of `.manual-tag-tray` -->

  <app-view-tags-component
    class="all-the-tags"
    [draggable]="true"
    [displayFrequency]="manualTagShowFrequency"
    [enableColorPicker]="true"
    [darkMode]="darkMode()"
    [tags]="manualTagsService.tagsList | manualTagSortPipe : manualTagFilterString
                                                           : appState().sortTagsByFrequency
                                                           : manualTagsService.pipeToggleHack"
    (tagClicked)="handleTagWordClicked.emit($event)"
    (removeTagEmit)="removeThisTag($event)"
    [tagsOnToggleBatch]="batchTaggingMode()"
    (tagRightClick)="onTagRightClick($event)"
   />
</div>
