@use "../variables.scss";

.manual-tag-tray {
  display: flex;
  height: 170px;

  button {
    outline: none;
  }

  .tag-tray-menu-left {
    margin-right: 10px;
    min-width: 166px;
    padding: 12px 0 0 5px;
    position: relative;
    text-align: left;
    width: 166px;

    button {
      text-align: center;
      cursor: pointer;
    }

    .batch-mode-instructions {
      text-align: center;
      margin-top: 14px;
    }

    .total-selected {
      color: variables.$gray-70;
      display: block;
      font-size: 12px;
      margin-top: 20px;
      text-align: center;
    }

  }

  .manual-tag-tray-label,
  .tag-sort-by-toggle,
  .button-select-all,
  .show-frequency {
    display: block;
    font-size: 12px;
    text-align: right;
    width: 166px;
  }

  .manual-tag-tray-label {
    display: inline;
    margin: 16px 0 0 16px;
  }

  .more-info {
    display: inline-block;
    margin-left: 2px;
  }

  .manual-tag-tray-label-info {
    background-color: variables.$gray-10;
    border: 1px solid variables.$gray-50;
    border-radius: 5px;
    font-size: 12px;
    opacity: 0;
    padding: 5px 10px;
    pointer-events: none;
    position: absolute;
    text-align: left;
    width: 200px;
    z-index: 30;
  }

  .more-info:hover + .manual-tag-tray-label-info {
    opacity: 1;
  }

  .button-select-all {
    margin-top: 16px !important;
  }

  .button-select-all,
  .button-toggle-batch-mode,
  .show-frequency,
  .tag-sort-by-toggle {
    background: none;
    border: none;
    color: variables.$gray-70;
    margin-top: 14px;

    &:hover {
      color: variables.$pretty-blue;
    }
  }

  .all-the-tags {
    overflow-y: scroll;
    padding: 12px 15px;
    width: 100%;

    @include variables.scrollBarShown;
  }

  // added on top of .filter-general
  .manual-tag-tray-filter {
    border-color: variables.$gray-50;
    font-size: 15px;
    margin: 10px;
    padding: 6px 6px 0;
    right:0;
    width: 155px;

    &::placeholder {
      color: variables.$gray-50;
    }
  }

  .manual-tag-tray-filter-dark {
    color: white;

    &::placeholder {
      color: variables.$gray-50;
    }
  }
}

.batch-mode-button-container {
  position: absolute;
  bottom: 16px;
  width: 166px;
}

.button-toggle-batch-mode {
  border-radius: 5px;
  border: 1px solid transparent !important;
  display: block;
  font-size: 12px;
  margin: 0 auto;
  opacity: 0.8;
  padding: 5px;
}

.batch-edit-mode-active {
  border: 1px solid variables.$pretty-red !important;
  color: variables.$pretty-red !important;
  opacity: 1;
}
