<div
  class="manual-tag-tray"
  [ngClass]="{ 'bottom-tray-dark': settingsButtons['darkMode'].toggled }"
>
  <div class="tag-tray-menu-left" *ngIf="!batchTaggingMode; else batchModeExplainer">
    <span class="manual-tag-tray-label">
      {{ 'TAGS.presentTags' | translate }}:
    </span>
    <button
      (click)="appState.sortTagsByFrequency = !appState.sortTagsByFrequency"
      class="tag-sort-by-toggle"
    >
      {{ (appState.sortTagsByFrequency ? 'TAGS.sortByFrequency'
                                       : 'TAGS.sortAlphabetical') | translate }}
    </button>
    <button
      (click)="manualTagShowFrequency = !manualTagShowFrequency"
      class="show-frequency"
    >
      {{ (manualTagShowFrequency ? 'TAGS.showingFrequency'
                                 : 'TAGS.hidingFrequency') | translate }}
    </button>
    <input
      (keyup.esc)="manualTagFilterString = ''"
      [(ngModel)]="manualTagFilterString"
      class="filter-general manual-tag-tray-filter"
      placeholder="{{ 'TAGS.filterTags' | translate }}"
    >

  </div>

  <ng-template #batchModeExplainer>
    <div class="tag-tray-menu-left">
      <span class="manual-tag-tray-label">
        {{ 'TAGS.clickVideoToSelect' | translate }}
      </span>
      <span class="manual-tag-tray-label" style="line-height: 24px">
        {{ 'TAGS.clickTagToAdd' | translate }}
      </span>
      <button
      class="wizard-button wizard-button-small"
      (click)="selectAll.emit()"
    >
      {{ 'TAGS.selectAllButton' | translate }}
    </button>
    </div>
  </ng-template>

  <button
    class="wizard-button wizard-button-small button-toggle-batch-mode"
    [ngClass]="{ 'edit-mode-active': batchTaggingMode }"
    (click)="toggleBatchTaggingMode.emit()"
  >
    {{ 'TAGS.batchModeButton' | translate }}
  </button>

  <app-view-tags-component
    class="all-the-tags"
    [draggable]="true"
    [displayFrequency]="manualTagShowFrequency"
    [tags]="manualTagsService.tagsList | manualTagSortPipe : manualTagFilterString
                                                           : appState.sortTagsByFrequency
                                                           : manualTagsService.pipeToggleHack"
    (tagClicked)="handleTagWordClicked.emit($event)"
  ></app-view-tags-component>
</div>
