<div
  (mouseleave)="mouseLeft()"
  (mousemove)="mouseIsMoving($event)"
  (mouseup)="mouseIsUp()"
  class="frequency-sliders"
>

  <div
    class="slider-back-track"
    [ngClass]="{ darkMode: darkMode }"
  ></div>

  <div
    class="left-side"
    [ngStyle]="{ width: currentXleft + 'px' }"
    [ngClass]="{ darkMode: darkMode }"
  >
    <div
      (mousedown)="leftSideClick($event)"
      [ngClass]="{
        isDragging: draggingLeft,
        draggerDarkMode: darkMode
       }"
      class="dragger"
      title="{{ timesPlayed ? ('BUTTONS.timesPlayedDescription' | translate) : '' }}"
    >
    </div>
  </div>

  <div
    class="right-side"
    [ngStyle]="{ width: currentXright + 'px' }"
    [ngClass]="{ darkMode: darkMode }"
  >
    <div
      (mousedown)="rightSideClick($event)"
      [ngClass]="{
          isDragging: draggingRight,
          draggerDarkMode: darkMode
        }"
      class="dragger"
      title="{{ timesPlayed ? ('BUTTONS.timesPlayedDescription' | translate) : '' }}"
    >
    </div>
  </div>

  <span
    *ngIf="lengthFilter"
    class="left-label"
    [ngStyle]="{ left: ((currentXleft > 35) ? currentXleft - 35 : 0) + 'px' }"
  >
    {{ convertToIndex(currentXleft) | wrapperPipe : labelFormatPipe }}
  </span>
  <span
    *ngIf="sizeFilter"
    class="left-label"
    [ngStyle]="{ left: ((currentXleft > 35) ? currentXleft - 35 : 0) + 'px' }"
  >
    {{ convertToIndex(currentXleft) | wrapperPipe : labelFormatPipe }}
  </span>
  <span
    *ngIf="timesPlayed"
    class="left-label"
    [ngStyle]="{ left: ((currentXleft > 10) ? currentXleft - 10 : 0) + 'px', width: 6 + 'px' }"
  >
    {{ convertToIndex(currentXleft) | wrapperPipe : labelFormatPipe }}
  </span>
  <span
    *ngIf="yearFilter"
    class="left-label"
    [ngStyle]="{ left: ((currentXleft > 10) ? currentXleft - 10 : 0) + 'px', width: 6 + 'px' }"
  >
    {{ convertToIndex(currentXleft) | wrapperPipe : labelFormatPipe }}
  </span>
  <span
    *ngIf="lengthFilter"
    class="right-label"
    [ngStyle]="{ right: 160 - ((currentXright < 125) ? currentXright + 35 : 160) + 'px' }"
  >
    {{ convertToIndex(currentXright) | wrapperPipe : labelFormatPipe }}
  </span>
  <span
    *ngIf="sizeFilter"
    class="right-label"
    [ngStyle]="{ right: 160 - ((currentXright < 125) ? currentXright + 35 : 160) + 'px' }"
  >
    {{ convertToIndex(currentXright) | wrapperPipe : labelFormatPipe }}
  </span>
  <span
    *ngIf="timesPlayed"
    class="right-label"
    [ngStyle]="{ right: 160 - ((currentXright < 160) ? currentXright + 11 : 160) + 'px'}"
  >
    {{ convertToIndex(currentXright) | wrapperPipe : labelFormatPipe }}
  </span>
  <span
    *ngIf="yearFilter"
    class="right-label"
    [ngStyle]="{ right: 160 - ((currentXright < 125) ? currentXright + 35 : 160) + 'px'}"
  >
    {{ convertToIndex(currentXright) | wrapperPipe : labelFormatPipe }}
  </span>

  <span *ngIf="lengthFilter" class="minLabel">0 min</span>
  <span *ngIf="lengthFilter" class="maxLabel">∞</span>
  <span *ngIf="sizeFilter" class="minLabel">0 MB</span>
  <span *ngIf="sizeFilter" class="maxLabel">∞</span>
  <span *ngIf="timesPlayed" class="minLabel">0</span>
  <span *ngIf="timesPlayed" class="maxLabel">∞</span>
  <span *ngIf="yearFilter" class="minLabel">0</span>
  <span *ngIf="yearFilter" class="maxLabel">∞</span>

</div>
