<div
  (mouseleave)="mouseLeft()"
  (mousemove)="mouseIsMoving($event)"
  (mouseup)="mouseIsUp()"
  class="frequency-slider"
>

  <div
    class="slider-back-track"
    [ngClass]="{ darkMode: darkMode() }"
  ></div>

  <div
    class="left-side"
    [ngStyle]="{ width: currentXleft + 'px' }"
    [ngClass]="{ darkMode: darkMode() }"
  >
    <div
      (mousedown)="leftSideClick($event)"
      [ngClass]="{
        isDragging: draggingLeft,
        draggerDarkMode: darkMode()
       }"
      class="dragger"
      title="{{ timesPlayed() ? ('BUTTONS.timesPlayedDescription' | translate) : '' }}"
    >
    </div>
  </div>

  <div
    class="right-side"
    [ngStyle]="{ width: currentXright + 'px' }"
    [ngClass]="{ darkMode: darkMode() }"
  >
    <div
      (mousedown)="rightSideClick($event)"
      [ngClass]="{
          isDragging: draggingRight,
          draggerDarkMode: darkMode()
        }"
      class="dragger"
      title="{{ timesPlayed() ? ('BUTTONS.timesPlayedDescription' | translate) : '' }}"
    >
    </div>
  </div>

@if(lengthFilter() || sizeFilter() || timesPlayed() || yearFilter()) {
  <span
    class="left-label"
    [ngStyle]="{
      left: (currentXleft < 35) ? '3px' : 'unset',
      right: (currentXleft < 35) ? 'unset' : 172 - currentXleft + 'px'
    }"
  >
    {{ convertToIndex(currentXleft) | wrapperPipe : labelFormatPipe() }}
  </span>
}

@if(lengthFilter() || sizeFilter() || timesPlayed() || yearFilter()) {
  <span
    class="right-label"
    [ngStyle]="{
      right: (currentXright > 140) ? '3px' : 'unset',
      left: (currentXright > 140) ? 'unset' : currentXright + 'px'
    }"
  >
    {{ convertToIndex(currentXright) | wrapperPipe : labelFormatPipe() }}
  </span>
}

  @if(lengthFilter()) { <span class="minLabel">0 min</span> }
  @if(lengthFilter()) { <span class="maxLabel">∞</span> }

  @if(sizeFilter())   { <span class="minLabel">0 MB</span> }
  @if(sizeFilter())   { <span class="maxLabel">∞</span> }

  @if(timesPlayed())  { <span class="minLabel">0</span> }
  @if(timesPlayed())  { <span class="maxLabel">∞</span> }

  @if(yearFilter())   { <span class="minLabel">0</span> }
  @if(yearFilter())   { <span class="maxLabel">∞</span> }

</div>
