<ng-container *ngFor="let btnGroup of settingsButtonsGroups; index as i">
  <div
    class="settings-buttons-group"
  ><ng-container
      *ngFor="let buttonKey of btnGroup"
    ><!--
   --><button
        *ngIf="!settingsButtons[buttonKey].hidden && settingsButtons[buttonKey].iconName"
        (click)="toggleButton.emit(buttonKey)"
        [ngClass]="settingsButtons[buttonKey].toggled | buttonStylePipe : settingsButtons['darkMode'].toggled
                                                                        : settingsButtons['flatIcons'].toggled"
        title="{{ settingsButtons[buttonKey].title | translate }}"
        @buttonAnimation
      >
        <app-icon class="icon" [icon]="settingsButtons[buttonKey].iconName"></app-icon>
      </button><!--
  --></ng-container><!--
  --><!--
--></div>
</ng-container>
