.meta-container {
  margin: 20px 20px 5px;
  transition: 300ms;
  transition-property: height;
  width: calc(100% - 40px);
}

.filmstrip-container {
  background-color: black;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 100px;
  outline: 3px solid black;
  overflow-y: hidden;
  position: relative;
  width: 100%;
}

.title {
  display: block;
  font-size: 12px;
  margin: 6px 2px 0px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  transition: 300ms;
  transition-property: font-size;
  white-space: nowrap;
  width: 100%;
}

.fileSize {
  display: inline-block;
  font-size: 10px;
  opacity: 0.8;
}

.larger-font {
  font-size: 16px;
}
