.time, .rez {
  bottom: 4px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 10px;
  position: absolute;
  z-index: 2;
}

.time {
  right: 4px;
}

.rez {
  left: 3px;
}

.sheet-icon {
  fill: white;
  height: 16px;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 16px;

  &:hover {
    cursor: zoom-in;
    opacity: 1 !important;
  }
}

