<div
  [ngStyle]="{ height: elHeight + 'px' }"
  class="filmstrip-container"
  @galleryItemAppear
>

  <div
    #filmstripHolder
    class="video-box"
    (mousemove)="mouseIsMoving($event)"
    (mouseenter)="mouseEnter($event)"
    (mouseleave)="mouseLeave($event)"
    (click)="mouseClick($event)"
    [ngStyle]="{
        height: imgHeight + 'px',
        width: elWidth + 'px',
        'max-width': elWidth + 'px',
        'background-image': 'url(' + (hover ? fullFilePath : firstFilePath) + ')',
        'background-position-x': percentOffset + '%'
      }"
  >
  </div>

  <div
    class="meta"
    [ngStyle]="{ height: imgHeight + 'px' }"
  >
    <span
      [ngClass]="{ 'larger-font': largerFont }"
      [ngStyle]="{ color: darkMode ? '#BBBBBB' : '#000000' }"
      class="title"
    >
      {{ video.cleanName }}
    </span>
    <span class="fileSize">
      {{ video.duration | lengthPipe }}
    </span>
    <span class="fileSize">
      {{ video.fileSizeDisplay }}
    </span>
    <span class="fileSize" *ngIf="video.width">
      {{ video.width }} x {{ video.height }}
    </span>

    <span class="fileSize">
      {{ 'TAGS.starRating' | translate }}:
    </span>
    <button class="star-rating" tabindex="-1" [ngClass]="{ 'star-lit': starRatingHack > 1 }" (click)="setStarRating(1.5)"></button>
    <button class="star-rating" tabindex="-1" [ngClass]="{ 'star-lit': starRatingHack > 2 }" (click)="setStarRating(2.5)"></button>
    <button class="star-rating" tabindex="-1" [ngClass]="{ 'star-lit': starRatingHack > 3 }" (click)="setStarRating(3.5)"></button>

    <app-add-tag-component
      (tag)="addThisTag($event)"
    ></app-add-tag-component>

    <!-- HACK for now -->
    <br><br><br>

    <app-view-tags-component
      [tags]="tags"
      [allowRemoval]="true"
      (removeTagEmit)="removeThisTag($event)"
    ></app-view-tags-component>

  </div>

</div>
