@if(settingsButtons['sortOrder'].toggled) {

<div
  class='sort-filter'
  [ngClass]="{
      'temp-disabled': (   settingsButtons['duplicateLength'].toggled
                        || settingsButtons['duplicateSize'].toggled
                        || settingsButtons['duplicateHash'].toggled)
    }"
  @filterItemAppear
>
  <select
    #sortFilterElement
    (change)="sortTypeChange.emit($any(sortFilterElement).value)"
    class="language-drop-down sort-dropdown"
    [ngClass]="{ 'sort-dropdown-dark-mode': settingsButtons['darkMode'].toggled }"
  >
    <option value="default" selected="selected">
      {{ 'SIDEBAR.sortDefault' | translate }}
    </option>
  @if(settingsButtons['sortOptionAlphabetical'].toggled) {
    <option value="alphabetAsc">
      &#x25B2; {{ 'SIDEBAR.sortAlphabetical' | translate }}
    </option>
  }
  @if(settingsButtons['sortOptionAlphabetical'].toggled) {
    <option value="alphabetDesc">
      &#x25BC; {{ 'SIDEBAR.sortAlphabetical' | translate }}
    </option>
  }
  @if(settingsButtons['sortOptionAlphabetical2'].toggled) {
    <option value="alphabetAsc2">
      &#x25B2; {{ 'SIDEBAR.sortAlphabetical2' | translate }}
    </option>
  }
  @if(settingsButtons['sortOptionAlphabetical2'].toggled) {
    <option value="alphabetDesc2">
      &#x25BC; {{ 'SIDEBAR.sortAlphabetical2' | translate }}
    </option>
  }
  @if(settingsButtons['sortOptionTime'].toggled) {
    <option value="timeAsc">
      &#x25B2; {{ 'SIDEBAR.sortTime' | translate }}
    </option>
  }
  @if(settingsButtons['sortOptionTime'].toggled) {
    <option value="timeDesc">
      &#x25BC; {{ 'SIDEBAR.sortTime' | translate }}
    </option>
  }
  @if(settingsButtons['sortOptionSize'].toggled) {
    <option value="sizeAsc">
      &#x25B2; {{ 'SIDEBAR.sortSize' | translate }}
    </option>
  }
  @if(settingsButtons['sortOptionSize'].toggled) {
    <option value="sizeDesc">
      &#x25BC; {{ 'SIDEBAR.sortSize' | translate }}
    </option>
  }
  @if(settingsButtons['sortOptionLastPlayed'].toggled) {
    <option value="lastPlayedAsc">
      &#x25B2; {{ 'SIDEBAR.sortLastPlayed' | translate }}
    </option>
  }
  @if(settingsButtons['sortOptionLastPlayed'].toggled) {
    <option value="lastPlayedDesc">
      &#x25BC; {{ 'SIDEBAR.sortLastPlayed' | translate }}
    </option>
  }
  @if(settingsButtons['sortOptionTimesPlayed'].toggled) {
    <option value="timesPlayedAsc">
      &#x25B2; {{ 'SIDEBAR.sortTimesPlayed' | translate }}
    </option>
  }
  @if(settingsButtons['sortOptionTimesPlayed'].toggled) {
    <option value="timesPlayedDesc">
      &#x25BC; {{ 'SIDEBAR.sortTimesPlayed' | translate }}
    </option>
  }
  @if(settingsButtons['sortOptionStar'].toggled) {
    <option value="starAsc">
      &#x25B2; {{ 'SIDEBAR.sortStar' | translate }}
    </option>
  }
  @if(settingsButtons['sortOptionStar'].toggled) {
    <option value="starDesc">
      &#x25BC; {{ 'SIDEBAR.sortStar' | translate }}
    </option>
  }
  @if(settingsButtons['sortOptionYear'].toggled) {
    <option value="yearAsc">
      &#x25B2; {{ 'SIDEBAR.sortYear' | translate }}
    </option>
  }
  @if(settingsButtons['sortOptionYear'].toggled) {
    <option value="yearDesc">
      &#x25BC; {{ 'SIDEBAR.sortYear' | translate }}
    </option>
  }
  @if(settingsButtons['sortOptionModified'].toggled) {
    <option value="modifiedAsc">
      &#x25B2; {{ 'SIDEBAR.sortModified' | translate }}
    </option>
  }
  @if(settingsButtons['sortOptionModified'].toggled) {
    <option value="modifiedDesc">
      &#x25BC; {{ 'SIDEBAR.sortModified' | translate }}
    </option>
  }
  @if(settingsButtons['sortOptionCreated'].toggled) {
    <option value="createdAsc">
      &#x25B2; {{ 'SIDEBAR.sortCreated' | translate }}
    </option>
  }
  @if(settingsButtons['sortOptionCreated'].toggled) {
    <option value="createdDesc">
      &#x25BC; {{ 'SIDEBAR.sortCreated' | translate }}
    </option>
  }
  @if(settingsButtons['sortOptionTags'].toggled) {
    <option value="tagsAsc">
      &#x25B2; {{ 'SIDEBAR.sortTags' | translate }}
    </option>
  }
  @if(settingsButtons['sortOptionTags'].toggled) {
    <option value="tagsDesc">
      &#x25BC; {{ 'SIDEBAR.sortTags' | translate }}
    </option>
  }
  @if(settingsButtons['sortOptionAspectRatio'].toggled) {
    <option value="aspectRatioAsc">
      &#x25B2; {{ 'SIDEBAR.sortAspectRatio' | translate }}
    </option>
  }
  @if(settingsButtons['sortOptionAspectRatio'].toggled) {
    <option value="aspectRatioDesc">
      &#x25BC; {{ 'SIDEBAR.sortAspectRatio' | translate }}
    </option>
  }
  @if(settingsButtons['sortOptionFolderSize'].toggled) {
    <option value="folderSizeAsc">
      &#x25B2; {{ 'SIDEBAR.sortFolderSize' | translate }}
    </option>
  }
  @if(settingsButtons['sortOptionFolderSize'].toggled) {
    <option value="folderSizeDesc">
      &#x25BC; {{ 'SIDEBAR.sortFolderSize' | translate }}
    </option>
  }
  @if(settingsButtons['sortOptionFps'].toggled) {
    <option value="fpsAsc">
      &#x25B2; {{ 'SIDEBAR.sortFps' | translate }}
    </option>
  }
  @if(settingsButtons['sortOptionFps'].toggled) {
    <option value="fpsDesc">
      &#x25BC; {{ 'SIDEBAR.sortFps' | translate }}
    </option>
  }
    <option value="random">
      {{ 'SIDEBAR.sortRandom' | translate }}
    </option>
  </select>
</div>

}
