@import "../variables";

.icon {
  cursor: pointer;
  display: inline-block;
  fill: $gray-60;
  max-height: 15px;
  max-width: 15px;
  position: absolute;
  transform: translate(0, 2px);
  transition-duration: 200ms;
  transition-property: fill;
  width: 15px;

  &:hover {
    fill: $gray-80;
  }
}

.folder-container {
  max-height: 18px;
  min-width: calc(100vw - 100px);
  overflow: hidden;

  .icon-folder-blank {
    fill: $gray-60;
    position: absolute;
    transform: translate(0, 3px);
  }

  :nth-child(2) {
    margin-left: 23px;
  }
}

.folder-word {
  color: #777777;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  margin-right: 5px;
  transition: 300ms;
  transition-property: color;

  &:after {
    content: '\f1a0'; // chevron-right
    font-family: "vh-icon-font";
    padding-left: 3px;
    padding-right: 3px;
  }
}

.file-container {
  max-height: 20px;
  min-width: calc(100vw - 100px);
  overflow: hidden;

  .icon-video-blank {
    fill: $gray-60;
    position: absolute;
    transform: translate(0, 3px);
  }

  :nth-child(2) {
    margin-left: 23px;
  }
}

.file-words {
  color: #444444;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  margin-right: 5px;
  transition: 300ms;
  transition-property: color;
}


.dark-mode-override {
  & .folder-word {
    color: #999999;
    transition: 300ms;
    transition-property: color;
  }

  & .file-words {
    color: #a7a7a7;
    transition: 300ms;
    transition-property: color;
  }
}
