<div class="window">

  <div
    class="titleBar"
    [ngClass]="{ 'dark-mode-override': settingsButtons['darkMode'].toggled }"
  >
    <div
      class="draggable"
      [ngStyle]="{
          left: macVersion ? '65px' : '5px',
          'text-align': macVersion ? 'center' : 'left'
        }"
    >
      <img width="16px" height="16px" class="top-logo" src="./assets/logo.png">
      <span
        class="heading-title"
        [ngStyle]="{ 'color': settingsButtons['darkMode'].toggled ? '#AAAAAA' : '#111111' }"
      >
        Video Hub App 2
        <b>{{ demo ? ' demo - limited to 50 video files ' : '' }}</b>
        {{ importStage !== 'done' ? ' - ' + progressString + ' - ' : ' - ' }}
        {{ appState.hubName }}
      </span>
    </div>
    <div
      (click)="initiateMinimize()"
      [ngClass]="{
          'winBtn': !macVersion,
          'macBtn': macVersion
        }"
      class="minimizeButton"
    >
      <app-icon class="window-button" [icon]="'icon-minus'"></app-icon>
    </div>
    <div
      (click)="initiateMaximize()"
      [ngClass]="{
          'winBtn': !macVersion,
          'macBtn': macVersion
        }"
      class="maximizeButton"
    >
      <app-icon class="window-button" [icon]="'icon-maximize'"></app-icon>
    </div>
    <div
      (click)="initiateClose()"
      [ngClass]="{
          'winBtn': !macVersion,
          'macBtn': macVersion
        }"
      class="closeButton"
    >
      <app-icon class="window-button" [icon]="'icon-close'"></app-icon>
    </div>
  </div>

  <div
    *ngIf="flickerReduceOverlay !== false"
    class="reduceFlicker"
    @slowFadeOut
  ></div>

  <div *ngIf="importStage === 'importingScreenshots'" class="cancelProgress" @donutAppear>
    <span
      (click)="cancelCurrentImport()"
      [ngStyle]="{ color: settingsButtons['darkMode'].toggled ? 'white' : 'black' }"
    >
      cancel
    </span>
  </div>

  <app-donut
    *ngIf="importStage === 'importingScreenshots'"
    class="screenShotProgressPercent"
    [score]="extractionPercent"
    [darkMode]="settingsButtons['darkMode'].toggled"
    @donutAppear
  ></app-donut>

  <!-- OVERLAY to cancel out right click modal -->
  <div
    *ngIf="rightClickShowing"
    class="click-away-overlay"
    @overlayAppear
  >
  </div>

  <!-- OVERLAY to cancel out rename modal -->
  <div
    *ngIf="renamingNow"
    class="click-away-overlay disable-mouse-clicks"
    @overlayAppear
  >
  </div>

  <!-- OVERLAY to cancel out sheet display modal -->
  <div
    *ngIf="sheetOverlayShowing"
    class="click-away-overlay"
    (click)="closeSheetOverlay()"
    @overlayAppear
  >
  </div>

  <!-- ===========   RIGHT CLICK MODAL    =========== -->
  <div
    *ngIf="rightClickShowing"
    [ngStyle]="{
        top: rightClickPosition.y + 'px',
        left: rightClickPosition.x + 'px'
      }"
    class="right-click-menu"
    @rightClickAnimation
  >
    <ul *ngIf="clickedOnFile; else galleryOptions" @rightClickContentAnimation>
      <li (click)="openRenameFileModal()">{{ 'RIGHTCLICK.renameFile' | translate }}</li>
      <li (click)="showSimilarNow()">{{ 'RIGHTCLICK.showSimilar' | translate }}</li>
      <li (click)="showOnlyThisFolderNow()">{{ 'RIGHTCLICK.viewFolder' | translate }}</li>
      <li (click)="openContainingFolderNow()">{{ 'RIGHTCLICK.openFolder' | translate }}</li>
      <li (click)="openThumbnailSheet(currentRightClickedItem)">{{ 'RIGHTCLICK.sheetModal' | translate }}</li>
    </ul>
    <ng-template #galleryOptions>
      <ul @rightClickContentAnimation>
        <li (click)="toggleButton('shuffleGalleryNow')">{{ 'RIGHTCLICK.shuffle' | translate }}</li>
      </ul>
    </ng-template>
  </div>

  <!-- ===========   Thumbnail Sheet Display   =========== -->
  <app-thumbnail-sheet
    *ngIf="sheetOverlayShowing"
    (openFileRequest)="openVideo($event)"
    (editFinalArrayTag)="editFinalArrayTag($event)"
    (editFinalArrayStars)="editFinalArrayStars($event)"
    (editFinalArrayYear)="editFinalArrayYear($event)"
    (filterTag)="handleFileWordClicked($event.tag.name, $event.event)"

    [elHeight]="previewHeight"
    [elWidth]="previewWidth"
    [folderPath]="appState.selectedOutputFolder"
    [hubName]="appState.hubName"
    [imgHeight]="previewHeight"

    [darkMode]="settingsButtons['darkMode'].toggled"

    [video]="sheetItemToDisplay"

    [star]="sheetItemToDisplay.stars"

    [hoverScrub]="settingsButtons['hoverScrub'].toggled"
    [largerFont]="settingsButtons['fontSizeLarger'].toggled"
    [returnToFirstScreenshot]="settingsButtons['returnToFirstScreenshot'].toggled"
    [showMeta]="settingsButtons['showMoreInfo'].toggled"
    [showManualTags]="settingsButtons['manualTags'].toggled"
    [showAutoFileTags]="settingsButtons['autoFileTags'].toggled"
    [showAutoFolderTags]="settingsButtons['autoFolderTags'].toggled"
  >
  </app-thumbnail-sheet>

  <!-- ===========    RENAMING MODAL    =========== -->
  <div
    *ngIf="renamingNow"
    [ngClass]="{ renameDark: settingsButtons['darkMode'].toggled }"
    class="rename-popup"
    @modalAnimation
  >

  <div
    (click)="closeRename()"
    [ngClass]="{ closeRenameDark: settingsButtons['darkMode'].toggled }"
    class="closeSettings closeRename"
    title="{{ 'RIGHTCLICK.cancelRename' | translate }}"
  >
    <app-icon class="close-modal-icon" [icon]="'icon-close'"></app-icon>
  </div>

    <span class="renameHeading">{{ 'RIGHTCLICK.renameTitle' | translate }}</span>

    <app-filmstrip-item
      [darkMode]="settingsButtons['darkMode'].toggled"
      [elHeight]="150"
      [folderPath]="appState.selectedOutputFolder"
      [hoverScrub]="true"
      [hubName]="appState.hubName"
      [imgHeight]="100"
      [largerFont]="true"
      [showMeta]="true"
      [video]="itemToRename"
    ></app-filmstrip-item>

    <span class="renameFrom">{{ 'RIGHTCLICK.renameFrom' | translate }}</span>
    <span class="renameTo">{{ 'RIGHTCLICK.renameTo' | translate }}</span>

    <input
      #renameFileInput
      (keyup.enter)="attemptToRename()"
      [(ngModel)]="renamingWIP"
      [ngClass]="{ darkModeOn: settingsButtons['darkMode'].toggled }"
      [disabled]="nodeRenamingFile"
      class="renameFile"
      type="text"
    >
    <!-- in the mac the font sizes are not aligned properly and the extension shows up overlapping -->
    <span *ngIf="!macVersion" class="extension-hack" [ngClass]="{ darkModeOn: settingsButtons['darkMode'].toggled }" >
      <span class="hidden">{{ renamingWIP }}</span>
      <span class="extension" *ngIf="renamingWIP.length > 0">.{{ renamingExtension }}</span>
    </span>

    <span *ngIf="renameErrMsg !== ''" class="renameErrMsg" @donutAppear>
      {{ renameErrMsg | translate }}
    </span>

    <button
      [disabled]="
            (renamingWIP + '.' + renamingExtension) === currentRightClickedItem.fileName
          || nodeRenamingFile
          || renamingWIP.length === 0
        "
      class="wizardButton btnRename"
      (click)="attemptToRename()"
    >
      {{ 'RIGHTCLICK.renameButton' | translate }}
    </button>

</div>

  <div
    *ngIf="settingsButtons['showTags'].toggled"
    class="settings-modal"
    @modalAnimation
  >
    <div
      (click)="toggleButton('showTags')"
      class="closeSettings"
      title="{{ 'SETTINGS.closeSettings' | translate }}"
    >
      <app-icon class="close-modal-icon" [icon]="'icon-close'"></app-icon>
    </div>
    <app-tags-component
      [hubName]="appState.hubName"
      [finalArray]="finalArray"
      (tagClicked)="tagClicked($event)"
    ></app-tags-component>
  </div>

  <!-- ==================================================== -->
  <!-- ===========   SETTINGS / OPTIONS MODAL   =========== -->
  <!-- ==================================================== -->

  <div
    *ngIf="settingsModalOpen"
    class="settings-modal"
    @modalAnimation
  >

    <div
      (click)="toggleSettings()"
      class="closeSettings"
      title="{{ 'SETTINGS.closeSettings' | translate }}"
    >
      <app-icon class="close-modal-icon" [icon]="'icon-close'"></app-icon>
    </div>

    <button (click)="showSettingsGroup(0)" class="meta-group-button" [ngClass]="{ 'meta-group-selected': settingToShow == 0 }">
      {{ 'SETTINGS.tabFilter' | translate }}
    </button>
    <button (click)="showSettingsGroup(1)" class="meta-group-button" [ngClass]="{ 'meta-group-selected': settingToShow == 1 }">
      {{ 'SETTINGS.tabView' | translate }}
    </button>
    <button (click)="showSettingsGroup(2)" class="meta-group-button" [ngClass]="{ 'meta-group-selected': settingToShow == 2 }">
      {{ 'SETTINGS.tabMain' | translate }}
    </button>
    <button (click)="showSettingsGroup(3)" class="meta-group-button" [ngClass]="{ 'meta-group-selected': settingToShow == 3 }">
      {{ 'SETTINGS.tabShortcuts' | translate }}
    </button>
    <button (click)="showSettingsGroup(4)" class="meta-group-button" [ngClass]="{ 'meta-group-selected': settingToShow == 4 }">
      {{ 'SETTINGS.statistics' | translate }}
    </button>
    <div class="meta-group-divider"></div>

    <div [id]=i *ngFor="let group of settingsMetaGroup; index as i">
      <div *ngIf="settingToShow == i">

        <span
          class="setting-heading"
          style="border-top: 0"
        >
          {{ settingsMetaGroupLabels[i] | translate }}
        </span>

        <div *ngFor="let buttonKey of group">
          <div *ngIf="buttonKey !== 'break'; else insertBreak">
            <div
              class="searchButtonsSettings"
            >

              <span class="setting-heading" *ngIf="settingsButtons[buttonKey]['settingsHeading']">
                {{ settingsButtons[buttonKey]['settingsHeading'] | translate }}
              </span>

              <div
                class="buttonDescription"
              >
                <button
                  (click)="toggleButton(buttonKey)"
                  [ngClass]="{
                      defaultSettingsButton:        !settingsButtons['flatIcons'].toggled,
                      defaultSettingsButtonToggled: !settingsButtons['flatIcons'].toggled && settingsButtons[buttonKey].toggled,
                      flatSettingsButton:           settingsButtons['flatIcons'].toggled,
                      flatSettingsButtonToggled:    settingsButtons['flatIcons'].toggled && settingsButtons[buttonKey].toggled
                    }"
                  title="{{ settingsButtons[buttonKey].title | translate }}"
                >
                  <app-icon class="icon" [icon]="settingsButtons[buttonKey].iconName"></app-icon>
                </button>

                <span
                  *ngIf="settingsButtons[buttonKey].iconName !== 'icon-checkmark'"
                  (click)="toggleHideButton(buttonKey)"
                  class="eyeIconContainer icon {{ settingsButtons[buttonKey].hidden ? 'eye-closed' : 'eye-open' }}"
                  title="{{ 'SETTINGS.showHideText' | translate }}"
                ></span>

                <span
                  class="buttonDescriptionText"
                >
                  {{ settingsButtons[buttonKey].description | translate }}

                  <span
                    *ngIf="settingsButtons[buttonKey].moreInfo"
                    class="more-info"
                  >
                    i
                  </span>
                  <span class="tooltip-text">
                    {{ settingsButtons[buttonKey].moreInfo | translate }}
                  </span>

                </span>

              </div>

            </div>
          </div>

          <ng-template #insertBreak>
            <br>
          </ng-template>
        </div>
      </div>

      <div class="misc-settings" *ngIf="settingToShow == 2 && i == 2">

        <span class="setting-heading">{{ 'SETTINGS.changeAppZoom' | translate }}</span>

        <div class="zoom-buttons">
          <button
            (click)="decreaseZoomLevel()"
            [ngClass]="{
              defaultSettingsButton: !settingsButtons['flatIcons'].toggled,
              flatSettingsButton:    settingsButtons['flatIcons'].toggled
            }"
          >
            <app-icon [icon]="'icon-minus'"></app-icon>
          </button>
          <button
            (click)="resetZoomLevel()"
            [ngClass]="{
              defaultSettingsButton: !settingsButtons['flatIcons'].toggled,
              flatSettingsButton:    settingsButtons['flatIcons'].toggled
            }"
            style="margin: 0 10px; max-width: initial; padding: 0 15px;"
            >
              <span>{{ 'SETTINGS.resetZoom' | translate }}</span>
          </button>
          <button
            (click)="increaseZoomLevel()"
            [ngClass]="{
              defaultSettingsButton: !settingsButtons['flatIcons'].toggled,
              flatSettingsButton:    settingsButtons['flatIcons'].toggled
            }"
          >
            <app-icon [icon]="'icon-plus'"></app-icon>
          </button>
        </div>

        <span class="setting-heading">{{ 'SETTINGS.changeLanguage' | translate }}</span>

        <div style="margin: 20px">
          <select (change)="changeLanguage($event.target.value)" class="languageDropDown">
            <option value="en" [selected]="appState.language == 'en'">English</option>
            <option value="ru" [selected]="appState.language == 'ru'">Русский</option>
            <option value="fr" [selected]="appState.language == 'fr'">Française</option>
            <option value="pt_br" [selected]="appState.language == 'pt_br'">Português Brasileiro</option>
          </select>
        </div>

        <div class="credits-and-help" (click)="openOnlineHelp()">
          {{ 'SETTINGS.FAQ' | translate }}
        </div>

        <div class="app-version">
          <span>v{{ versionNumber }} {{ demo ? ' DEMO - limited to 50 video files' : '' }}</span>
          <img width="30px" height="30px" src="./assets/logo.png">
        </div>

      </div>

    </div>

    <!-- ===========   KEYBOARD SHORTCUTS    =========== -->

    <div *ngIf="settingToShow == 3" class="shortcutMenu">

      <span>{{ 'SHORTCUTS.hold' | translate }}<em class="shortcut-key modifier-key">Ctrl</em>
        <ng-container *ngIf="macVersion">
          {{ 'SHORTCUTS.or' | translate }} <em class="shortcut-key modifier-key">Command</em>
        </ng-container>
        {{ 'SHORTCUTS.andPress' | translate }}:</span>
      <ul class="without-numbers">
        <li class="listElement"><em class="shortcut-key">1</em> - {{ 'SHORTCUTS.showThumb' | translate }}</li>
        <li class="listElement"><em class="shortcut-key">2</em> - {{ 'SHORTCUTS.showFilm' | translate }}</li>
        <li class="listElement"><em class="shortcut-key">3</em> - {{ 'SHORTCUTS.showFull' | translate }}</li>
        <li class="listElement"><em class="shortcut-key">4</em> - {{ 'SHORTCUTS.showDetail' | translate }}</li>
        <li class="listElement"><em class="shortcut-key">5</em> - {{ 'SHORTCUTS.showFile' | translate }}</li>
        <li class="listElement"><em class="shortcut-key">6</em> - {{ 'SHORTCUTS.showClip' | translate }}</li>
        <li class="listElement"><em class="shortcut-key">f</em> - {{ 'SHORTCUTS.focusOnFile' | translate }}</li>
        <li class="listElement"><em class="shortcut-key">g</em> - {{ 'SHORTCUTS.focusOnMagic' | translate }}</li>
        <li class="listElement"><em class="shortcut-key">z</em> - {{ 'SHORTCUTS.makeSmaller' | translate }}</li>
        <li class="listElement"><em class="shortcut-key">x</em> - {{ 'SHORTCUTS.makeLarger' | translate }}</li>
        <li class="listElement"><em class="shortcut-key">s</em> - {{ 'SHORTCUTS.shuffle' | translate }}</li>
        <li class="listElement"><em class="shortcut-key">o</em> - {{ 'SHORTCUTS.toggleSettings' | translate }}</li>
        <li class="listElement"><em class="shortcut-key">d</em> - {{ 'SHORTCUTS.toggleDarkMode' | translate }}</li>
        <li class="listElement"><em class="shortcut-key">t</em> - {{ 'SHORTCUTS.toggleViewMeta' | translate }}</li>
        <li class="listElement"><em class="shortcut-key">a</em> - {{ 'SHORTCUTS.toggleSearchBar' | translate }}</li>
        <li class="listElement"><em class="shortcut-key">h</em> - {{ 'SHORTCUTS.toggleMinimalMode' | translate }}</li>
        <li class="listElement"><em class="shortcut-key">n</em> - {{ 'SHORTCUTS.toggleWizard' | translate }}</li>
      </ul>

    </div>

    <!-- HUB STATISTICS -->

    <div *ngIf="settingToShow == 4" class="shortcutMenu">

      <app-statistics
        [finalArray]="finalArray"
        [hubName]="appState.hubName"
        [numFolders]="appState.numOfFolders"
        [pathToVhaFile]="appState.currentVhaFile"
        [screenshotSettings]="currentScreenshotSettings"
        [videoFolder]="appState.selectedSourceFolder"
      ></app-statistics>

    </div>

  </div> <!-- END OF SETTINGS MODAL -->

  <header
    *ngIf="!settingsButtons['hideTop'].toggled"
    class="top-of-buttons"
    [ngClass]="{ 'top-of-buttons-dark-mode': settingsButtons['darkMode'].toggled }"
    @topAnimation
  >

    <app-top-component
      class="top-content-position"
      [darkMode]="settingsButtons['darkMode'].toggled"
      [fileString]="currentPlayingFile"
      [folderString]="currentPlayingFolder"
      (onFileWordClicked)="handleFileWordClicked($event)"
      (onFolderWordClicked)="handleFolderWordClicked($event)"
      (onOpenInExplorer)="openInExplorer()"
    ></app-top-component>

  </header>

  <div
    class="window-content"
    [ngStyle]="{
      transform: appState.menuHidden ? 'translate(0, -32px)' : 'translate(0, 0)'
    }"
  >

    <!-- ============================================== -->
    <!-- =============     ALL SETTINGS     =========== -->
    <!-- ============================================== -->

    <div
      class="all-settings"
      [ngClass]="{
        'all-settings-dark-mode': settingsButtons['darkMode'].toggled,
        'all-settings-flat-icons': settingsButtons['flatIcons'].toggled
      }"
    >

      <!-- ALL THE BUTTONS-->
      <ng-container *ngFor="let btnGroup of settingsButtonsGroups; index as i">
        <div
          class="settings-buttons-group"
        ><ng-container
            *ngFor="let buttonKey of btnGroup"
          ><!--
         --><button
              *ngIf="!settingsButtons[buttonKey].hidden && settingsButtons[buttonKey].iconName !== 'icon-checkmark'"
              (click)="toggleButton(buttonKey)"
              [ngClass]="{
                  defaultSettingsButton:             !settingsButtons['flatIcons'].toggled,

                  defaultSettingsButtonToggled:      !settingsButtons['flatIcons'].toggled
                                                  && settingsButtons[buttonKey].toggled,

                  defaultSettingsButtonDark:         !settingsButtons['flatIcons'].toggled
                                                  && settingsButtons['darkMode'].toggled,

                  defaultSettingsButtonDarkToggled:  !settingsButtons['flatIcons'].toggled
                                                  && settingsButtons['darkMode'].toggled
                                                  && settingsButtons[buttonKey].toggled,

                  flatSettingsButton:                settingsButtons['flatIcons'].toggled,

                  flatSettingsButtonToggled:         settingsButtons['flatIcons'].toggled
                                                  && settingsButtons[buttonKey].toggled,

                  disabledButton:                    (settingsButtons[buttonKey].iconName === 'icon-minus'
                                                  || settingsButtons[buttonKey].iconName === 'icon-plus')
                                                  && appState.currentView === 'showFiles'
                }"
              title="{{ settingsButtons[buttonKey].title | translate }}"
              @buttonAnimation
            >
              <app-icon class="icon" [icon]="settingsButtons[buttonKey].iconName"></app-icon>
            </button><!--
        --></ng-container><!--
        --><!--
      --></div>
      </ng-container>

      <!-- GEAR BUTTON -->
      <div
        (click)="toggleSettings()"
        [ngClass]="{ gearButtonActive: settingsModalOpen }"
        class="gearButton"
        title="{{ 'SETTINGS.settings' | translate }}"
      >
        <app-icon [icon]="'icon-gear'"></app-icon>
      </div>

    </div>

    <div (click)="toggleSettingsMenu()" [ngClass]="{ flipped: !appState.menuHidden }" class="hidingSettingsMenu">
      <app-icon class="mini-chevron" [icon]="'icon-chevron-down-mini'"></app-icon>
    </div>

    <!-- ============================================== -->
    <!-- ===========         SIDEBAR        =========== -->
    <!-- ============================================== -->

    <div
      [ngClass]="{
                    'sidebar-hidden': settingsButtons['hideSidebar'].toggled,
                    'sidebar-dark-mode': settingsButtons['darkMode'].toggled
      }"
      [ngStyle]="{
                    'height': 'calc(100vh - ' + (
                                                  (settingsButtons['hideTop'].toggled ? 53 : 98)
                                                + (appState.menuHidden ? -32 : 0)
                                                + (settingsButtons['showRelatedVideosTray'].toggled ? 160 : 0)
                                                                                                                ) + 'px)'
                 }"
      class="sidebar"
      #searchRef
    >

      <div class="filtering-total">
        {{ appState.numOfFolders | number }}
        {{ (appState.numOfFolders === 1 ? 'SIDEBAR.totalFolders' : 'SIDEBAR.totalFoldersPlural') | translate }}<br>
        {{ finalArray.length | number }} {{ 'SIDEBAR.videos' | translate }}
      </div>

      <!-- SEARCH BOXES -->
      <ng-container *ngFor="let filter of filters; index as j">
        <div
          *ngIf="settingsButtons[filter.uniqueKey].toggled"
          class="filterContainer"
          @filterItemAppear
        >

          <app-icon class="input-icon" [icon]="settingsButtons[filter.uniqueKey].iconName"></app-icon>
          <input
            id="{{ filter.uniqueKey }}"
            (keyup.enter)="onEnterKey(filter.string, j)"
            (keydown.backspace)="onBackspace(filter.string, j)"
            (keydown.escape)="filter.string = ''"
            [(ngModel)]="filter.string"
            (keydown.Tab)="typeaheadTabPressed($event, filter.uniqueKey === 'tagIntersection', j)"
            (ngModelChange)="checkTagTypeahead($event, filter.uniqueKey === 'tagIntersection')"
            [ngStyle]="{ color: settingsButtons['darkMode'].toggled ? 'white' : 'black' }"
            class="inputFilter"
            placeholder="{{ filter.placeholder | translate }}"
            type="text"
          >

          <span
            *ngIf="filter.uniqueKey === 'tagIntersection'"
            class="tag-type-ahead-on-home"
          >{{ tagTypeAhead }}</span>

          <div class="filteredWords">
            <ng-container *ngIf="filter.array.length > 0">
              <ng-container
                *ngFor="let string of filter.array; index as i"
              >
                <span
                  *ngIf="i > 0"
                  [ngStyle]="{ color: settingsButtons['darkMode'].toggled ? '#CCCCCC' : 'black' }"
                  class="conjunction"
                >
                  {{ filter.conjunction | translate }}
                </span>
                <span
                  (click)="removeThisFilter(i, j)"
                  [ngStyle]="{ background: filter.color }"
                  class="search-word"
                >
                  {{ string }}
                </span>
              </ng-container>
            </ng-container>
          </div>

        </div>
      </ng-container>
      <!-- end of regular search inputs -->

      <!-- magic search -->
      <div *ngIf="settingsButtons['magic'].toggled" @filterItemAppear>
        <app-icon class="input-icon" [icon]="settingsButtons['magic'].iconName"></app-icon>
        <input
          #magicSearch
          (keydown.escape)="magicSearchString = ''"
          [(ngModel)]="magicSearchString"
          (ngModelChange)="magicSearchChanged($event)"
          [ngStyle]="{ color: settingsButtons['darkMode'].toggled ? 'white' : 'black' }"
          type="text"
          class="inputFilter"
          placeholder="{{ 'SIDEBAR.magic' | translate }}"
        >

        <div
          class="filteredWords"
        >
          <span
            *ngIf="magicSearchString !== ''"
            (click)="magicSearchString = ''"
            [ngStyle]="{ background: '#aaffaa' }"
            class="search-word"
          >
            {{ magicSearchString }}
          </span>
        </div>
      </div>
      <!-- end of magic search -->

      <!-- durationFilter -->
      <div *ngIf="settingsButtons['durationFilter'].toggled" class="resolutionFilterContainer">

        <app-slider-filter
          (newSliderFilterSelected)="newLengthFilterSelected($event)"
          [darkMode]="settingsButtons['darkMode'].toggled"
          [labelFormatPipe]="'lengthPipe'"
          [maximumValue]="durationOutlierCutoff"
          [minimumValue]="0"
          [lengthFilter]="true"
          [steps]="50"
        ></app-slider-filter>
      </div>

      <!-- resolution filter & its frequency histogram -->
      <div *ngIf="settingsButtons['resolutionFilter'].toggled" class="resolutionFilterContainer">
        <div class="frequencyGraphContainer">
          <ng-container *ngFor="let resolution of resolutionFreqArr; index as i">
            <div
              [ngClass]="{ resDisabled: (i < freqLeftBound) || (i >= freqRightBound) }"
              [ngStyle]="{ height: resolution + '%' }"
              class="frequency-bar"
            >
            </div>
            <div
              [ngClass]="{ resDisabled: (i < freqLeftBound) || (i >= freqRightBound) }"
              class="resolutionName"
            >
              {{ resolutionNames[i] }}
            </div>
          </ng-container>
        </div>

        <app-slider-filter
          (newSliderFilterSelected)="newResFilterSelected($event)"
          [darkMode]="settingsButtons['darkMode'].toggled"
          [maximumValue]="4"
          [minimumValue]="0"
          [steps]="4"
        ></app-slider-filter>
      </div>

      <!-- star filter & its frequency histogram -->
      <div *ngIf="settingsButtons['starFilter'].toggled" class="resolutionFilterContainer">
        <div class="frequencyGraphContainerStar">
          <ng-container *ngFor="let starRating of starRatingFreqArr; index as i">
            <div
              [ngClass]="{ resDisabled: (i < starLeftBound) || (i >= starRightBound) }"
              [ngStyle]="{ height: starRating + '%' }"
              class="frequency-bar-star"
            >
            </div>
            <div
              [ngClass]="{ resDisabled: (i < starLeftBound) || (i >= starRightBound) }"
              class="starFilterLabel"
            >
              {{ starRatingNames[i] }}
            </div>
          </ng-container>
        </div>

        <app-slider-filter
          [darkMode]="settingsButtons['darkMode'].toggled"
          [maximumValue]="6"
          [minimumValue]="0"
          [steps]="6"
          (newSliderFilterSelected)="newStarFilterSelected($event)"
        ></app-slider-filter>

      </div>

      <!-- Lev Distance -->
      <div class="levDistance" *ngIf="showSimilar">
        <span class="levSpan">
          {{ 'SIDEBAR.similarTo' | translate }}
        </span>
        <span class="search-word" (click)="clearLev()">
          {{ findMostSimilar }}
        </span>
      </div>

      <div class='sortFilter' *ngIf="settingsButtons['sortOrder'].toggled">
        <select
          (change)="selectFilterOrder($event.target.value)"
          #sortFilterElement
          class="size-dropdown languageDropDown sortDropdown"
        >
          <option value="default" selected="selected">
            {{ 'SIDEBAR.sortDefault' | translate }}
          </option>
          <option *ngIf="settingsButtons['sortOptionTime'].toggled" value="timeAsc">
            &#x25B2; {{ 'SIDEBAR.sortTime' | translate }}
          </option>
          <option *ngIf="settingsButtons['sortOptionTime'].toggled" value="timeDesc">
            &#x25BC; {{ 'SIDEBAR.sortTime' | translate }}
          </option>
          <option *ngIf="settingsButtons['sortOptionSize'].toggled" value="sizeAsc">
            &#x25B2; {{ 'SIDEBAR.sortSize' | translate }}
          </option>
          <option *ngIf="settingsButtons['sortOptionSize'].toggled" value="sizeDesc">
            &#x25BC; {{ 'SIDEBAR.sortSize' | translate }}
          </option>
          <option *ngIf="settingsButtons['sortOptionTimesPlayed'].toggled" value="timesPlayedAsc">
            &#x25B2; {{ 'SIDEBAR.sortTimesPlayed' | translate }}
          </option>
          <option *ngIf="settingsButtons['sortOptionTimesPlayed'].toggled" value="timesPlayedDesc">
            &#x25BC; {{ 'SIDEBAR.sortTimesPlayed' | translate }}
          </option>
          <option *ngIf="settingsButtons['sortOptionStar'].toggled" value="starAsc">
            &#x25B2; {{ 'SIDEBAR.sortStar' | translate }}
          </option>
          <option *ngIf="settingsButtons['sortOptionStar'].toggled" value="starDesc">
            &#x25BC; {{ 'SIDEBAR.sortStar' | translate }}
          </option>
          <option *ngIf="settingsButtons['sortOptionYear'].toggled" value="yearAsc">
            &#x25B2; {{ 'SIDEBAR.sortYear' | translate }}
          </option>
          <option *ngIf="settingsButtons['sortOptionYear'].toggled" value="yearDesc">
            &#x25BC; {{ 'SIDEBAR.sortYear' | translate }}
          </option>
          <option *ngIf="settingsButtons['sortOptionModified'].toggled" value="modifiedAsc">
            &#x25B2; {{ 'SIDEBAR.sortModified' | translate }}
          </option>
          <option *ngIf="settingsButtons['sortOptionModified'].toggled" value="modifiedDesc">
            &#x25BC; {{ 'SIDEBAR.sortModified' | translate }}
          </option>
          <option value="random">
            {{ 'SIDEBAR.sortRandom' | translate }}
          </option>
        </select>
      </div>

      <!-- total found -->
      <div class="filtering-total">
        <span>{{ currResults.total | number:'.0' }} {{ 'SIDEBAR.found' | translate }}</span>
      </div>

      <!-- word cloud -->
      <div *ngIf="settingsButtons['showFreq'].toggled" class="frequency">
        <ng-container *ngFor="let word of wordFreqArr; index as i">
          <span
            [ngStyle]="{'font-size': word.height + 'px' }"
            (click)="handleFileWordClicked(word.word, $event)"
          >
            {{ word.word }}
          </span>
        </ng-container>
      </div>

      <div
        *ngIf="settingsButtons['showRecent'].toggled"
        [ngStyle]="{ color: settingsButtons['darkMode'].toggled ? '#aaaaaa' : '#333333' }"
        class="recently-opened"
      >
        <span class="recently-opened-label">{{ 'SIDEBAR.recentlyOpened' | translate }}</span>
        <ul>
          <li
            *ngFor="let historyItem of vhaFileHistory; index as i"
            (click)="openFromHistory(i)"
            class="sidebar-recently-opened"
          >
            {{ historyItem.hubName }}
          </li>
        </ul>
      </div>

    </div> <!-- closing the SIDEBAR -->

    <!-- ============================================== -->
    <!-- ===========    THE GALLERY PANE    =========== -->
    <!-- ============================================== -->

    <virtual-scroller
      #scroll
      id="scrollDiv"
      class="gallery-container"
      [ngStyle]="{
          'height': 'calc(100vh - ' + (
                                          (settingsButtons['hideTop'].toggled ? 53 : 98)
                                        + (appState.menuHidden ? -32 : 0)
                                        + (settingsButtons['showRelatedVideosTray'].toggled ? 170 : 0)
                                                                                                        ) + 'px)'
        }"
      [enableUnequalChildrenSizes]="appState.currentView === 'showFullView'"
      [ngClass]="{
          'gallery-container-full-width': settingsButtons['hideSidebar'].toggled,
          'gallery-container-dark-mode': settingsButtons['darkMode'].toggled
        }"
      [bufferAmount]="0"
      [items]="finalArray
                | magicSearchPipe: magicSearchString

                | fileSearchPipe: filters[0].array : filters[0].bool : true  : 0 : false

                | fileSearchPipe: filters[1].array : filters[1].bool : false : 0 : false

                | fileSearchPipe: filters[2].array : filters[2].bool : true  : 1 : false

                | fileSearchPipe: filters[3].array : filters[3].bool : false : 1 : false

                | fileSearchPipe: filters[4].array : filters[4].bool : true  : 1 : true

                | fileSearchPipe: filters[5].array : filters[5].bool : true  : 2 : false
                                  : settingsButtons['manualTags'].toggled
                                  : settingsButtons['autoFileTags'].toggled
                                  : settingsButtons['autoFolderTags'].toggled

                | fileSearchPipe: filters[6].array : filters[6].bool : false : 2 : false
                                  : settingsButtons['manualTags'].toggled
                                  : settingsButtons['autoFileTags'].toggled
                                  : settingsButtons['autoFolderTags'].toggled

                | fileSearchPipe: filters[7].array : filters[7].bool : true  : 2 : true
                                  : settingsButtons['manualTags'].toggled
                                  : settingsButtons['autoFileTags'].toggled
                                  : settingsButtons['autoFolderTags'].toggled

                | lengthFilterPipe: settingsButtons['durationFilter'].toggled
                                    : lengthLeftBound
                                    : lengthRightBound

                | resolutionFilterPipe: settingsButtons['resolutionFilter'].toggled
                                        : freqLeftBound
                                        : freqRightBound

                | starFilterPipe: settingsButtons['starFilter'].toggled
                                  : starLeftBound
                                  : starRightBound
                                  : forceStarFilterUpdate

                | similarityPipe: showSimilar : findMostSimilar

                | wordFrequencyPipe: settingsButtons['showFreq'].toggled
                                     : (settingsButtons['extendedWordCloud'].toggled ? 100 : 9)
                                     : settingsButtons['manualTags'].toggled
                                     : settingsButtons['autoFileTags'].toggled
                                     : settingsButtons['autoFolderTags'].toggled

                | countPipe

                | folderViewPipe: (settingsButtons['showFolders'].toggled)
                                  && (appState.currentView === 'showThumbnails' ||
                                      appState.currentView === 'showFiles' ||
                                      appState.currentView === 'showClips')
                                  : filters[1].array

                | sortingPipe: sortType : shuffleTheViewNow"
    >

    <!-- 24 above is 20 pixels for element and 4 for the fudge factor -->

    <!-- [childWidth]="200" obove not needed
            it can only take a number, but if nothing is entered
            it uses the width of the first child element
            so I can set 100vw for filmstrip -->

      <ng-container *ngIf="appState.currentView === 'showThumbnails'">
        <app-gallery-item
          *ngFor="let item of scroll.viewPortItems"
          (videoClick)="(item.cleanName === '***') ? handleFolderWordClicked(item.partialPath) : handleClick($event, item)"
          (sheetClick)="this.openThumbnailSheet(item)"
          (contextmenu)="(item.cleanName === '***') ? doNothing() : rightMouseClicked($event, item)"

          [elHeight]="previewHeight + textPaddingHeight"
          [elWidth]="previewWidth"
          [folderPath]="appState.selectedOutputFolder"
          [hubName]="appState.hubName"
          [imgHeight]="previewHeight"

          [compactView]="settingsButtons['compactView'].toggled"

          [video]="item"

          [darkMode]="settingsButtons['darkMode'].toggled"
          [hoverScrub]="settingsButtons['hoverScrub'].toggled"
          [largerFont]="settingsButtons['fontSizeLarger'].toggled"
          [returnToFirstScreenshot]="settingsButtons['returnToFirstScreenshot'].toggled"
          [showMeta]="settingsButtons['showMoreInfo'].toggled"
          [thumbAutoAdvance]="settingsButtons['thumbAutoAdvance'].toggled"

          style="display: inline-block"
          [ngStyle]="{
              height: previewHeight +
                      textPaddingHeight +
                      (settingsButtons['compactView'].toggled ? 0 : 20) +
                      'px',
              width: previewWidth
            }"
        ></app-gallery-item>
      </ng-container>

      <ng-container *ngIf="appState.currentView === 'showFilmstrip'">
        <app-filmstrip-item
          *ngFor="let item of scroll.viewPortItems"

          (click)="handleClick($event, item)"
          (contextmenu)="rightMouseClicked($event, item)"

          [video]="item"

          [elHeight]="previewHeight + textPaddingHeight"
          [folderPath]="appState.selectedOutputFolder"
          [hubName]="appState.hubName"
          [imgHeight]="previewHeight"

          [darkMode]="settingsButtons['darkMode'].toggled"
          [hoverScrub]="settingsButtons['hoverScrub'].toggled"
          [largerFont]="settingsButtons['fontSizeLarger'].toggled"
          [showMeta]="settingsButtons['showMoreInfo'].toggled"

          style="display: block"
          [ngStyle]="{ height: previewHeight + textPaddingHeight + 10 + 'px'}"
        ></app-filmstrip-item>
      </ng-container>

      <ng-container *ngIf="appState.currentView === 'showFullView'">
        <app-full-item
          *ngFor="let item of scroll.viewPortItems"

          (click)="handleClick($event, item)"
          (contextmenu)="rightMouseClicked($event, item)"

          [video]="item"

          [elHeight]="previewHeight + textPaddingHeight"
          [folderPath]="appState.selectedOutputFolder"
          [galleryWidth]="galleryWidth"
          [hubName]="appState.hubName"
          [imgHeight]="previewHeight"

          [darkMode]="settingsButtons['darkMode'].toggled"
          [largerFont]="settingsButtons['fontSizeLarger'].toggled"
          [showMeta]="settingsButtons['showMoreInfo'].toggled"

          style="display: block"
        ></app-full-item>
      </ng-container>

      <ng-container *ngIf="appState.currentView === 'showFiles'">
        <app-file-item
          *ngFor="let item of scroll.viewPortItems"

          (click)="(item.cleanName === '***') ? handleFolderWordClicked(item.partialPath) : openVideo(item.index)"
          (contextmenu)="(item.cleanName === '***') ? doNothing() : rightMouseClicked($event, item)"

          [video]="item"

          [largerFont]="settingsButtons['fontSizeLarger'].toggled"
          [showMeta]="settingsButtons['showMoreInfo'].toggled"
          [darkMode]="settingsButtons['darkMode'].toggled"

          style="display: block"
        ></app-file-item>
      </ng-container>

      <ng-container *ngIf="appState.currentView === 'showDetails'">
        <app-details-item
          *ngFor="let item of scroll.viewPortItems"

          (contextmenu)="rightMouseClicked($event, item)"
          (editFinalArrayStars)="editFinalArrayStars($event)"
          (editFinalArrayTag)="editFinalArrayTag($event)"
          (editFinalArrayYear)="editFinalArrayYear($event)"
          (filterTag)="handleFileWordClicked($event.tag.name, $event.event)"
          (openFileRequest)="openVideo($event)"

          [video]="item"

          [maxWidth]="detailsMaxWidth"

          [elHeight]="previewHeight + textPaddingHeight"
          [elWidth]="previewWidth"
          [folderPath]="appState.selectedOutputFolder"
          [hubName]="appState.hubName"
          [imgHeight]="previewHeight"

          [star]="item.stars"

          [darkMode]="settingsButtons['darkMode'].toggled"
          [hoverScrub]="settingsButtons['hoverScrub'].toggled"
          [largerFont]="settingsButtons['fontSizeLarger'].toggled"
          [returnToFirstScreenshot]="settingsButtons['returnToFirstScreenshot'].toggled"
          [showMeta]="settingsButtons['showMoreInfo'].toggled"
          [showManualTags]="settingsButtons['manualTags'].toggled"
          [showAutoFileTags]="settingsButtons['autoFileTags'].toggled"
          [showAutoFolderTags]="settingsButtons['autoFolderTags'].toggled"

          style="display: block"
        ></app-details-item>
      </ng-container>

      <ng-container *ngIf="appState.currentView === 'showClips' && currentScreenshotSettings.clipSnippets > 0">
        <app-clip-item
          *ngFor="let item of scroll.viewPortItems"
          (videoClick)="(item.cleanName === '***') ? handleFolderWordClicked(item.partialPath) : handleClick($event, item)"
          (sheetClick)="this.openThumbnailSheet(item)"
          (contextmenu)="(item.cleanName === '***') ? doNothing() : rightMouseClicked($event, item)"

          [video]="item"

          [elHeight]="previewHeight + textPaddingHeight"
          [elWidth]="previewWidth"
          [folderPath]="appState.selectedOutputFolder"
          [hubName]="appState.hubName"
          [imgHeight]="previewHeight"

          [autoplay]="settingsButtons['autoplayClips'].toggled"
          [darkMode]="settingsButtons['darkMode'].toggled"
          [largerFont]="settingsButtons['fontSizeLarger'].toggled"
          [forceMute]="settingsButtons['muteClips'].toggled"
          [showMeta]="settingsButtons['showMoreInfo'].toggled"

          style="display: inline-block"
        ></app-clip-item>
      </ng-container>

      <ng-container *ngIf="appState.currentView === 'showClips' && currentScreenshotSettings.clipSnippets === 0">
        <span class="no-clips-message" [ngStyle]="{ color: settingsButtons['darkMode'].toggled ? 'white' : 'black' }">
          {{ 'SETTINGS.noClipsExtracted' | translate }}
        </span>
      </ng-container>

    </virtual-scroller>

  </div> <!-- end of window-content -->

</div> <!-- end of window -->

<!-- MOST SIMILAR BOTTOM TRAY -->

<div
  *ngIf="settingsButtons['showRelatedVideosTray'].toggled"
  class="bottom-tray most-similar-tray"
  @modalAnimation
>

  <div
    *ngIf="!this.settingsButtons['hideSidebar'].toggled"
    class="most-similar-comment"
    @similarResultsText
  >
    {{ 'TAGS.showingMostSimilar' | translate }}
    <span class="most-siilar-filename">
      {{ currentPlayingFile }}
    </span>
  </div>

  <app-gallery-item
    *ngFor="let item of finalArray | similarityPipe: true : currentPlayingFile | slice:0:7 "

    (click)="handleClick($event, item)"
    (contextmenu)="rightMouseClicked($event, item)"

    [elHeight]="previewHeightRelated + textPaddingHeight"
    [elWidth]="previewWidthRelated"
    [folderPath]="appState.selectedOutputFolder"
    [hubName]="appState.hubName"
    [imgHeight]="previewHeightRelated"

    [video]="item"

    [darkMode]="settingsButtons['darkMode'].toggled"
    [hoverScrub]="settingsButtons['hoverScrub'].toggled"
    [largerFont]="settingsButtons['fontSizeLarger'].toggled"
    [returnToFirstScreenshot]="settingsButtons['returnToFirstScreenshot'].toggled"
    [showMeta]="settingsButtons['showMoreInfo'].toggled"

    style="display: inline-block; margin-bottom: 50px"
  ></app-gallery-item>

</div>

<!-- TAGS BOTTOM TRAY -->

<div
  *ngIf="settingsButtons['showTagTray'].toggled"
  class="bottom-tray manual-tag-tray"
  @modalAnimation
>
  <span class="manual-tag-tray-label">
    {{ 'TAGS.presentTags' | translate }}:
  </span>
  <button
    (click)="manualTagShowFrequency = !manualTagShowFrequency"
    class="showFrequency"
  >
    {{ 'TAGS.showFrequency' | translate }}
  </button>
  <input
    (keyup.esc)="manualTagFilterString = ''"
    [(ngModel)]="manualTagFilterString"
    class="manual-tag-tray-filter"
    placeholder="{{ 'TAGS.filterTags' | translate }}"
  >
  <app-view-tags-component
    [displayFrequency]="manualTagShowFrequency"
    [tags]="manualTagsService.tagsList | manualTagSortPipe
                                       : manualTagFilterString
                                       : settingsButtons['tagFrequencySort'].toggled
                                       : manualTagsService.pipeToggleHack"
    (tagClicked)="handleFileWordClicked($event.tag.name, $event.event)"
  ></app-view-tags-component>
</div>

<!-- IMPORT MODAL  -->

<div
  *ngIf="importStage === 'importingMeta'"
  class="progress-modal"
  @modalAnimation
>
  <div class="progress-container">
    <div class="current-progress" [ngStyle]="{ width: progressPercent * 100 + '%' }"></div>
  </div>
  <div class="progress-numbers">
    {{ progressNum1 }} / {{ progressNum2 }}
  </div>
</div>

<div [ngClass]="{ 'disabled-overlay': importStage === 'importingMeta' }"></div>

<!-- ============================================== -->
<!-- ================    WIZARD    ================ -->
<!-- ============================================== -->

<div *ngIf="wizard.showWizard" class="wizard" @myWizardAnimation>

  <div *ngIf="canCloseWizard" (click)="hideWizard()" class="closeWizard" title="{{ 'WIZARD.closeButton' | translate }}">
    <app-icon class="close-modal-icon" [icon]="'icon-close'"></app-icon>
  </div>

  <div class="left-side" @slowFadeIn>

    <h2>{{ 'WIZARD.openPrevious' | translate }}</h2>

    <button class="wizardButton" (click)="loadFromFile()" title="{{ 'WIZARD.openPreviouslySaved' | translate }}">
      {{ 'WIZARD.loadFromFile' | translate }}
    </button>

    <div class="recently-opened-wizard" *ngIf="(vhaFileHistory || {}).length > 0" @historyItemRemove>

      <h3>{{ 'WIZARD.recentlyOpened' | translate }}</h3>

      <ul>
        <li *ngFor="let historyItem of vhaFileHistory; index as i" (click)="openFromHistory(i)" @historyItemRemove>
          <div
            class="clear-history-item"
            (click)="removeFromHistory($event, i)"
            title="{{ 'WIZARD.removeFromHistory' | translate }}"
          >
            <app-icon
              [icon]="'icon-close'"
            ></app-icon>
          </div>
          <img class="history-icon" src="./assets/logo.png">
          <span class="history-name">{{ historyItem.hubName }}</span>
          <br>
          <span class="path recent" [innerHtml]="historyItem.vhaFilePath | folderArrowsPipe : false"></span>
        </li>
      </ul>

      <span class="clear-history" (click)="clearRecentlyViewedHistory()">{{ 'WIZARD.clearRecent' | translate }}</span>
    </div>

  </div>

  <div class="right-side" @slowFadeIn>

    <h2>{{ 'WIZARD.importNew' | translate }}</h2>

    <div
      [ngClass]="{
          'current-step': wizard.futureHubName === '',
          'fulfilled': wizard.futureHubName !== ''
        }"
      class="steps"
    >
      1
    </div>
    <input
      [(ngModel)]="wizard.futureHubName"
      (keypress)="validateHubName($event)"
      class="inputFilter hub-name-input"
    >
    <span class="step-description">
      {{ 'WIZARD.nameYourHub' | translate }}
    </span>

    <div
      [ngClass]="{
          'current-step': wizard.futureHubName !== '' && wizard.selectedSourceFolder === '',
          'fulfilled': wizard.selectedSourceFolder !== ''
        }"
      class="steps"
    >
      2
    </div>
    <button
      class="wizardButton"
      (click)="selectSourceDirectory()"
      [disabled]="wizard.futureHubName === ''"
      title="{{ 'WIZARD.selectFolderWithVideo' | translate }}"
    >
      {{ (wizard.selectedSourceFolder === '' ? 'WIZARD.select' : 'WIZARD.change') | translate }}
      {{ 'WIZARD.videoDirectory' | translate }}
    </button>

    <span class="step-description">
      {{ 'WIZARD.importingFrom' | translate }}
    </span>
    <span class="path" [innerHtml]="wizard.selectedSourceFolder | folderArrowsPipe : false">
    </span>
    <span class="step-description" [ngStyle]="{ opacity: wizard.totalNumberOfFiles === -1 ? 0 : 1 }">
      <!-- don't use *ngIf on this element, else it disappears and changes height of section -->
      {{ 'WIZARD.found' | translate }}
      <span class="emphasis-number">
        {{ wizard.totalNumberOfFiles | number }}
      </span>
      {{ 'WIZARD.videos' | translate }}
      {{ (wizard.totalNumberOfFiles > 50 && demo ? 'WIZARD.demoVersion' : '') | translate }}
    </span>

    <div
      [ngClass]="{ 'fulfilled': wizard.selectedOutputFolder !== '' }"
      class="steps"
    >
      3
    </div>
    <button
      class="wizardButton"
      (click)="selectOutputDirectory()"
      [disabled]="wizard.selectedSourceFolder === '' || wizard.futureHubName === ''"
      title="{{ 'WIZARD.selectWhereFilesStored' | translate }}"
    >
      {{ (wizard.selectedOutputFolder === '' ? 'WIZARD.select' : 'WIZARD.change') | translate }}
      {{ 'WIZARD.hubDirectory' | translate }}
    </button>

    <span class="step-description">
      {{ 'WIZARD.savingTo' | translate }}
    </span>
    <span class="path" [innerHtml]="wizard.selectedOutputFolder | folderArrowsPipe : false">
    </span>

    <div
      [ngClass]="{ 'fulfilled': wizard.selectedOutputFolder !== '' && wizard.selectedSourceFolder !== '' }"
      class="steps"
    >
      4
    </div>

    <div
      class="ssNumSelection"
      style="margin-top: 20px"
      [ngClass]="{ 'dim-row': !wizard.screensPerVideo
                            || wizard.selectedOutputFolder === ''
                            || wizard.selectedSourceFolder === ''
                            || wizard.futureHubName === ''
      }"
    >

      <input
        type="radio"
        name="ssNumSelection"
        checked
        (change)="setScreensPerVideo(true)"
        [disabled]="wizard.selectedOutputFolder === ''
                 || wizard.selectedSourceFolder === ''
                 || wizard.futureHubName === ''"
      >
      <input
        (change)="selectNumOfScreens($event.target.value)"
        type="number"
        class="size-dropdown languageDropDown numSelect"
        value=10
        min=3
        max=30
        onKeyDown="return false"
        [disabled]="wizard.selectedOutputFolder === ''
                 || wizard.selectedSourceFolder === ''
                 || wizard.futureHubName === ''
                 || !wizard.screensPerVideo"
      >
      {{ 'WIZARD.screenshotsPerVideo' | translate }}

    </div>

    <div
      class="ssNumSelection"
      [ngClass]="{ 'dim-row': wizard.screensPerVideo }"
    >

      <input
        type="radio"
        name="ssNumSelection"
        (change)="setScreensPerVideo(false)"
        [disabled]="wizard.selectedOutputFolder === ''
                 || wizard.selectedSourceFolder === ''
                 || wizard.futureHubName === ''"
      >
      {{ 'WIZARD.oneScreenshotEvery' | translate }}
      <input
        (change)="selectNumOfScreens($event.target.value)"
        type="number"
        class="size-dropdown languageDropDown numSelect"
        value=5
        min=1
        max=20
        onKeyDown="return false"
        [disabled]="wizard.selectedOutputFolder === ''
                 || wizard.selectedSourceFolder === ''
                 || wizard.futureHubName === ''
                 || wizard.screensPerVideo"
      >
      {{ 'WIZARD.minutes' | translate }}

    </div>

    <div
      *ngIf="wizard.selectedOutputFolder !== ''"
      class="screenshot-preview"
      [ngStyle]="{
          width: ((wizard.screenshotSizeForImport) * (16 / 9)) + 'px',
          height: wizard.screenshotSizeForImport + 'px'
        }"
      @galleryItemAppear
    >
      {{ 'WIZARD.imported' | translate }}
      <br>
      {{ 'WIZARD.screenshot' | translate }}
      <br>
      {{ 'WIZARD.size' | translate }}
    </div>

    <select
      (change)="selectScreenshotSize($event.target.value)"
      class="size-dropdown languageDropDown"
      [disabled]="wizard.selectedOutputFolder === ''
               || wizard.selectedSourceFolder === ''
               || wizard.futureHubName === ''"
    >
      <option value="144">144px</option>
      <option value="216">216px</option>
      <option value="288" selected="selected">288px</option>
      <option value="360">360px</option>
      <option value="432">432px</option>
    </select>

    <span
      class="step-four-text"
      [ngClass]="{ 'dim-row': !(wizard.selectedOutputFolder !== '' && wizard.selectedSourceFolder !== '') }"
    >
      {{ 'WIZARD.sizeOfScreenshots' | translate }}
    </span>

    <div [ngClass]="{ 'dim-row': !wizard.extractClips }">

      <input
        type="checkbox"
        [(ngModel)]="wizard.extractClips"
        class="clip-check-box"
        [disabled]="wizard.selectedOutputFolder === ''
                || wizard.selectedSourceFolder === ''
                || wizard.futureHubName === ''"
      >

      <span class="step-four-text">
        {{ 'WIZARD.extractClips' | translate }}
      </span>

      <input
        (change)="selectNumOfClipSnippets($event.target.value)"
        type="number"
        class="size-dropdown languageDropDown numSelect"
        value=5
        min=3
        max=15
        onKeyDown="return false"
        [disabled]="wizard.selectedOutputFolder === ''
                || wizard.selectedSourceFolder === ''
                || wizard.futureHubName === ''
                || !wizard.screensPerVideo
                || !wizard.extractClips"
      >

      <span class="step-four-text">
        {{ 'WIZARD.clipSnippets' | translate }}
      </span>

    </div>


    <div [ngClass]="{ 'dim-row': !wizard.extractClips }" style="margin-left: 38px">

      <span class="step-four-text">
        {{ 'WIZARD.eachSnippet' | translate }}
      </span>

      <input
        (change)="selectLengthOfClipSnippets($event.target.value)"
        type="number"
        class="size-dropdown languageDropDown numSelect"
        value=1
        min=1
        max=5
        onKeyDown="return false"
        [disabled]="wizard.selectedOutputFolder === ''
                || wizard.selectedSourceFolder === ''
                || wizard.futureHubName === ''
                || !wizard.screensPerVideo
                || !wizard.extractClips"
      >

      <span class="step-four-text">
        {{ 'WIZARD.secondsLong' | translate }}
      </span>

    </div>

    <div
      [ngClass]="{
        'current-step': wizard.selectedOutputFolder !== ''
                     && wizard.selectedSourceFolder !== ''
      }"
      class="steps"
    >
      5
    </div>
    <button
      class="wizardButton"
      [disabled]="wizard.selectedOutputFolder === ''
               || wizard.selectedSourceFolder === ''
               || importStage !== 'done'
               || wizard.futureHubName === ''
               || wizard.totalNumberOfFiles === 0"
      (click)="importFresh()"
    >
      {{ 'WIZARD.createVideoHub' | translate }}
    </button>

    <span
      class="description"
      *ngIf="wizard.totalNumberOfFiles !== -1"
    >
      {{ 'WIZARD.expected' | translate }}
    </span>
    <span
      class="step-description"
      *ngIf="wizard.totalNumberOfFiles !== -1"
    >
      <span class="emphasis-number">
        {{ wizard.totalImportTime }}
      </span>
      {{ 'WIZARD.timeToImport' | translate }}
    </span>
    <span
      class="step-description"
      *ngIf="wizard.totalNumberOfFiles !== -1"
    >
      <span class="emphasis-number">
        {{ wizard.totalImportSize }}
      </span>
      {{ 'WIZARD.sizeToImport' | translate }}
    </span>

  </div>

</div>
