<div class="window">

  <app-title-bar
    (initiateClose)="initiateClose()"
    (initiateMaximize)="initiateMaximize()"
    (initiateMinimize)="initiateMinimize()"

    [appState]="appState"
    [demo]="demo"
    [importStage]="importStage"
    [macVersion]="macVersion"
    [progressString]="progressString"
    [settingsButtons]="settingsButtons"
   />

@if (flickerReduceOverlay === true) {
  <div
    class="reduceFlicker"
    @slowFadeOut
  ></div>
}

<!-- Progress indicator - "Donut" -->
@if (importStage !== 'done' && !settingsButtons['hideTop'].toggled) {
  <div
    class="cancel-progress"
    @donutAppear
  >
    <span
      (click)="cancelCurrentImport()"
      [ngClass]="{ 'cancel-progress-dark': settingsButtons['darkMode'].toggled }"
    >
      {{ 'WIZARD.stopImport' | translate }}
    </span>
  </div>
}

@if (importStage !== 'done' && !settingsButtons['hideTop'].toggled) {
  <app-donut
    class="screenShotProgressPercent"
    [percent]="extractionPercent"
    [timeRemaining]="timeExtractionRemaining"
    [darkMode]="settingsButtons['darkMode'].toggled"
    @donutAppear
   />
}

<!-- OVERLAY to cancel out right click modal -->
@if (rightClickShowing) {
  <div
    class="click-away-overlay"
    (click)="      rightClickShowing = false"
    (contextmenu)="rightClickShowing = false"
    @overlayAppear
    >
  </div>
}

<!-- OVERLAY to cancel out rename modal -->
@if (renamingNow) {
  <div
    class="click-away-overlay disable-mouse-clicks"
    @overlayAppear
    >
  </div>
}

<!-- OVERLAY to cancel out sheet display modal -->
@if (sheetOverlayShowing) {
  <div
    class="click-away-overlay"
    (click)="      sheetOverlayShowing = false;"
    (contextmenu)="sheetOverlayShowing = false;"
    @overlayAppear
    >
  </div>
}

<!-- ===========   RIGHT CLICK MODAL    =========== -->
@if (rightClickShowing) {
  <div
    (click)="rightClickShowing = false"
    [ngStyle]="{
        top: rightClickPosition.y + 'px',
        left: rightClickPosition.x + 'px'
      }"
    class="right-click-menu"
    @rightClickAnimation
  >
    <ul @rightClickContentAnimation>
      <li (click)="updatePlaylist(currentRightClickedItem)">
        {{ currentRightClickedItem.playlist
            ? ('RIGHTCLICK.playlistRemove' | translate)
            : ('RIGHTCLICK.playlistAdd'    | translate) }}</li>

      <li
        (click)="renamingNow = true"
        [ngClass]="{ 'right-click-disabled': !sourceFolderService.sourceFolderConnected[currentRightClickedItem.inputSource] }"
      >
                                                                {{ 'RIGHTCLICK.renameFile'  | translate }}</li>
      <li (click)="showSimilarNow()">                           {{ 'RIGHTCLICK.showSimilar' | translate }}</li>
      <li (click)="showOnlyThisFolderNow()">                    {{ 'RIGHTCLICK.viewFolder'  | translate }}</li>
      <li
        (click)="openContainingFolderNow()"
        [ngClass]="{ 'right-click-disabled': !sourceFolderService.sourceFolderConnected[currentRightClickedItem.inputSource] }"
      >
                                                                {{ 'RIGHTCLICK.openFolder'  | translate }}</li>
      <li (click)="openThumbnailSheet(currentRightClickedItem)">{{ 'RIGHTCLICK.sheetModal'  | translate }}</li>
    @if (settingsButtons['showDeleteOption'].toggled) {
      <li
        (click)="deleteThisFile(currentRightClickedItem)"
        class="right-click-delete"
        [ngClass]="{ 'right-click-disabled': !sourceFolderService.sourceFolderConnected[currentRightClickedItem.inputSource] }"
      >
                                                                {{ 'RIGHTCLICK.delete'      | translate }}</li>
    }
    </ul>
  </div>
}

  <!-- ===========   Thumbnail Sheet Display   =========== -->
@if (sheetOverlayShowing) {
  <app-thumbnail-sheet
    (filterTag)="handleTagWordClicked($event.tag.name, $event.event)"
    (openVideoAtTime)="handleClick($event, sheetItemToDisplay)"

    [video]="sheetItemToDisplay"

    [elHeight]="previewHeight"
    [elWidth]="previewWidth"
    [folderPath]="appState.selectedOutputFolder"
    [hubName]="appState.hubName"
    [imgHeight]="previewHeight"
    [star]="sheetItemToDisplay.stars"

    [darkMode]="settingsButtons['darkMode'].toggled"
    [hoverScrub]="settingsButtons['hoverScrub'].toggled"
    [largerFont]="settingsButtons['fontSizeLarger'].toggled"
    [returnToFirstScreenshot]="settingsButtons['returnToFirstScreenshot'].toggled"
    [showAutoFileTags]="settingsButtons['autoFileTags'].toggled"
    [showAutoFolderTags]="settingsButtons['autoFolderTags'].toggled"
    [showManualTags]="settingsButtons['manualTags'].toggled"
    [showMeta]="settingsButtons['showMoreInfo'].toggled"
    [showVideoNotes]="settingsButtons['showVideoNotes'].toggled"

    [selectedSourceFolder]="sourceFolderService.selectedSourceFolder[sheetItemToDisplay.inputSource].path"
    [renameResponse]="renameFileResponseBehaviorSubject"
   />
}

<!-- ===========    RENAMING MODAL    =========== -->
@if (renamingNow) {
  <app-rename-modal
    [ngClass]="{ 'rename-dark': settingsButtons['darkMode'].toggled }"
    class="rename-popup"
    @modalAnimation

    (closeRename)="closeRename()"

    [appState]="appState"
    [basePath]="sourceFolderService.selectedSourceFolder[currentRightClickedItem.inputSource].path"
    [currentRightClickedItem]="currentRightClickedItem"
    [macVersion]="macVersion"
    [settingsButtons]="settingsButtons"

    [renameResponse]="renameFileResponseBehaviorSubject"
   />
}

  <!-- ===========    AUTO-GENERATED TAGS MODAL    =========== -->
@if (settingsButtons['showTags'].toggled) {
  <div
    class="settings-modal"
    @modalAnimation
  >
    <div
      (click)="toggleButton('showTags')"
      class="close-settings"
      title="{{ 'SETTINGS.closeSettings' | translate }}"
    >
      <app-icon class="close-modal-icon" [icon]="'icon-close'" />
    </div>
    <app-tags-component [hubName]="appState.hubName" (tagClicked)="autoTagClicked($event)" />
  </div>
}

  <!-- ==================================================== -->
  <!-- ===========   SETTINGS / OPTIONS MODAL   =========== -->
  <!-- ==================================================== -->

  <!-- Clickable tabs -->

@if (settingsModalOpen) {
  <div
    class="all-settings-tabs"
    @modalAnimation
  >
    <button (click)="settingTabToShow = 0" [ngClass]="{ 'active-tab': settingTabToShow === 0 }">
      {{ 'SETTINGS.tabFilter'     | translate }}
    </button>
    <button (click)="settingTabToShow = 1" [ngClass]="{ 'active-tab': settingTabToShow === 1 }">
      {{ 'SETTINGS.tabView'       | translate }}
    </button>
    <button (click)="settingTabToShow = 2" [ngClass]="{ 'active-tab': settingTabToShow === 2 }">
      {{ 'SETTINGS.tabMain'       | translate }}
    </button>
    <button (click)="settingTabToShow = 3" [ngClass]="{ 'active-tab': settingTabToShow === 3 }">
      {{ 'SETTINGS.tabCurrentHub' | translate }}
    </button>
    <button (click)="settingTabToShow = 4" [ngClass]="{ 'active-tab': settingTabToShow === 4 }">
      {{ 'SETTINGS.tabShortcuts'  | translate }}
    </button>
  </div>
}

  <!-- Modal with all settings -->

@if (settingsModalOpen) {
  <div
    class="settings-modal"
    @modalAnimation
    #settingsModal
  >

    <!-- fade out & close button -->

    <div class="modal-fade-out">
      <div
        (click)="toggleSettings()"
        class="close-settings close-settings-fade-out-override"
        title="{{ 'SETTINGS.closeSettings' | translate }}"
      >
        <app-icon class="close-modal-icon" [icon]="'icon-close'" />
      </div>
    </div>

    <!-- BUTTONS -->

    <app-settings
      (changeLanguage)="changeLanguage($any($event))"
      (checkForNewVersion)="checkForNewVersion()"
      (chooseDefaultVideoPlayer)="chooseDefaultVideoPlayer()"
      (decreaseZoomLevel)="decreaseZoomLevel()"
      (goDownloadNewVersion)="goDownloadNewVersion()"
      (increaseZoomLevel)="increaseZoomLevel()"
      (openOnlineHelp)="openOnlineHelp()"
      (resetZoomLevel)="resetZoomLevel()"
      (scrollSettingsToTop)="scrollSettingsToTop()"
      (toggleButton)="toggleButton($any($event))"
      (toggleHideButton)="toggleHideButton($event)"

      [appState]="appState"
      [demo]="demo"
      [latestVersionAvailable]="latestVersionAvailable"
      [settingTabToShow]="settingTabToShow"
      [settingsButtons]="settingsButtons"
      [versionNumber]="versionNumber"
     />

    <!-- HUB STATISTICS / Current Hub Settings -->

  @if (settingTabToShow == 3) {
    <div class="shortcut-menu">
      <app-statistics
        (deleteInputSourceFiles)="deleteInputSourceFiles($event)"
        (finalArrayNeedsSaving)="imageElementService.finalArrayNeedsSaving = true"
        (startServerOnPort)="startServer($event)"

        [appState]="appState"
        [hubName]="appState.hubName"
        [inputFolders]="sourceFolderService.selectedSourceFolder"
        [numFolders]="appState.numOfFolders"
        [pathToVhaFile]="appState.currentVhaFile"
        [screenshotSettings]="currentScreenshotSettings"

        [inputFolderChosen]="inputSorceChosenBehaviorSubject.asObservable()"
        [numberScreenshotsDeleted]="numberScreenshotsDeletedBehaviorSubject.asObservable()"
        [oldFolderReconnected]="oldFolderReconnectedBehaviorSubject.asObservable()"
        [serverDetails]="serverDetailsBehaviorSubject.asObservable()"
       />
    </div>
  }
    <!-- KEYBOARD SHORTCUTS -->
  @if (settingTabToShow == 4) {
    <div class="shortcut-menu">
      <app-shortcuts [macVersion]="macVersion" />
    </div>
  }
  </div>
}

  <!-- END OF SETTINGS MODAL ------------------------------------------------------------------- -->

@if (!settingsButtons['hideTop'].toggled) {
  <header
    class="top-of-buttons"
    [ngClass]="{ 'top-of-buttons-dark-mode': settingsButtons['darkMode'].toggled }"
    @topAnimation
  >
    <app-top-component
      class="top-content-position"

      [currentImageElement]="currentClickedItem"
      [darkMode]="settingsButtons['darkMode'].toggled"
      [fileString]="currentClickedItemName"
      [folderPath]="appState.selectedOutputFolder"
      [folderString]="currentPlayingFolder"
      [hubName]="appState.hubName"

      (onFileWordClicked)="handleFileWordClicked($event)"
      (onFolderWordClicked)="handleFolderWordClicked($event)"
      (onOpenDetails)="openThumbnailSheet($event)"
      (onOpenInExplorer)="openInExplorer()"
      (onPlayVideo)="openVideo($event, 0)"
     />
  </header>
}

  <div
    class="window-content"
    [ngStyle]="{
      transform: appState.menuHidden ? 'translate(0, -32px)' : 'translate(0, 0)'
    }"
  >

    <!-- ============================================== -->
    <!-- =============        RIBBON        =========== -->
    <!-- ============================================== -->

    <div
      class="all-settings"
      [ngClass]="{
        'all-settings-dark-mode': settingsButtons['darkMode'].toggled,
        'all-settings-flat-icons': settingsButtons['flatIcons'].toggled
      }"
    >

      <!-- ALL THE BUTTONS IN THE RIBBON -->
      <app-ribbon
        (toggleButton)="toggleButton($any($event))"
        [appState]="appState"
        [settingsButtonsGroups]="settingsButtonsGroups"
        [settingsButtons]="settingsButtons"
       />

      <!-- GEAR BUTTON -->
      <div
        (click)="toggleSettings()"
        [ngClass]="{ gearButtonActive: settingsModalOpen }"
        class="gearButton"
        title="{{ 'SETTINGS.settings' | translate }}"
      >
        <app-icon [icon]="'icon-gear'" />
      </div>
    @if (importStage !== 'done' && settingsButtons['hideTop'].toggled) {
      <div
        class="scanning-indicator scanning-indicator-right"
        title="{{ 'WIZARD.importInProgress' | translate }}"
        @slowFadeOut
      ></div>
    }

    </div>

    <div
      (click)="toggleRibbon()"
      class="hiding-settings-menu"
      [ngClass]="{
          flipped: !appState.menuHidden,
          'hiding-settings-menu-dark': settingsButtons['darkMode'].toggled
        }"
    >
      <app-icon class="mini-chevron" [icon]="'icon-chevron-down-mini'" />
    </div>

    <!-- BREADCRUMBS -->
    <app-breadcrumbs
      (breadcrumbHomeIconClick)="breadcrumbHomeIconClick()"
      (handleBbreadcrumbClicked)="handleBbreadcrumbClicked($event)"

      [appState]="appState"
      [folderViewNavigationPath]="folderViewNavigationPath"
      [settingsButtons]="settingsButtons"
     />

    <!-- ============================================== -->
    <!-- ===========         SIDEBAR        =========== -->
    <!-- ============================================== -->

    <div
      class="sidebar"
      [ngClass]="{
          'sidebar-hidden': settingsButtons['hideSidebar'].toggled,
          'sidebar-dark-mode': settingsButtons['darkMode'].toggled
        }"
      [ngStyle]="{
          'height': 'calc(100vh - ' + (
                        appState.menuHidden | sidebarHeightPipe
                          : settingsButtons['hideTop'].toggled
                          : (
                                 settingsButtons['showDetailsTray'].toggled
                              || settingsButtons['showFreq'].toggled
                              || settingsButtons['showRecentlyPlayed'].toggled
                              || settingsButtons['showRelatedVideosTray'].toggled
                              || settingsButtons['showTagTray'].toggled
                            )
                      ) + 'px)'
        }"
      #searchRef
    >

      <div class="filtering-total">

      @if (appState.numOfFolders !== 0) {
        {{ appState.numOfFolders | number }}
        {{ (appState.numOfFolders === 1 ? 'SIDEBAR.totalFolders' : 'SIDEBAR.totalFoldersPlural') | translate }}
      }

        <br>

      @if (!allFinishedScanning || importStage === 'importingMeta') {
        <div
          class="scanning-indicator"
          title="{{ 'SIDEBAR.scanInProgress' | translate }}"
          @slowFadeOut
        ></div>
      }
        {{ (imageElementService.imageElements | deleteFilePipe : deletePipeHack).length | number }}
        {{ 'SIDEBAR.videos' | translate }}
      </div>

      <!-- Regular search boxes / filters -->
      <app-search-boxes
        (checkTagTypeahead)="checkTagTypeahead($event)"
        (onBackspace)="onBackspace($event.word, $event.index)"
        (onEnterKey)="onEnterKey($event.word, $event.index)"
        (removeThisFilter)="removeThisFilter($event.item, $event.origin)"
        (typeaheadTabPressed)="typeaheadTabPressed($event)"

        [filters]="filters"
        [settingsButtons]="settingsButtons"
        [tagTypeAhead]="tagTypeAhead"
       />

      <!-- magic search -->
    @if (settingsButtons['magic'].toggled) {
      <div @filterItemAppear>
        <app-icon class="input-icon" [icon]="settingsButtons['magic'].iconName" />
        <input
          #magicSearch
          (keydown.escape)="magicSearchString = ''"
          [(ngModel)]="magicSearchString"
          [ngStyle]="{ color: settingsButtons['darkMode'].toggled ? 'white' : 'black' }"
          type="text"
          class="filter-general input-filter"
          placeholder="{{ 'SIDEBAR.magic' | translate }}"
        >
        <div class="filteredWords">
        @if (magicSearchString !== '') {
          <span
            (click)="magicSearchString = ''"
            [ngStyle]="{ background: '#aaffaa' }"
            class="search-or-tag-general search-word"
          >
            {{ magicSearchString }}
          </span>
        }
        </div>
      </div>
    }

    <!-- regex search -->
    @if (settingsButtons['regex'].toggled) {
      <div @filterItemAppear>
        <app-icon class="input-icon" [icon]="settingsButtons['regex'].iconName" />
        <input
          #regexSearch
          (keydown.escape)="regexSearchString = ''"
          [(ngModel)]="regexSearchString"
          [ngStyle]="{ color: settingsButtons['darkMode'].toggled ? 'white' : 'black' }"
          type="text"
          class="filter-general input-filter"
          placeholder="{{ 'SIDEBAR.regex' | translate }}"
        >
        <div class="filteredWords">
        @if (regexSearchString !== '') {
          <span
            (click)="regexSearchString = ''"
            [ngStyle]="{ background: '#aaffaa' }"
            class="search-or-tag-general search-word"
            [attr.title]="regexError ? ( 'SIDEBAR.invalidRegex' | translate ) : ''"
            [ngClass]="{ 'regex-error': regexError }"
          >
            {{ regexSearchString }}
          </span>
        }
        </div>
      </div>
    }

      <!-- fuzzy search -->
    @if (settingsButtons['fuzzy'].toggled) {
      <div @filterItemAppear>
        <app-icon class="input-icon" [icon]="settingsButtons['fuzzy'].iconName" />
        <input
          #fuzzySearch
          (keydown.escape)="fuzzySearchString = ''"
          [(ngModel)]="fuzzySearchString"
          [ngStyle]="{ color: settingsButtons['darkMode'].toggled ? 'white' : 'black' }"
          type="text"
          class="filter-general input-filter"
          placeholder="{{ 'SIDEBAR.fuzzy' | translate }}"
        >
        <div class="filteredWords">
        @if (fuzzySearchString !== '' && fuzzySearchString.length > 2) {
          <span
            (click)="fuzzySearchString = ''"
            [ngStyle]="{ background: '#aaffaa' }"
            class="search-or-tag-general search-word"
          >
            {{ fuzzySearchString }}
          </span>
        }
        </div>
      </div>
    }

      <!-- starts-with search -->
    @if (settingsButtons['startsWith'].toggled) {
      <div @filterItemAppear>
        <app-icon class="input-icon" [icon]="settingsButtons['startsWith'].iconName" />
        <input
          #startsWithSearch
          (keydown.escape)="startsWithSearchString = ''"
          [(ngModel)]="startsWithSearchString"
          [ngStyle]="{ color: settingsButtons['darkMode'].toggled ? 'white' : 'black' }"
          type="text"
          class="filter-general input-filter"
          placeholder="{{ 'SIDEBAR.startsWith' | translate }}"
        />
        <div class="filteredWords">
          <span
            *ngIf="startsWithSearchString !== ''"
            (click)="startsWithSearchString = ''"
            [ngStyle]="{ background: '#aaffaa' }"
            class="search-or-tag-general search-word"
          >
            {{ startsWithSearchString }}
          </span>
        </div>
      </div>
    }

      <!-- durationFilter -->
    @if (settingsButtons['durationFilter'].toggled) {
      <div class="slider-container" @sliderAppear>
        <app-slider-filter
          (newSliderFilterSelected)="newLengthFilterSelected($event)"
          [darkMode]="settingsButtons['darkMode'].toggled"
          [labelFormatPipe]="'lengthPipe'"
          [maximumValue]="durationOutlierCutoff"
          [minimumValue]="0"
          [lengthFilter]="true"
          [steps]="50"
         />
      </div>
    }

      <!-- sizeFilter -->
    @if (settingsButtons['sizeFilter'].toggled) {
      <div class="slider-container" @sliderAppear>
        <app-slider-filter
          (newSliderFilterSelected)="newSizeFilterSelected($event)"
          [darkMode]="settingsButtons['darkMode'].toggled"
          [labelFormatPipe]="'fileSizePipe'"
          [maximumValue]="sizeOutlierCutoff"
          [minimumValue]="0"
          [sizeFilter]="true"
          [steps]="50"
         />
      </div>
    }

      <!-- timesPlayedFilter -->
    @if (settingsButtons['timesPlayedFilter'].toggled) {
      <div class="slider-container" @sliderAppear>
        <app-slider-filter
          (newSliderFilterSelected)="newTimesPlayedFilterSelected($event)"
          [darkMode]="settingsButtons['darkMode'].toggled"
          [labelFormatPipe]="'timesPlayedPipe'"
          [maximumValue]="timesPlayedCutoff"
          [minimumValue]="-1"
          [timesPlayed]="true"
          [steps]="50"
         />
      </div>
    }

      <!-- yearFilter -->
    @if (settingsButtons['yearFilter'].toggled) {
      <div class="slider-container" @sliderAppear>
        <app-slider-filter
            (newSliderFilterSelected)="newYearFilterSelected($event)"
            [darkMode]="settingsButtons['darkMode'].toggled"
            [labelFormatPipe]="'yearPipe'"
            [maximumValue]="yearCutoff"
            [minimumValue]="yearMinCutoff"
            [yearFilter]="true"
            [steps]="50"
         />
      </div>
    }

    <!-- resolution filter & its frequency histogram -->
    @if (settingsButtons['resolutionFilter'].toggled) {
      <div class="slider-container" @sliderAppear>
      <app-resolution-filter
        (newResFilterSelected)="newResFilterSelected($event)"
        [freqLeftBound]="freqLeftBound"
        [freqRightBound]="freqRightBound"
        [resolutionFreqArr]="resolutionFreqArr"
        [resolutionNames]="resolutionNames"
        [settingsButtons]="settingsButtons"
       />
      </div>
    }

      <!-- star filter & its frequency histogram -->
    @if (settingsButtons['starFilter'].toggled) {
      <div class="slider-container" @sliderAppear>
      <app-star-filter
        (newStarFilterSelected)="newStarFilterSelected($event)"
        [settingsButtons]="settingsButtons"
        [starRatingFreqArr]="starRatingFreqArr"
        [starLeftBound]="starLeftBound"
        [starRightBound]="starRightBound"
        [starRatingNames]="starRatingNames"
       />
      </div>
    }

      <!-- Lev Distance -->
    @if (showSimilar) {
      <div class="lev-distance">
        <span class="lev-description">
          {{ 'SIDEBAR.similarTo' | translate }}
        </span>
        <span class="search-or-tag-general search-word" (click)="showSimilar = false">
          {{ findMostSimilar }}
        </span>
      </div>
    }

      <!-- Playlist only view -->
    @if (settingsButtons['showOnlyPlaylist'].toggled) {
      <div class="lev-distance">
        <span
          class="search-or-tag-general search-word"
          (click)="settingsButtons['showOnlyPlaylist'].toggled = false"
        >
          {{ 'SIDEBAR.playlistShowingOnly' | translate }}
        </span>

        <span
          class="delete-playlist"
          (click)="emptyPlaylist()"
          title="{{ 'SIDEBAR.playlistRemoveAll' | translate }}"
        >
          ✕
        </span>
      </div>
    }

      <!-- Duplicates -->
    @if (settingsButtons['duplicateLength'].toggled
      || settingsButtons['duplicateSize'].toggled
      || settingsButtons['duplicateHash'].toggled) {
      <div
        class="lev-distance"
      >
        <span class="lev-description">
          {{ 'SIDEBAR.duplicate' | translate }}
        </span>
      @if (settingsButtons['duplicateLength'].toggled) {
        <span
          class="search-or-tag-general search-word on-new-line"
          (click)="settingsButtons['duplicateLength'].toggled = false"
        >
          {{ 'SIDEBAR.dupeByLength' | translate }}
        </span>
      }
      @if (settingsButtons['duplicateSize'].toggled) {
        <span
          class="search-or-tag-general search-word on-new-line"
          (click)="settingsButtons['duplicateSize'].toggled = false"
        >
          {{ 'SIDEBAR.dupeBySize' | translate }}
        </span>
      }
      @if (settingsButtons['duplicateHash'].toggled) {
        <span
          class="search-or-tag-general search-word on-new-line"
          (click)="settingsButtons['duplicateHash'].toggled = false"
        >
          {{ 'SIDEBAR.dupeByHash' | translate }}
        </span>
      }
      </div>
    }

      <!-- SORT ORDER -->
      <app-sort-order
        (sortTypeChange)="selectFilterOrder($event)"
        [settingsButtons]="settingsButtons"
       />

    @if (settingsButtons['hideOffline'].toggled) {
      <div
        (click)="settingsButtons['hideOffline'].toggled = false"
        class="search-or-tag-general search-word hiding-offline"
      >
        {{ 'SIDEBAR.hidingOffline' | translate }}
      </div>
    }

      <!-- total found -->
      <div class="filtering-total">
        @if (numberOfVideosFound < (imageElementService.imageElements | deleteFilePipe : deletePipeHack).length) {
          <span
            title="{{ 'BUTTONS.clearAllFiltersHint' | translate }}"
            class="clear-all-filters"
            (click)="clearAllFilters()"
          >{{ numberOfVideosFound | number:'.0' }} {{ 'SIDEBAR.found' | translate }}</span>
        } @else {
          <span>{{ numberOfVideosFound | number:'.0' }} {{ 'SIDEBAR.found' | translate }}</span>
        }
      </div>

      <!-- Recently opened -->
      <app-recently-opened-hubs
        (openFromHistory)="openFromHistory($event)"
        [settingsButtons]="settingsButtons"
        [vhaFileHistory]="vhaFileHistory"
       />

    </div> <!-- closing the SIDEBAR -->

    <!-- ============================================== -->
    <!-- ===========    THE GALLERY PANE    =========== -->
    <!-- ============================================== -->

    <virtual-scroller
      #scroll
      id="scrollDiv"
      class="gallery-container"

      [ngStyle]="{
          'height': 'calc(100vh - ' + (
                        appState.menuHidden | sidebarHeightPipe
                          : settingsButtons['hideTop'].toggled
                          : (
                                 settingsButtons['showDetailsTray'].toggled
                              || settingsButtons['showFreq'].toggled
                              || settingsButtons['showRecentlyPlayed'].toggled
                              || settingsButtons['showRelatedVideosTray'].toggled
                              || settingsButtons['showTagTray'].toggled
                            )
                      ) + 'px)'
        }"

      [enableUnequalChildrenSizes]="appState.currentView === 'showFullView'"

      [ngClass]="{
          'gallery-container-full-width': settingsButtons['hideSidebar'].toggled,
          'gallery-container-dark-mode': settingsButtons['darkMode'].toggled,
          'gallery-showing-breadcrumbs': settingsButtons['showFolders'].toggled
                                         && (appState.currentView === 'showThumbnails' ||
                                             appState.currentView === 'showFiles' ||
                                             appState.currentView === 'showClips')
        }"

      [bufferAmount]="0"

      [items]="imageElementService.imageElements

                | playlistOnlyPipe : settingsButtons['showOnlyPlaylist'].toggled : playlistViewRefresh

                | deleteFilePipe : deletePipeHack

                | hideOfflinePipe : settingsButtons['hideOffline'].toggled

                | returnZeroPipe : (appState.currentView === 'showClips' && currentScreenshotSettings.clipSnippets === 0)

                | fileSearchPipe : filters[0].array : filters[0].bool : true  : 'folder' : false

                | fileSearchPipe : filters[1].array : filters[1].bool : false : 'folder' : false

                | fileSearchPipe : filters[2].array : filters[2].bool : true : 'folder' : true

                | fileSearchPipe : filters[3].array : filters[3].bool : true  : 'file'   : false

                | fileSearchPipe : filters[4].array : filters[4].bool : false : 'file'   : false

                | fileSearchPipe : filters[5].array : filters[5].bool : true  : 'file'   : true

                | fileSearchPipe : filters[6].array : filters[6].bool : true  : 'tag'    : false
                                 : settingsButtons['manualTags'].toggled
                                 : settingsButtons['autoFileTags'].toggled
                                 : settingsButtons['autoFolderTags'].toggled

                | fileSearchPipe : filters[7].array : filters[7].bool : false : 'tag'    : false
                                 : settingsButtons['manualTags'].toggled
                                 : settingsButtons['autoFileTags'].toggled
                                 : settingsButtons['autoFolderTags'].toggled

                | fileSearchPipe : filters[8].array : filters[8].bool : true  : 'tag'    : true
                                 : settingsButtons['manualTags'].toggled
                                 : settingsButtons['autoFileTags'].toggled
                                 : settingsButtons['autoFolderTags'].toggled

                | fileSearchPipe : filters[9].array : filters[9].bool : false : 'notes'  : false

                | magicSearchPipe : magicSearchString

                | regexSearchPipe : regexSearchString

                | fuzzySearchPipe : fuzzySearchString

                | startsWithSearchPipe : startsWithSearchString

                | duplicateFinderPipe : settingsButtons['duplicateLength'].toggled : 'length'

                | duplicateFinderPipe : settingsButtons['duplicateSize'].toggled   : 'size'

                | duplicateFinderPipe : settingsButtons['duplicateHash'].toggled   : 'hash'

                | lengthFilterPipe : settingsButtons['durationFilter'].toggled
                                   : durationLeftBound
                                   : durationRightBound

                | fileSizeFilterPipe : settingsButtons['sizeFilter'].toggled
                                     : sizeLeftBound
                                     : sizeRightBound

                | timesPlayedFilterPipe : settingsButtons['timesPlayedFilter'].toggled
                                        : timesPlayedLeftBound
                                        : timesPlayedRightBound

                | yearFilterPipe : settingsButtons['yearFilter'].toggled
                                 : yearLeftBound
                                 : yearRightBound

                | resolutionFilterPipe : settingsButtons['resolutionFilter'].toggled
                                       : freqLeftBound
                                       : freqRightBound

                | starFilterPipe : settingsButtons['starFilter'].toggled
                                 : starLeftBound
                                 : starRightBound
                                 : imageElementService.forceStarFilterUpdate

                | similarityPipe : showSimilar : findMostSimilar

                | wordFrequencyPipe : settingsButtons['showFreq'].toggled
                                    : settingsButtons['manualTags'].toggled
                                    : settingsButtons['autoFileTags'].toggled
                                    : settingsButtons['autoFolderTags'].toggled
                                    : folderViewNavigationPath

                | countPipe

                | folderViewPipe : (settingsButtons['showFolders'].toggled)
                                   && (   appState.currentView === 'showThumbnails'
                                       || appState.currentView === 'showFiles'
                                       || appState.currentView === 'showClips')
                                 : folderViewNavigationPath

                | sortingPipe : sortType : shuffleTheViewNow : (   settingsButtons['duplicateLength'].toggled
                                                                || settingsButtons['duplicateSize'].toggled
                                                                || settingsButtons['duplicateHash'].toggled
                                                                || (sortType === 'default' && fuzzySearchString.length > 2))

                | playlistPipe"
    >

      <!-- ==================================== THUMBNAILS ==================================== -->

    @if (appState.currentView === 'showThumbnails') {
      @for (item of scroll.viewPortItems; track item) {
        <app-thumbnail
          (videoClick)=" (item.cleanName === '*FOLDER*') ? handleFolderIconClicked(item.partialPath) : handleClick($event, item)"
          (rightClick)=" (item.cleanName === '*FOLDER*') ? doNothing()                               : rightMouseClicked($event.mouseEvent, $event.item)"

          (sheetClick)="this.openThumbnailSheet(item)"
          (drop)="droppedSomethingOverVideo($event, item)"

          (refreshPlaylist)="refreshPlaylistIfShowing()"

          [draggable]="settingsButtons['dragVideoOutOfApp'].toggled"
          (dragstart)="draggingVideoFile($event, item)"

          [video]="item"

          [connected]="sourceFolderService.sourceFolderConnected[item.inputSource]"

          [elHeight]="previewHeight + textPaddingHeight"
          [elWidth]="previewWidth"
          [folderPath]="appState.selectedOutputFolder"
          [hubName]="appState.hubName"
          [imgHeight]="previewHeight"
          [showFavorites]="settingsButtons['favorites'].toggled"

          [compactView]="settingsButtons['compactView'].toggled"
          [darkMode]="settingsButtons['darkMode'].toggled"
          [hoverScrub]="settingsButtons['hoverScrub'].toggled"
          [largerFont]="settingsButtons['fontSizeLarger'].toggled"
          [returnToFirstScreenshot]="settingsButtons['returnToFirstScreenshot'].toggled"
          [showMeta]="settingsButtons['showMoreInfo'].toggled"
          [thumbAutoAdvance]="settingsButtons['thumbAutoAdvance'].toggled"

          style="display: inline-block"
          [ngStyle]="{
              height:   previewHeight
                      + textPaddingHeight
                      + (settingsButtons['compactView'].toggled ? 0 : 20)
                      + 'px',
              width: previewWidth
            }"
         />
      }
    }

    <!-- ==================================== FILMSTRIP ==================================== -->

    @if (appState.currentView === 'showFilmstrip') {
      @for (item of scroll.viewPortItems; track item) {
        <app-filmstrip-item
          (videoClick)="handleClick($event, item)"
          (rightClick)="(item.cleanName === '*FOLDER*') ? doNothing() : rightMouseClicked($event.mouseEvent, $event.item)"

          (drop)="droppedSomethingOverVideo($event, item)"

          [draggable]="settingsButtons['dragVideoOutOfApp'].toggled"
          (dragstart)="draggingVideoFile($event, item)"

          [video]="item"

          [elHeight]="previewHeight + textPaddingHeight"
          [folderPath]="appState.selectedOutputFolder"
          [hubName]="appState.hubName"
          [imgHeight]="previewHeight"
          [showFavorites]="settingsButtons['favorites'].toggled"

          [compactView]="settingsButtons['compactView'].toggled"
          [darkMode]="settingsButtons['darkMode'].toggled"
          [hoverScrub]="settingsButtons['hoverScrub'].toggled"
          [largerFont]="settingsButtons['fontSizeLarger'].toggled"
          [showMeta]="settingsButtons['showMoreInfo'].toggled"

          style="display: block"
          [ngStyle]="{
              height:   previewHeight
                      + textPaddingHeight
                      + (settingsButtons['compactView'].toggled ? 0 : 10)
                      + 'px'
            }"
         />
      }
    }

      <!-- ==================================== FULL VIEW ==================================== -->

    @if (appState.currentView === 'showFullView') {
      @for (item of scroll.viewPortItems; track item) {
        <app-full-item
          (videoClick)="handleClick($event, item)"
          (rightClick)="rightMouseClicked($event.mouseEvent, $event.item)"

          (drop)="droppedSomethingOverVideo($event, item)"

          [draggable]="settingsButtons['dragVideoOutOfApp'].toggled"
          (dragstart)="draggingVideoFile($event, item)"

          [video]="item"

          [elHeight]="previewHeight + textPaddingHeight"
          [folderPath]="appState.selectedOutputFolder"
          [galleryWidth]="galleryWidth"
          [hubName]="appState.hubName"
          [imgHeight]="previewHeight"
          [showFavorites]="settingsButtons['favorites'].toggled"

          [darkMode]="settingsButtons['darkMode'].toggled"
          [largerFont]="settingsButtons['fontSizeLarger'].toggled"
          [showMeta]="settingsButtons['showMoreInfo'].toggled"

          style="display: block"
         />
      }
    }

      <!-- ==================================== FILES / TEXT ==================================== -->

    @if (appState.currentView === 'showFiles') {
      @for (item of scroll.viewPortItems; track item) {
        <app-file-item
          (click)="      (item.cleanName === '*FOLDER*') ? handleFolderIconClicked(item.partialPath) : handleClick({ mouseEvent: $event }, item)"
          (dblclick)="   (item.cleanName === '*FOLDER*') ? handleFolderIconClicked(item.partialPath) : handleClick({ mouseEvent: $event }, item, true)"
          (contextmenu)="(item.cleanName === '*FOLDER*') ? doNothing()                               : rightMouseClicked($event, item)"

          (drop)="droppedSomethingOverVideo($event, item)"

          [draggable]="settingsButtons['dragVideoOutOfApp'].toggled"
          (dragstart)="draggingVideoFile($event, item)"
          [video]="item"
          [showFavorites]="settingsButtons['favorites'].toggled"

          [darkMode]="settingsButtons['darkMode'].toggled"
          [largerFont]="settingsButtons['fontSizeLarger'].toggled"
          [showMeta]="settingsButtons['showMoreInfo'].toggled"

          style="display: block"
         />
      }
    }

      <!-- ==================================== DETAILS / META ==================================== -->

    @if (appState.currentView === 'showDetails' || appState.currentView === 'showDetails2') {
      @for (item of scroll.viewPortItems; track item) {
        <app-details-item
          (videoClick)="handleClick($event, item)"
          (rightClick)="rightMouseClicked($event.mouseEvent, $event.item)"
          (filterTag)="handleTagWordClicked($event.tag.name, $event.event)"

          (drop)="droppedSomethingOverVideo($event, item)"

          [draggable]="settingsButtons['dragVideoOutOfApp'].toggled"
          (dragstart)="draggingVideoFile($event, item)"

          [video]="item"

          [showTwoColumns]="appState.currentView === 'showDetails2'"

          [maxWidth]="galleryWidth - 40"

          [elHeight]="previewHeight"
          [elWidth]="previewWidth"
          [folderPath]="appState.selectedOutputFolder"
          [hubName]="appState.hubName"
          [imgHeight]="previewHeight"
          [selectedSourceFolder]="sourceFolderService.selectedSourceFolder[item.inputSource]?.path"

          [star]="item.stars"

          [darkMode]="settingsButtons['darkMode'].toggled"
          [hoverScrub]="settingsButtons['hoverScrub'].toggled"
          [largerFont]="settingsButtons['fontSizeLarger'].toggled"
          [returnToFirstScreenshot]="settingsButtons['returnToFirstScreenshot'].toggled"
          [showAutoFileTags]="settingsButtons['autoFileTags'].toggled"
          [showAutoFolderTags]="settingsButtons['autoFolderTags'].toggled"
          [showManualTags]="settingsButtons['manualTags'].toggled"
          [showMeta]="settingsButtons['showMoreInfo'].toggled"
          [showVideoNotes]="settingsButtons['showVideoNotes'].toggled"
          [showFavorites]="settingsButtons['favorites'].toggled"

          [renameResponse]="renameFileResponseBehaviorSubject"

          [ngStyle]="{ display: appState.currentView === 'showDetails' ? 'block' : 'inline-block' }"
         />
      }
    }

      <!-- ==================================== CLIPS ==================================== -->

    @if (appState.currentView === 'showClips') {
      @for (item of scroll.viewPortItems; track item) {
        <app-clip-item
          (videoClick)="(item.cleanName === '*FOLDER*') ? handleFolderIconClicked(item.partialPath) : handleClick($event, item)"
          (rightClick)="(item.cleanName === '*FOLDER*') ? doNothing()                               : rightMouseClicked($event.mouseEvent, $event.item)"

          (sheetClick)="this.openThumbnailSheet(item)"

          (drop)="droppedSomethingOverVideo($event, item)"

          [draggable]="settingsButtons['dragVideoOutOfApp'].toggled"
          (dragstart)="draggingVideoFile($event, item)"

          [video]="item"

          [elHeight]="previewHeight + textPaddingHeight"
          [elWidth]="previewWidth"
          [folderPath]="appState.selectedOutputFolder"
          [hubName]="appState.hubName"
          [imgHeight]="previewHeight"

          [autoplay]="settingsButtons['autoplayClips'].toggled"
          [compactView]="settingsButtons['compactView'].toggled"
          [darkMode]="settingsButtons['darkMode'].toggled"
          [forceMute]="settingsButtons['muteClips'].toggled"
          [defaultThumbnailMode]="settingsButtons['clipsThumbnail'].toggled"
          [returnToFirstScreenshot]="settingsButtons['returnToFirstScreenshot'].toggled"
          [largerFont]="settingsButtons['fontSizeLarger'].toggled"
          [showMeta]="settingsButtons['showMoreInfo'].toggled"

          style="display: inline-block"
         />
      }
    }

      <div class="bottom-of-scroller-spacer"></div>

    </virtual-scroller>

  @if (numberOfVideosFound === 0) {
    <div
      class="no-results"
      [ngStyle]="{
        'padding-left': settingsButtons['hideSidebar'].toggled ? 0 : '190px',
        'color': settingsButtons['darkMode'].toggled ? '#aaaaaa' : 'initial'
      }"
    >
      @if ((appState.currentView === 'showClips' && currentScreenshotSettings.clipSnippets === 0)) {
        {{ 'SETTINGS.noClipsExtracted' | translate }}
      } @else {
        {{ 'SETTINGS.noResultsFound' | translate }}
      }
    </div>
  }

  </div> <!-- end of window-content -->

</div> <!-- end of window -->

<!-- BOTTOM TRAY SECTION -->
<div
  class="all-settings-tabs bottom-tray-tabs"
  [ngClass]="{
    'bottom-tray-tabs-dark': settingsButtons['darkMode'].toggled,
    'bottom-tray-tabs-open': settingsButtons['showDetailsTray'].toggled
                          || settingsButtons['showFreq'].toggled
                          || settingsButtons['showRecentlyPlayed'].toggled
                          || settingsButtons['showRelatedVideosTray'].toggled
                          || settingsButtons['showTagTray'].toggled
  }"
>
@if (                         !settingsButtons['showFreq'].hidden) {
  <button
    (click)="                     toggleButton('showFreq')"
    [ngClass]="{ 'active-tab': settingsButtons['showFreq'].toggled }"
  >
    {{ 'SETTINGS.trayCloud'     | translate }}
  </button>
}

@if (                         !settingsButtons['showTagTray'].hidden) {
  <button
    (click)="                     toggleButton('showTagTray')"
    [ngClass]="{ 'active-tab': settingsButtons['showTagTray'].toggled }"
  >
    {{ 'SETTINGS.trayTags'      | translate }}
  </button>
}

@if (                         !settingsButtons['showRelatedVideosTray'].hidden) {
  <button
    (click)="                     toggleButton('showRelatedVideosTray')"
    [ngClass]="{ 'active-tab': settingsButtons['showRelatedVideosTray'].toggled }"
  >
    {{ 'SETTINGS.traySimilar'   | translate }}
  </button>
}

@if (                         !settingsButtons['showRecentlyPlayed'].hidden) {
  <button
    (click)="                     toggleButton('showRecentlyPlayed')"
    [ngClass]="{ 'active-tab': settingsButtons['showRecentlyPlayed'].toggled }"
  >
    {{ 'SETTINGS.recentlyPlayed' | translate }}
  </button>
}

@if (                         !settingsButtons['showDetailsTray'].hidden) {
  <button
    (click)="                     toggleButton('showDetailsTray')"
    [ngClass]="{ 'active-tab': settingsButtons['showDetailsTray'].toggled }"
  >
    {{ 'SETTINGS.showDetailsTray' | translate }}
  </button>
}
</div>

  <!-- ===========    Bottom Tray Section - region below tabs   =========== -->

@if (settingsButtons['showDetailsTray'].toggled
  || settingsButtons['showFreq'].toggled
  || settingsButtons['showRecentlyPlayed'].toggled
  || settingsButtons['showRelatedVideosTray'].toggled
  || settingsButtons['showTagTray'].toggled) {
<div
  class="bottom-tray"
  [ngClass]="{ 'bottom-tray-dark': settingsButtons['darkMode'].toggled }"
  @bottomTrayAnimation
>
  <div
    (click)="toggleAllTrayViewsButtonsOff()"
    class="close-bottom-tray"
    title="{{ 'SETTINGS.closeBottomTray' | translate }}"
  >
    <app-icon class="close-modal-icon" [icon]="'icon-close'" />
  </div>
  <!-- MOST SIMILAR & RECENTLY PLAYED -->
@if (settingsButtons['showRelatedVideosTray'].toggled
  || settingsButtons['showRecentlyPlayed'].toggled) {
  <app-similar-tray
    (handleClick)="handleClick($event.expectedEvent, $event.item)"
    (rightMouseClicked)="rightMouseClicked($event.mouseEvent, $event.item)"
    (showMoreRecentlyPlayed)="sortByRecentlyPlayed()"
    [appState]="appState"
    [currentClickedItemName]="currentClickedItemName"
    [previewHeightRelated]="previewHeightRelated"
    [previewWidthRelated]="previewWidthRelated"
    [settingsButtons]="settingsButtons"
    [showRecentNotSimilar]="settingsButtons['showRecentlyPlayed'].toggled"
   />
}
  <!-- TAGS -->
@if (settingsButtons['showTagTray'].toggled) {
  <app-tag-tray
    (handleTagWordClicked)="handleTagWordClicked($event.tag.name, $event.event)"
    (selectAll)="selectAllVisible()"
    (toggleBatchTaggingMode)="toggleBatchTaggingMode()"
    [appState]="appState"
    [batchTaggingMode]="batchTaggingMode"
    [darkMode]="settingsButtons['darkMode'].toggled"
    [settingsButtons]="settingsButtons"
    [updateTotalSelectedTrigger]="tagBatchModeSelectionChangedTrigger"
   />
}
  <!-- WORD CLOUD -->
@if (settingsButtons['showFreq'].toggled) {
  <div
    class="cloud-frequency"
  >
    <div class="word-cloud-buttons">
      <app-button (toggleButton)="toggleButton($any($event))" [button]="'manualTags'"     [settingsButtons]="settingsButtons" />
      <app-button (toggleButton)="toggleButton($any($event))" [button]="'autoFileTags'"   [settingsButtons]="settingsButtons" />
      <app-button (toggleButton)="toggleButton($any($event))" [button]="'autoFolderTags'" [settingsButtons]="settingsButtons" />
    </div>
  @if (settingsButtons['manualTags'].toggled
    || settingsButtons['autoFileTags'].toggled
    || settingsButtons['autoFolderTags'].toggled) {
    <div
      class="word-cloud-tags"
    >
    @for (word of wordFreqArr; track word) {
      <span
        [ngStyle]="{'font-size': word.height + 'px' }"
        (click)="handleTagWordClicked(word.word, $event)"
      >
        {{ word.word }}
      </span>
  }
    </div>
  } @else {
      <span class="please-select-tag" @modalAnimation>
        {{ 'TAGS.pleaseEnable' | translate }}
      </span>
  }
  </div>
}
  <!-- CURRENT (last-clicked) FILE -->
@if (settingsButtons['showDetailsTray'].toggled) {
  <div
    class="current-clicked"
    >
    @if (currentClickedItem) {
      <app-thumbnail
        (videoClick)="handleClick($event, currentClickedItem)"
        (sheetClick)="this.openThumbnailSheet(currentClickedItem)"

        [elHeight]="144"
        [elWidth]="256"
        [folderPath]="appState.selectedOutputFolder"
        [hubName]="appState.hubName"
        [imgHeight]="144"

        [video]="currentClickedItem"

        [connected]="sourceFolderService.sourceFolderConnected[currentClickedItem.inputSource]"

        [darkMode]="settingsButtons['darkMode'].toggled"
        [hoverScrub]="settingsButtons['hoverScrub'].toggled"
        [largerFont]="settingsButtons['fontSizeLarger'].toggled"
        [returnToFirstScreenshot]="settingsButtons['returnToFirstScreenshot'].toggled"
        [showMeta]="false"
       />

      <app-meta-item
        class="meta-container top-offset"

        (filterTag)="handleTagWordClicked($event.tag.name, $event.event)"

        [video]="currentClickedItem"

        [imgHeight]="144"
        [maxWidth]="galleryWidth - 80"
        [star]="currentClickedItem.stars"

        [darkMode]="settingsButtons['darkMode'].toggled"
        [largerFont]="settingsButtons['fontSizeLarger'].toggled"
        [showAutoFileTags]="settingsButtons['autoFileTags'].toggled"
        [showAutoFolderTags]="settingsButtons['autoFolderTags'].toggled"
        [showManualTags]="settingsButtons['manualTags'].toggled"
        [showMeta]="settingsButtons['showMoreInfo'].toggled"
        [showVideoNotes]="settingsButtons['showVideoNotes'].toggled"

        [selectedSourceFolder]="sourceFolderService.selectedSourceFolder[currentClickedItem.inputSource].path"
        [renameResponse]="renameFileResponseBehaviorSubject.asObservable()"
       />
    } @else {
      <div class="must-click-first" [ngClass]="{ 'must-click-dark-mode': settingsButtons['darkMode'].toggled }">
        {{ 'TAGS.detailsBottomTray' | translate }}
      </div>
    }
  </div>
}
</div>
}   <!-- end of bottom tray section (just below all the tabs)    =========== -->

<!-- WIZARD -->
@if (wizard.showWizard) {
<app-wizard
  @myWizardAnimation

  (clearRecentlyViewedHistory)="clearRecentlyViewedHistory()"
  (hideWizard)="hideWizard()"
  (importFresh)="importFresh()"
  (loadFromFile)="loadFromFile()"
  (openFromHistory)="openFromHistory($event)"
  (removeFromHistory)="removeFromHistory($event)"
  (selectOutputDirectory)="selectOutputDirectory()"
  (selectSourceDirectory)="selectSourceDirectory()"

  [canCloseWizard]="canCloseWizard"
  [importStage]="importStage"
  [vhaFileHistory]="vhaFileHistory"
  [wizard]="wizard"
 />
}

<!-- TAG COLOR PICKER -->
@if (showTagColorPicker) {
<app-tag-color-picker
  [position]="tagColorPickerPosition"
  [currentColor]="currentTagColor"
  [darkMode]="settingsButtons['darkMode'].toggled"
  (colorSelected)="onTagColorSelected($event)"
  (close)="onTagColorPickerClose()"
 />
}
