@import "variables";

::ng-deep * {
  user-select: none;
}

.reduceFlicker {
  background: $gray-10;
  height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: 99999;
}

.progress-modal {
  background: $gray-10;
  border: 1px solid $gray-20;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
  box-sizing: border-box;
  left: 5vw;
  padding: 20px;
  position: fixed;
  top: calc(50vh - 30px);
  width: 90vw;
  z-index: 101;
}

.progress-container {
  background: $gray-50;
  border: 1px solid $gray-60;
  border-radius: 3px;
  box-sizing: border-box;
  height: 19px;
  width: 100%;

  .current-progress {
    background: $pretty-green;
    border-radius: 3px;
    height: 17px;
    transition: 500ms;
  }
}

.progress-numbers {
  color: $gray-40;
  font-size: 12px;
  margin-top: 10px;
}

.progress-numbers-center {
  left: 50%;
  position: absolute;
  transform: translate(-50%);
}

// LAYOUT STYLING
.window {
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

.titleBar {
  background-color: $gray-40;
  border-bottom: 1px solid $gray-60;
  height: 20px;
  position: relative;
  transition: 300ms;
  width: 100%;
  z-index: 9999;

  img {
    position: relative;
    top: 1px;
  }
}

.draggable {
  -webkit-app-region: drag;
  color: $gray-70;
  font-size: 12px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 4px;
  transition: 300ms;
  white-space: nowrap;
  width: calc(100vw - 70px);
}

.top-of-buttons {
  background-image: linear-gradient(to bottom, $gray-10 0%, $gray-20 100%);
  border-bottom: 1px solid $gray-30;
  height: $top-region;
  overflow: hidden;
  position: relative;
  transition-duration: 300ms;
  transition-property: border-bottom;
  width: 100%;
  z-index: 20;
}

.top-of-buttons-dark-mode {
  background-image: linear-gradient(to bottom, $gray-70 0%, $gray-80 100%);
  border-bottom: 1px solid $gray-80;
}

.top-content-position {
  left: 10px;
  position: absolute;
  top: 5px;
}

.window-content {
  position: relative;
  transition: 300ms;
  transition-property: transform;
}

.all-settings {
  background-color: $gray-20;
  border-bottom: 1px solid $gray-30;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  box-sizing: border-box;
  height: $settings-height;
  overflow: hidden;
  padding: 4px 28px 4px 5px;
  position: absolute;
  transition: 300ms;
  transition-property: background-color;
  width: 100%;
  z-index: 500;
}

.all-settings-dark-mode {
  background-color: $gray-80;
  border-bottom: $black;
}

.all-settings-flat-icons {
  padding: 6px 5px;
}

.settings-modal {
  background-color: $gray-10;
  border: 1px solid $gray-50;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  box-sizing: border-box;
  height: calc(100vh - 215px);
  left: 200px;
  min-width: 270px;
  overflow-y: scroll;
  padding: 20px 5px 25px;
  position: fixed;
  top: 200px;
  width: calc(100% - 215px);
  z-index: 500;

  @include scrollBar;

  .defaultSettingsButton {
    border-radius: 5px !important;
  }
}

.sidebar {
  background-color: $gray-15;
  border-right: 1px solid $gray-30;
  box-sizing: border-box;
  height: 100vh;
  max-width: $sidebar-width !important;
  overflow-y: scroll;
  padding: 10px 10px 140px;
  position: absolute;
  top: $settings-height;
  transform: translate(0, 0);
  transition: 300ms;
  width: $sidebar-width;

  @include scrollBarHidden;
}

.sidebar-dark-mode {
  background: $gray-90;
  border: 1px solid $black;
}

.sidebar-hidden {
  transform: translate(-$sidebar-width, 0);
  transition: 300ms;
}

.gallery-container {
  background: $gray-20;
  box-sizing: border-box;
  left: $sidebar-width;
  overflow-y: scroll;
  padding-bottom: 150px;
  position: absolute;
  top: $settings-height;
  transition: 300ms;
  width: calc(100vw - #{$sidebar-width});

  @include scrollBar;
}

.gallery-container-dark-mode {
  background: $black;

  &::-webkit-scrollbar-track {
    background-color: $gray-70;
  }
}

.gallery-container-full-width {
  left: 0;
  transition: 300ms;
  width: 100vw;
}

.screenShotProgressPercent {
  font-size: 12px;
  position: fixed;
  right: 4px;
  top: 26px;
  z-index: 9999;
}

.cancel-progress {
  color: black;
  cursor: pointer;
  font-size: 10px;
  position: fixed;
  right: 42px;
  top: 32px;
  z-index: 9999;

  &:hover {
    color: $pretty-red;
  }
}

.cancel-progress-dark {
  color: white;

  &:hover {
    color: $pretty-red;
  }
}

.bottom-tray {
  background: $gray-10;
  border-top: 1px solid $gray-50;
  bottom: 0;
  display: flex;
  left: 0;
  position: fixed;
  transition-duration: 300ms;
  transition-property: background-color;
  width: 100vw;

  .close-bottom-tray {
    cursor: pointer;
    display: block;
    position: absolute;
    right: 8px;
    top: 5px;
    z-index: 10;
  }
}

.tag-tray-menu-left {
  padding-right: 5px;
  position: relative;
}

.manual-tag-tray {
  box-sizing: border-box;
  height: 140px;

  .manual-tag-tray-label,
  .tag-sort-by-toggle,
  .show-frequency {
    display: block;
    font-size: 12px;
    text-align: right;
    width: 166px;
  }

  .manual-tag-tray-label {
    margin-top: 18px;
  }

  .tag-sort-by-toggle, .show-frequency {
    margin-top: 11px;
  }

  .tag-sort-by-toggle,
  .show-frequency {
    background: none;
    border: none;
    color: $gray-70;
    padding-right: 0;

    &:hover {
      color: $pretty-blue;
    }
  }

  .all-the-tags {
    overflow-y: scroll;
    padding: 15px 15px;
    width: 100%;
    
    &::-webkit-scrollbar {
      -webkit-appearance: none;
      box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
      width: 9px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $gray-50;
      border-radius: 1px;
    }
  }

  // added on top of .filter-general
  .manual-tag-tray-filter {
    border-color: $gray-80;
    font-size: 15px;
    padding-bottom: 0;
    padding: 6px;
    position: absolute;
    right:0;
    width: 155px;

    &::placeholder {
      color: $gray-80;
    }
  }
}

.bottom-tray-dark {
  background: black;
  border-top: 1px solid $gray-80;

  button,
  span,
  input {
    color: $gray-40;
  }

  .tag-sort-by-toggle,
  .show-frequency {
    color: $gray-60;
  }

  input {
    &::placeholder {
      color: $gray-50 !important;
    }
  }
}

.most-similar-tray {
  box-sizing: border-box;
  // height - must be same as the hardcoded value in <virtual-scroller> height property
  //          & close to the .sidebar <div> `ngStyle` height property
  height: 170px;
  padding-top: 0;

  .most-similar-comment {
    color: $gray-70;
    display: inline-block;
    font-size: 12px;
    margin-left: 20px;
    margin-top: 20px;
    vertical-align: top;
    width: 170px;
  }

  .most-siilar-filename {
    display: block;
    font-size: 14px;
    margin-top: 15px;
  }
}

.no-clips-message {
  display: block;
  margin: 100px 0 0;
  text-align: center;
}

.no-results {
  box-sizing: border-box;
  position: absolute;
  text-align: center;
  top: 130px;
  transition-duration: 300ms;
  transition-property: padding-left;
  width: 100%;
}

.sort-filter {
  height: 64px; // to make the animation be smooth
}

.temp-disabled {
  opacity: 0.3;
  pointer-events: none;
}

.folder-not-connected-error {
  background: $pretty-red;
  border: 1px solid red;
  border-radius: 15px;
  color: white;
  left: 220px;
  padding: 10px 20px;
  position: fixed;
  top: 220px;
  z-index: 501;
}
