@import "variables";

$frequency-bar: $pretty-blue;

.resolutionName,
.starFilterLabel {
  color: $gray-50;
  display: inline-block;
  font-size: 10px;
  text-align: center;
  transform: translate(-18px, 25px);
  transition: opacity 400ms;
  width: 16px;
}

.starFilterLabel {
  width: 4px;
}

.frequency-graph-container,
.frequency-graph-containerStar {
  height: 20px;
  position: relative;
  transform: translate(13px, 15px);
}

.frequency-graph-containerStar {
  transform: translate(3px, 15px);
}

.frequency-bar,
.frequency-bar-star {
  background-color: $frequency-bar;
  bottom: 0;
  display: inline-block;
  font-size: 10px;
  position: relative;
  text-align: center;
  transition: opacity 400ms;
  width: 20px;
}

.frequency-bar-star {
  margin: 0 3.5px;
  width: 14.5px;
}

.frequency-sliders {
  position: relative;
  width: 100%;
}

.resDisabled {
  opacity: 0.5;
}
