@use "variables";

$frequency-bar: variables.$pretty-blue;

.resolution-name,
.star-filter-label {
  color: variables.$gray-50;
  display: inline-block;
  font-size: 10px;
  text-align: center;
  transform: translate(-18px, 20px);
  transition: opacity 400ms;
  width: 16px;
}

.star-filter-label {
  width: 4px;
}

.frequency-graph-container,
.frequency-graph-container-star {
  height: 20px;
  position: relative;
}

.frequency-graph-container {
  transform: translate(13px, 25px);
}

.frequency-graph-container-star {
  transform: translate(3px, 25px);
}

.frequency-bar,
.frequency-bar-star {
  background-color: $frequency-bar;
  bottom: 0;
  display: inline-block;
  font-size: 10px;
  position: relative;
  text-align: center;
  transition: opacity 400ms;
  width: 24px;
}

.frequency-bar-star {
  margin: 0 3.5px;
  width: 16.5px;
}

.resDisabled {
  opacity: 0.5;
}
