@import "variables";

.filterContainer {
  overflow: hidden;
}

.hiding-settings-menu {
  cursor: pointer;
  left: 8px;
  position: absolute;
  top: 36px;
  transition: 100ms;
  z-index: 20;

  &:hover {
    transform: scale(1.5);
    transition: 100ms;
  }
}

.hiding-settings-menu-dark {
  fill: white;
}

.mini-chevron {
  display: block;
  width: 15px;
}

.flipped {
  transform: rotate(180deg);
  transform-origin: 7.5px 7.5px;
  transition: 100ms;

  &:hover {
    transform: rotate(180deg) scale(1.5);
    transition: 100ms;
  }
}

.filtering-total {
  color: $gray-40;
  cursor: default;
  font-size: 12px;
  margin: 15px 0 15px;
  text-align: right;
}

.input-icon {
  fill: $gray-50;
  position: absolute;
  transform: translate(3px, 11px);
  width: 15px;
}

.search-or-tag-general {
  border-radius: 4px;
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.3);
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  height: 12px;
  padding: 2px 4px;
}

.search-word {
  margin: 3px 0;

  &:hover {
    text-decoration: line-through;
  }
}

.filteredWords {
  display: block;
  margin-bottom: 5px;
  min-height: 25px;
}

.conjunction {
  font-size: 10px;
  margin: 3px; // coincides with .search-word margin-left: 0;
}

.notFiltered {
  font-size: 10px;
}

.frequency {
  color: $gray-50;
  margin-top: 20px;

  span {
    cursor: pointer;
    margin: 0 4px;
  }
}

.recently-opened-label {
  color: $gray-50;
  display: block;
  font-style: italic;
  margin-bottom: 10px;
}

.sidebar-recently-opened {
  transition-duration: 250ms;
  transition-property: color;

  &:hover {
    color: $pretty-blue;
    transition-property: color;
  }
}

.recently-opened {
  font-size: 10px;
  margin-top: 40px;

  ul {
    margin: 0;
    padding: 0;

    li {
      cursor: pointer;
      font-size: 12px;
      list-style: none;
      margin-top: 5px;
      padding-left: 5px;
    }
  }
}

.tag-type-ahead-on-home {
  color: $pretty-blue;
  display: block;
  position: absolute;
  transform: translate(20px, -28px);
  z-index: -1;
}

.lev-distance {
  .search-word {
    background: $show-similar-to;
    height: initial;
  }

  .on-new-line {
    display: block;
    width: max-content;
  }
}

.lev-description {
  color: $gray-50;
  cursor: default;
  display: block;
  font-size: 12px;
  margin: 6px 0 4px;
  padding: 0;
  text-align: left;
}
