@use "variables";

.wizard-button {
  background: variables.$gray-15;
  border: 1px solid variables.$gray-30;
  border-radius: 10px;
  cursor: pointer;
  margin: 15px;
  max-height: 50px;
  max-width: 300px;
  min-width: 190px;
  outline: none;
  padding: 10px;
  transition: 300ms;
  transition-property: background-color, box-shadow, color;

  &:enabled {
    box-shadow: 1px 2px 4px rgba(0,0,0,0.5);
  }

  &:hover {
    background: variables.$gray-10;
  }

  &:disabled {
    cursor: initial;
    pointer-events: none;
  }

  &:active {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    transform: translateY(1px);
    transition: 100ms;
  }
}

.start-import {
  background: variables.$light-blue;
  border-color: variables.$pretty-blue;
  color: black;
  font-weight: bold;
  text-shadow: 0 0 5px white;

  &:hover {
    background-color: variables.$pretty-blue;
  }

  &:disabled {
    background: variables.$gray-15;
    border-color: variables.$gray-30;
    color: variables.$gray-50;
  }
}

.wizard-button-small {
  display: inline-block;
  margin: 5px;
  min-width: auto;
  padding: 5px 10px;
  white-space: nowrap;
  width: auto;
}

.edit-mode-active {
  background-color: variables.$pretty-red;
  border: 1px solid variables.$dark-red;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
  transform: translateY(1px);
  transition-duration: 50ms;
  transition-property: background-color, border;

  &:hover {
    background-color: variables.$pretty-red-lighter;
  }
}
