<div class="donut">

  <span class="time-remaining" [ngStyle]="{ color: darkMode ? 'white' : 'black' }">
    {{ timeRemaining > 0 ? (timeRemaining | lengthPipe) : '' }}
  </span>

  <div class="progress-circle" [ngClass]="{ over50: percent > 50 }">
    <span [ngStyle]="{ color: darkMode ? 'white' : 'black' }">{{ percent }}%</span>
    <div class="left-half-clipper">
      <div class="first50-bar"></div>
      <div class="value-bar" [ngStyle]="{ transform: 'rotate(' + (360 * percent / 100) + 'deg)' }"></div>
    </div>
  </div>

</div>
