<div
  class="sheet-modal"
>
  <div
    class="sheet-info"
  >
    <div class="meta-info" >Title: {{ title }}</div>
    <div class="meta-info" >Duration: {{ time | lengthPipe }}</div>
    <div class="meta-info" >Size: {{ fileSize | fileSizePipe : true }}</div>
    <div class="meta-info" >Resolution: {{ rez }}</div>
  </div>

  <div style="margin: 20px">
    <button
      (click)="decreaseZoomLevel()"
    >
      <span class="icon icon-minus">zoom out</span>
    </button>
    <button
      (click)="resetZoomLevel()"
      style="max-width: initial; padding: 0 5px; margin: 0 10px"
      >
        <span>{{ 'SETTINGS.reset' | translate }}</span>
    </button>
    <button
      (click)="increaseZoomLevel()"
    >
      <span class="icon icon-plus">zoom in</span>
    </button>
  </div>

  <ng-container
  *ngFor="let dummy of ' '.repeat(screens).split(''); index as i"
  >
    <div
      [ngStyle]="{
          height: 'calc((72vw / ' + thumbnailsToDisplay + ') * (9 / 16))',
          width: 'calc(72vw / ' + thumbnailsToDisplay + ')',
          padding: 'calc(2% / ' + thumbnailsToDisplay + ')'
        }"
      class="filmstrip-container"
      @galleryItemAppear
    >
      <div
        #filmstripHolder
        class="video-box"
        [ngStyle]="{
            height: '100%',
            'background-image': 'url(' + fullFilePath + ')',
            'background-position-x': (percentOffset * i) + '%'
          }"
      >
      <span *ngIf="showMeta" class="time" @metaAppear>{{ (time / screens) * (i+1) | lengthPipe }}</span>
      </div>
    </div>
  </ng-container>
</div>
