<div
  class="sheet-modal"
>
  <div
    class="meta"
  >
    <!-- TODO - TRANSLATE & UPDATE CSS -->
    <span
      [ngClass]="{ 'larger-font': largerFont }"
      [ngStyle]="{ color: darkMode ? '#BBBBBB' : '#000000' }"
      class="title"
    >
      {{ video.cleanName }}
    </span>
    <span class="fileSize">
      {{ video.durationDisplay }} | {{ video.width }} x {{ video.height }} | {{ video.fileSizeDisplay }}
    </span>

    <button class="star-rating" tabindex="-1" [ngClass]="{ 'star-lit': starRatingHack > 1 }" (click)="setStarRating(1.5)"></button>
    <button class="star-rating" tabindex="-1" [ngClass]="{ 'star-lit': starRatingHack > 2 }" (click)="setStarRating(2.5)"></button>
    <button class="star-rating" tabindex="-1" [ngClass]="{ 'star-lit': starRatingHack > 3 }" (click)="setStarRating(3.5)"></button>

    <app-add-tag-component
      (tag)="addThisTag($event)"
    ></app-add-tag-component>

    <!-- HACK for now -->
    <br><br><br>

    <app-view-tags-component
      [tags]="tagsService.getTags(this.video, this.showManualTags, this.showAutoFileTags, this.showAutoFolderTags, this.video.tags)"
      (tagClicked)="filterThisTag($event)"
      (removeTagEmit)="removeThisTag($event)"
    ></app-view-tags-component>
  </div>


  <div style="margin: 20px">

    <button
      (click)="decreaseZoomLevel()"
      class="defaultSettingsButton"
    >
      <app-icon [icon]="'icon-minus'">zoom out</app-icon>
    </button>

    <button
      (click)="resetZoomLevel()"
      class="defaultSettingsButton reset-button"
    >
      <span>{{ 'SETTINGS.reset' | translate }}</span>
    </button>

    <button
      (click)="increaseZoomLevel()"
      class="defaultSettingsButton"
    >
      <app-icon [icon]="'icon-plus'">zoom in</app-icon>
    </button>

  </div>

  <ng-container
  *ngFor="let dummy of ' '.repeat(video.screens).split(''); index as i"
  >
    <div
      [ngStyle]="{
          height: 'calc((72vw / ' + thumbnailsToDisplay + ') * (9 / 16))',
          width: 'calc(72vw / ' + thumbnailsToDisplay + ')',
          padding: 'calc(2% / ' + thumbnailsToDisplay + ')'
        }"
      class="filmstrip-container"
      @galleryItemAppear
    >
      <div
        #filmstripHolder
        class="video-box"
        [ngStyle]="{
            height: '100%',
            'background-image': 'url(' + fullFilePath + ')',
            'background-position-x': (percentOffset * i) + '%'
          }"
      >
      <span *ngIf="showMeta" class="time" @metaAppear>{{ (video.duration / video.screens) * (i+1) | lengthPipe }}</span>
      </div>
    </div>
  </ng-container>
</div>
