@import "../variables";

.sheet-modal {
  background: $gray-10;
  border: 1px solid $gray-50;
  border-radius: 10px;
  box-shadow: 0 3px 7px 3px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  height: calc(100vh - 50px);
  left: 10vw;
  overflow-y: scroll;
  padding: 2%;
  position: fixed;
  top: 35px;
  width: calc(80vw + 10px);
  z-index: 30;

  @include scrollBar;
}

.full-path {
  cursor: pointer;
  font-size: 12px;
  margin: 20px;

  .copy-to-clipboard {
    display: none;
    position: absolute;
    transform: translate(-23px, 0);
    width: 15px;
  }

  &:hover {
    .copy-to-clipboard {
      display: inline-block;
    }
  }
}

.dark-path {
  color: $gray-30;
  fill: $gray-30;
}

.sheet-modal-dark-mode {
  background-color: $gray-80;
}

.meta-container {
  box-sizing: border-box;
  display: inline-block;
  height: 180px;
  vertical-align: top;
  width: 100%;
}

.filmstrip-container {
  display: inline-block;
  overflow: hidden;
  padding: 9px;
  position: relative;
  transition: 300ms;
  transition-property: height;
}

.video-box {
  background-color: black;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  position: relative;

  &:hover {
    .set-favorite-thumb {
      opacity: 0.5;
    }
  }

  .set-favorite-thumb {
    fill: yellow;
    height: 20px;
    opacity: 0;
    position: absolute;
    right: 0;
    width: 20px;

    &:hover {
      opacity: 0.8;
    }
  }

  .star-selected {
    opacity: 1 !important;
  }
}

.reset-button {
  margin: 0 10px;
  max-width: initial;
  padding: 0 10px;
  transform: translate(0, -3px);
}

.zoomButtons {
  position: absolute;
  right: 40px;
  top: 40px;
}
