@import "../variables";

.tagContainer {
  margin-top: 50px;
}

.singleTag {
  display: inline-block;
  margin-right: 20px;
  position: relative;

  .tag {
    // copied from `searchWord` class -- TODO - keep DRY
    background-color: #f1ceb8;
    border-radius: 4px;
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.3);
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    height: 12px;
    margin: 0;
    padding: 2px 4px;
    position: relative;
    z-index: 3;
  }

  .coverTheX {
    background: $gray-40;
    height: 22px;
    position: absolute;
    transform: translate(-6px, 0);
    width: 12px;
    z-index: 2;
  }

  .removeTag {
    background-color: #d1ae98;
    border-radius: 4px;
    color: red;
    cursor: not-allowed;
    display: inline-block;
    height: 16px;
    padding-right: 3px;
    position: absolute;
    right: 0;
    text-align: right;
    top: 3px;
    transform: translate(0, 0);
    transition-delay: 0.25s;
    transition-duration: 0.25s;
    transition-property: transform;
    width: 16px;
    z-index: 1;
  }

  &:hover {
    .removeTag {
      transform: translate(12px, 0);
      transition-delay: 0.5s;
      transition-duration: 0.25s;
      transition-property: transform;
    }
  }
}
