<div
  *ngFor="let tag of _tags; index as i"
  class="singleTag"
>
  <span
    *ngIf="tag.removable"
    class="coverTheX"
    [ngClass]="{ 'coverTheX-dark': darkMode }"
  >
    &ensp;
  </span>
  <span
    class="tag"
    [ngStyle]="{ background: tag.colour }"
    (click)="tagClick(tag, $event)"
  >
    {{ tag.name }}
  </span>

  <span
    *ngIf="displayFrequency"
    class="tag frequency"
  >
    {{ tagService.tagsMap.get(tag.name) }}
  </span>

  <app-icon
    *ngIf="tag.removable"
    [icon]="'icon-close'"
    class="removeTag"
    (click)="removeTag(tag.name)"
  >
  </app-icon>
</div>
