@import "../variables";

.singleTag {
  display: inline-block;
  margin: 0 10px 10px 0;
  position: relative;

  .tag {
    // copied from `search-word` class -- TODO - keep DRY
    background-color: $manual-tag-color;
    border-radius: 4px;
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.3);
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    height: 12px;
    margin: 0;
    padding: 2px 4px;
    position: relative;
    z-index: 3;
  }

  .coverTheX {
    background-color: $gray-20;
    height: 16px;
    position: absolute;
    transform: translate(6px, 2px);
    width: 12px;
    z-index: 2;
  }

  .coverTheX-dark {
    background-color: black;
  }

  .remove-tag {
    background-color: $manual-tag-frequency;
    border-radius: 4px;
    cursor: not-allowed;
    display: inline-block;
    fill: red;
    height: 15px;
    left: 0;
    padding-left: 1px;
    position: absolute;
    top: 3px;
    transform: translate(0, 0);
    transition-delay: 0.25s;
    transition-duration: 0.25s;
    transition-property: transform;
    width: 15px;
    z-index: 1;
  }

  &:hover {
    .remove-tag {
      transform: translate(0, -14px);
      transition-delay: 0.5s;
      transition-duration: 0.25s;
      transition-property: transform;
    }
  }

  .frequency {
    background-color: $manual-tag-frequency;
    padding-left: 10px;
    transform: translate(-5px, 0);
    z-index: 1;
  }
}
