<div class="frequencySliders" (mouseup)="mouseIsUp($event)">

  <div class="backGray"></div>

  <div class="leftSide" [ngStyle]="{ width: currentXleft + 'px' }">
    <div 
      (mousedown)="leftSideClick($event)" 
      [ngClass]="{ isDragging: draggingLeft }"
      class="leftDrag" 
    >
    </div>
  </div>

  <div class="rightSide" [ngStyle]="{ width: currentXright + 'px' }">
    <div
      (mousedown)="rightSideClick($event)"
      [ngClass]="{ isDragging: draggingRight }"
      class="rightDrag"
    >
    </div>
  </div>

</div>