<div
  class="element-container"
>

  <div *ngIf="video.cleanName === '*FOLDER*'; else fileViewDiv">
    <ng-container
      *ngIf="video.fileName !== '*UP*'; else backButton"
    >
      <app-icon [icon]="'icon-folder-blank'" class="icon-folder-lol"></app-icon>
      <span
        class="folder-name"
        [ngClass]="{ 'folder-name-dark-mode': darkMode }"
      >{{ video.fileName }}</span>
    </ng-container>

    <ng-template #backButton>
      <app-icon
        class="back-icon"
        [icon]="'icon-chevron-left'"
        [ngClass]="{ 'back-icon-dark-mode': darkMode }"
      ></app-icon>
    </ng-template>

  </div>

  <ng-template #fileViewDiv>

    <div
      *ngIf="showMeta"
      [ngClass]="{ 'meta-dark-mode': darkMode }"
      class="size"
    >
      {{ video.resolution }}
    </div>

    <div
      class="title"
      [ngClass]="{
          'title-dark-mode': darkMode,
          'larger-font': largerFont,
          'showing-meta': showMeta
        }"
    >
      {{ video.cleanName }}
      <div
        *ngIf="showMeta"
        class="fileSize"
        [ngClass]="{ 'meta-dark-mode': darkMode }"
      >
        ({{ video.fileSizeDisplay }})
      </div>
    </div>

    <div
      *ngIf="showMeta"
      class="length"
      [ngClass]="{ 'meta-dark-mode': darkMode }"
    >
      {{ video.durationDisplay }}
    </div>

  </ng-template>

</div>
