@import "../../variables";

.element-container {
  height: 20px;
  margin: 10px 20px 0px 20px;
  position: relative;
}

.length,
.size {
  cursor: pointer;
  display: block;
  font-size: 10px;
  position: absolute;
  top: 1px;
  z-index: 200;
}

.length {
  right: 0;
}

.size {
  left: 0;
  text-align: right;
  width: 21px;
}

.folder-name {
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  font-size: 12px;
  font-weight: bold;
  // disabled for better readability:
  // text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.icon-folder-lol {
  cursor: pointer;
  display: inline-block;
  fill: $gray-70;
  height: 20px;
  margin-right: 2px;
  transform: translate(-4px, 4px);
  width: 15px;
}

.title {
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  transition: 300ms;
  transition-property: margin width;
  white-space: nowrap;

  // below is now in [ngStyle]
  // margin: 0 30px;
  // width: calc( 100% - 65px );
}

.fileSize {
  display: inline-block;
  font-size: 10px;
  opacity: 0.8;
}

.larger-font {
  font-size: 16px;
}
