<div
  class="element-container"
>

  <div *ngIf="video.cleanName === '*FOLDER*'; else fileNameBlock">
    <app-icon [icon]="'icon-folder-blank'" class="icon-folder-lol"></app-icon>
    <span
      [innerHtml]="video.partialPath | folderArrowsPipe : true"
      [ngStyle]="{ color: darkMode ? '#999999' : '#333333' }"
      class="folder-name"
    ></span>
  </div>

  <ng-template #fileNameBlock>

    <div
      *ngIf="showMeta"
      [ngClass]="{ 'meta-dark-mode': darkMode }"
      class="size"
    >
      {{ video.resolution }}
    </div>

    <div
      class="title"
      [ngClass]="{
          'title-dark-mode': darkMode,
          'larger-font': largerFont,
          'showing-meta': showMeta
        }"
    >
      {{ video.cleanName }}
      <div
        *ngIf="showMeta"
        class="fileSize"
        [ngClass]="{ 'meta-dark-mode': darkMode }"
      >
        ({{ video.fileSizeDisplay }})
      </div>
    </div>

    <div
      *ngIf="showMeta"
      class="length"
      [ngClass]="{ 'meta-dark-mode': darkMode }"
    >
      {{ video.durationDisplay }}
    </div>

  </ng-template>

</div>
