@use "../../variables";
.element-container {
  cursor: pointer;
  height: 20px;
  margin: 0px 20px;
  padding: 5px 0;
  position: relative;
  &:hover {
    .folder-name,
    .title {
      color: variables.$dark-blue;
    }
    .folder-name-dark-mode,
    .title-dark-mode {
      color: variables.$pretty-blue;
    }
    .back-icon {
      fill: variables.$dark-blue;
    }
    .back-icon-dark-mode {
      fill: variables.$pretty-blue;
    }
    .icon-folder-lol {
      fill: variables.$pretty-blue;
    }
  }
}

.back-icon {
  fill: black;
  height: 18px;
  left: 9px;
  position: absolute;
  top: 6px;
  transition-duration: 300ms;
  transition-property: fill;
  width: 16px;
}

.back-icon-dark-mode {
  fill: white;
}

.length,
.size {
  color: variables.$gray-50;
  display: block;
  font-size: 10px;
  position: absolute;
  top: 6px;
  z-index: 200;
}

.length {
  right: 0;
}

.size {
  left: 0;
  text-align: right;
  width: 21px;
}

.heart {
  fill: rgba(0, 0, 0, 0);
  transform: translate(-20px, 2px);
}

.heart-lit {
  fill: #ff2255;
}

.heart-selected {
  opacity: 0.5;
}

.fileSize {
  color: variables.$gray-60;
  display: inline-block;
  font-size: 10px;
  opacity: 0.8;
}

.meta-dark-mode {
  color: variables.$gray-60;
}

.folder-name {
  color: variables.$black;
  font-size: 12px;
  left: 36px;
  position: absolute;
}

.folder-size {
  color: variables.$gray-60;
  display: inline-block;
  font-size: 10px;
}

.folder-name-dark-mode {
  color: variables.$gray-10;
}

.number-of-files {
  color: variables.$gray-60;
  display: block;
  font-size: 10px;
  left: -25px;
  position: absolute;
  text-align: right;
  top: 7px;
  width: 30px;
}

.icon-folder-lol {
  fill: variables.$gray-50;
  height: 15px;
  left: 10px;
  position: absolute;
  top: 5px;
  transition-duration: 300ms;
  transition-property: fill;
  width: 15px;
}

.title {
  color: variables.$black;
  display: inline-block;
  font-size: 12px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  transform: translate(10px, 0);
  transition: 300ms;
  transition-property: width, transform, color;
  white-space: nowrap;
  width: calc(100% - 20px);
}

.title-dark-mode {
  color: variables.$gray-10;
}

.larger-font {
  font-size: 16px;
}

.showing-meta {
  transform: translate(35px, 0);
  width: calc(100% - 65px);
}
