@import "../../variables";

.element-container {
  height: 20px;
  margin: 10px 20px 0px 20px;
  position: relative;
}

.length,
.size {
  color: $gray-50;
  cursor: pointer;
  display: block;
  font-size: 10px;
  position: absolute;
  top: 1px;
  z-index: 200;
}

.length {
  right: 0;
}

.size {
  left: 0;
  text-align: right;
  width: 21px;
}

.fileSize {
  color: $gray-60;
  display: inline-block;
  font-size: 10px;
  opacity: 0.8;
}

.meta-dark-mode {
  color: $gray-60;
}

.folder-name {
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  font-size: 12px;
  font-weight: bold;
}

.icon-folder-lol {
  cursor: pointer;
  display: inline-block;
  fill: $gray-70;
  height: 20px;
  margin-right: 2px;
  transform: translate(-4px, 4px);
  width: 15px;
}

.title {
  color: $gray-80;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  transform: translate(0, 0);
  transition: 300ms;
  transition-property: width, transform;
  white-space: nowrap;
  width: calc(100% - 20px);
}

.title-dark-mode {
  color: $gray-10;
}

.larger-font {
  font-size: 16px;
}

.showing-meta {
  transform: translate(35px, 0);
  width: calc(100% - 65px);
}
