<div class="columns-container">
  <ul class="column">
    <li
      *ngFor="let item of oneWordTags | tagFrequencyPipe: minimumFrequency
                                      | tagFilterPipe: currentFiltering
                                      | alphabetPrefixPipe"
    >
      <span *ngIf="item.prefix" class="prefix">
        {{ item.prefix }}
      </span>
      <span class="frequency">
        {{ item.freq }}
      </span>
      <span
        (click)="tagWasClicked(item.word)"
        [ngClass]="{ strikethrough: editMode }"
        class="clickable"
      >
        {{ item.word }}<!--
   --></span>
      <!-- using opacity instead of *ngIf because creation of hundreds of elements is slow -->
      <app-icon
        [ngStyle]="{ opacity: editMode ? 1 : 0 }"
        [icon]="'icon-close'"
        class="icon-lol"
      ></app-icon>
    </li>
  </ul>

  <ul class="column">
    <li
      class="capitalize"
      *ngFor="let item of twoWordTags | tagFrequencyPipe: minimumFrequency
                                      | tagFilterPipe: currentFiltering
                                      | alphabetPrefixPipe"
    >
      <span *ngIf="item.prefix" class="prefix">
        {{ item.prefix }}
      </span>
      <span class="frequency">
        {{ item.freq }}
      </span>
      <span
        (click)="tagWasClicked(item.word)"
        [ngClass]="{ strikethrough: editMode }"
        class="clickable"
      >
        {{ item.word }}<!--
   --></span>
      <!-- using opacity instead of *ngIf because creation of hundreds of elements is slow -->
      <app-icon
        [ngStyle]="{ opacity: editMode ? 1 : 0 }"
        class="icon-lol"
        [icon]="'icon-close'"
      ></app-icon>
    </li>
  </ul>
</div>

<div
  *ngIf="showEdit"
  class="edit-bar"
  @slowFadeIn
>

  <div>
    <span class="filter-description">
      {{ 'TAGS.filterList' | translate }}
    </span>

    <input
      #filterInput
      [(ngModel)]="currentFiltering"
      class="filter-general input-filter"
      (keydown.escape)="tagInputEscapePress($event)"
      type="text"
      placeholder="{{ 'TAGS.any' | translate }}"
    >

    <input
      (change)="selectMinFrequency($event.target.value)"
      type="number"
      class="num-select"
      value=0
      min=0
      max=50
    >

    <span class="filter-description">
      {{ 'TAGS.minimum' | translate }}
    </span>
  </div>

  <div class="break-point-hack"></div>

  <!-- ADD TAGS -->

  <div class="col3 small-rez-hidden">
    <input
      #addInput
      (keyup.enter)="addThisTag()"
      [(ngModel)]="currentAdding"
      class="filter-general input-filter input-add"
      type="text"
    >

    <button
      (click)="addThisTag()"
      class="wizard-button"
    >
      {{ 'TAGS.add' | translate }}
    </button>

    <span
      *ngIf="!showingStatusMessage"
      class="num-found align-left"
      @donutAppear
    >
      {{ currentAdding | tagMatchPipe }}
    </span>
    <span
      *ngIf="showingStatusMessage"
      class="num-found add-error align-left"
      @donutAppear
    >
      {{ statusMessage | translate }}
    </span>
  </div>

  <!-- DELETE TAGS -->

  <div class="small-rez-hidden">
    <button
      class="wizard-button"
      [ngClass]="{ editModeActive: editMode }"
      (click)="startEditMode()"
    >
      {{ 'TAGS.delete' | translate }}
    </button>
  </div>

</div>
