@import '../variables';

.columns-container {
  margin-top: 20px;
  position: absolute;
  position: relative;
  width: calc(100% - 10px);
}

.column {
  box-sizing: border-box;
  float: left;
  margin-top: 0;
  padding-left: 40px;
  user-select: none;
  width: 50%;
}

ul {
  list-style-type: none;
  margin-bottom: 100px;

  li {
    margin-bottom: 10px;
  }
}

.clickable {
  cursor: pointer;
  margin-left: 25px;
  transition: 200ms;
  transition-delay: 50ms;
  transition-property: color;

  &:hover {
    color: $pretty-blue;
    transition: 30ms;
    transition-property: color;
  }
}

.frequency {
  color: $gray-50;
  cursor: default;
  font-size: 10px;
  position: absolute;
  text-align: right;
  transform: translate(-3px, 2px);
  width: 20px;
}

.prefix {
  color: $gray-30;
  cursor: default;
  display: block;
  font-size: 20px;
  position: absolute;
  text-align: center;
  text-transform: capitalize;
  transform: translate(-24px, -2px);
  width: 20px;
}

.edit-bar {
  align-items: baseline;
  background: $gray-10;
  border-top: 1px solid $gray-30;
  bottom: 16px;
  box-sizing: border-box;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 15px;
  position: fixed;
  width: calc(100% - 235px);
}

.filter-description {
  color: $gray-50;
  font-size: 12px;
}

.num-select {
  background-color: $gray-10;
  border: none;
  margin: 0 0 0 14px;
  outline: none;
  padding: 0;
  text-align: right;
  width: 30px;
}

.col3 {
  width: 200px;
}

// added on top of .filter-general
.input-filter {
  bottom: 23px;
  max-width: 150px;
  padding-left: 5px;
  text-align: left;
}

.input-add {
  text-align: left;
  width: 140px;
}

.num-found {
  bottom: 15px;
  color: $gray-50;
  display: block;
  font-size: 12px;
  line-height: 0;
  text-align: center;
}

.align-left {
  margin-left: 5px;
  text-align: left;
}

.delete-tag-hack {
  color: $pretty-red;
  font-size: 12px;
  position: absolute;
  transform: translate(8px, 1px);
  transition-duration: 300ms;
  transition-property: opacity;
}

.strikethrough {
  &:hover {
    color: $pretty-red;
    text-decoration: line-through !important;
  }
}

.add-error {
  color: $pretty-blue;
}

.break-point-hack {
  display: none;
}

@media (max-width: 1000px) {
  .break-point-hack {
    display: initial;
    width: 100%;
  }
}
