<div class="columns-container">
  <ul class="column">
    <li *ngFor="let item of oneWordTags | tagFilterPipe: currentFiltering">
      <span class="prefix">
        {{ item.word | alphabetPrefixPipe }}
      </span>
      <span class="frequency">
        {{ item.freq }}
      </span>
      <span
        (click)="tagWasClicked(item.word)"
        [ngClass]="{ strikethrough: editMode }"
        class="clickable"
      >
        {{ item.word }}<!--
   --></span>
      <!-- using opacity instead of *ngIf because creation of hundreds of elements is slow -->
      <app-icon
        [ngStyle]="{ opacity: editMode ? 1 : 0 }"
        [icon]="'icon-close'"
        class="icon-lol"
      ></app-icon>
    </li>
  </ul>

  <ul class="column">
    <li *ngFor="let item of twoWordTags | tagFilterPipe: currentFiltering" class="capitalize">
      <span class="prefix">
        {{ item.word | alphabetPrefixPipe }}
      </span>
      <span class="frequency">
        {{ item.freq }}
      </span>
      <span
        (click)="tagWasClicked(item.word)"
        [ngClass]="{ strikethrough: editMode }"
        class="clickable"
      >
        {{ item.word }}<!--
   --></span>
      <!-- using opacity instead of *ngIf because creation of hundreds of elements is slow -->
      <app-icon
        [ngStyle]="{ opacity: editMode ? 1 : 0 }"
        class="icon-lol"
        [icon]="'icon-close'"
      ></app-icon>
    </li>
  </ul>
</div>

<div
  *ngIf="showEdit"
  class="edit-bar"
  @slowFadeIn
>

<div class="col1">
  <button
    class="wizard-button"
    [ngClass]="{ editModeActive: editMode }"
    (click)="startEditMode()"
  >
    {{ 'TAGS.delete' | translate }}
  </button>
</div>

<div class="col2">
  <input
    #filterInput
    [(ngModel)]="currentFiltering"
    class="filter-general input-filter"
    type="text"
  >

  <span class="numFound">
    {{ 'TAGS.filterList' | translate }}
  </span>
</div>

<div class="col3">
  <input
    #addInput
    (keyup.enter)="addThisTag()"
    [(ngModel)]="currentAdding"
    class="filter-general input-filter input-add"
    type="text"
  >

  <span
    *ngIf="!showingStatusMessage"
    class="numFound alignLeft"
    @donutAppear
  >
    {{ currentAdding | tagMatchPipe }}
  </span>
  <span
    *ngIf="showingStatusMessage"
    class="numFound add-error alignLeft"
    @donutAppear
  >
    {{ statusMessage | translate }}
  </span>

  <button
    (click)="addThisTag()"
    class="wizard-button add-button"
  >
    {{ 'TAGS.add' | translate }}
  </button>
</div>

</div>
