<div
  class="element-container"
  [ngStyle]="{ height: elHeight + 'px'}"
  @galleryItemAppear
>

  <div *ngIf="title === '*'; else fileNameBlock">
    <span class="icon icon-folder-blank"></span>
    <span class="folder" [innerHtml]="folderPath | folderArrowsPipe : true"></span>
  </div>

  <ng-template #fileNameBlock>

    <div class="size" *ngIf="showMeta" @metaAppear>
      {{ rez }}
    </div>

    <div
      class="title"
      [ngStyle]="{
          width: 'calc(100% - ' + (showMeta ? '65px' : '10px') + ')',
          margin: showMeta ? '0 30px' : '0 10px'
        }"
      [ngClass]="{ 'larger-font': largerFont }"
    >
      {{ title }}
      <div class="fileSize" *ngIf="showMeta" @metaAppear>
        {{ fileSize | fileSizePipe }}
      </div>
    </div>

    <div class="length" *ngIf="showMeta" @metaAppear>
      {{ time | lengthPipe }}
    </div>

  </ng-template>

</div>
