@import "../variables";

.element-container {
  margin: 10px 20px;
  position: relative;
}

.length,
.size {
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  display: block;
  font-size: 10px;
  position: absolute;
  top: 1px;
  z-index: 200;
}

.length {
  right: 0;
}

.size {
  left: 0;
}

.folder {
  display: inline-block;
  font-size: 10px;
}

.folder {
  color: #333333;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.icon-folder-blank {
  color: $gray-70;
  margin-right: 2px;
  position: absolute;
  transform: translate(-14px, 1px);
}

.title {
  color: #5D5D5D;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  transition-property: margin width;
  transition: 300ms;
  white-space: nowrap;

  // below is now in [ngStyle]
  // margin: 0 30px;
  // width: calc( 100% - 65px );
}

.fileSize {
  display: inline-block;
  font-size: 10px;
  opacity: 0.8;
}

.larger-font {
  font-size: 16px;
}
