<div
  class="element-container"
  [ngStyle]="{ height: elHeight + 'px'}"
  @galleryItemAppear
>

  <div *ngIf="title === '*'; else fileNameBlock">
    <span class="icon icon-folder-blank"></span>
    <span class="folder" [innerHtml]="folderPath | folderArrowsPipe"></span>
  </div>

  <ng-template #fileNameBlock>

    <div class="size" *ngIf="showMeta">
      {{ ( rez ? rez : 'HD' ) }}
    </div>

    <div class="length" *ngIf="showMeta">
      {{ time | lengthPipe }}
    </div>

    <div class="title">
      {{ title }}
    </div>

  </ng-template>

</div>
