@import "../variables";

.rename-file {
  background: transparent;
  border: 0;
  border-bottom: 1px solid $gray-40;
  box-sizing: border-box;
  font-size: 16px;
  left: 40px;
  outline: none;
  padding: 6px 6px 6px 2px;
  padding-bottom: 0;
  position: absolute;
  top: 170px;
  width: 90%;
}

.rename-err-msg {
  color: red;
  font-size: 14px;
  position: absolute;
  right: 157px;
  text-align: right;
  top: 227px;
}

.button-rename {
  border-radius: 5px;
  margin: 0;
  min-width: 100px;
  position: absolute;
  right: 40px;
  top: 216px;
}

.extension-hack {
  font-size: 16px;
  left: 43px;
  pointer-events: none;
  position: absolute;
  top: 175px;

  & .hidden {
    opacity: 0;
  }

  & .extension {
    display: inline-block;
    font-size: 12px;
    opacity: 0.5;
    transform: translate(0px, 1px);
  }
}
