@import "../variables";

.renameFile{
  position: relative;
}

.input{
  display: flex;
  flex-wrap: nowrap;
}

.darkModeOn {
  color: white;
}

.darkMode {
  background: $gray-60;
  border: 1px solid $gray-70;
  border-bottom: 1px solid $gray-50;
  border-top: 1px solid $gray-80;
}

button{
  background: $gray-15;
  border: 1px solid $gray-30;
  border-radius: 10px;
  cursor: pointer;
  height: 20px;
  margin: 20px 0 10px calc(50% - 100px);
  max-height: 30px;
  max-width: 200px;
  min-width: 190px;
  outline: none;

  &:hover {
    background: $gray-10;
  }
}

.button-rename {
  border-radius: 5px;
  margin: 0;
  min-width: 100px;
  right: 40px;
  top: 216px;
}

.wizard-button {
  transition: 300ms;
  transition-property: background-color, box-shadow, color;

  &:enabled {
    box-shadow: 1px 2px 4px rgba(0,0,0,0.5);
  }

  &:disabled {
    cursor: initial;
    pointer-events: none;
  }

  &:active {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    transform: translateY(1px);
    transition: 100ms;
  }
}

.input-renameFile {
  background: transparent;
  border: 0;
  border-bottom: 1px solid $gray-40;
  box-sizing: border-box;
  outline: none;
  padding: 6px 6px 6px 2px;
  padding-bottom: 0;
}

.renameErrMsg {
  color: red;
  font-size: 14px;
}
