// Still required
// search for `chevron-right`
// you'll find '\f1a0'
// adds the chevron as a font in folder paths

@font-face {
  font-family: "vh-icon-font";
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/videohubicon.woff') format('woff');
}
