@import "../variables";

.frequencySliders {
  min-height: 55px;
  position: relative;
  transform: translateY(-10px);
  width: 100%;
}

.sliderBackTrack {
  min-width: 153px;
}

.sliderBackTrack,
.leftSide,
.rightSide {
  background: $gray-20;
  border: 1px solid $gray-50;
  border-radius: 15px;
  min-height: 5px;
  position: absolute;
  top: 25px;
  transition: 200ms;
  transition-property: width;
}

.darkMode {
  background: $gray-60;
  border: 1px solid $gray-70;
  border-bottom: 1px solid $gray-50;
  border-top: 1px solid $gray-80;
}

.leftSide {
  min-width: 6px;
  z-index: 3;
}

.rightSide {
  background: $pretty-blue;
  border: 1px solid $gray-60;
  max-width: 153px;
  z-index: 2;
}

.rightSideDarkMode {
  background: #5d72a7;
  border-bottom: 1px solid $gray-50;
}

.dragger {
  background-color: $gray-05;
  border: 1px solid $gray-50;
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  height: 14px;
  position: absolute;
  right: 0;
  transform: translate(1px, -6px);
  transition: 200ms;
  transition-property: background-color transform;
  width: 7px;

  &:before {
    border-radius: 14px;
    bottom: -10px;
    content: '';
    left: -10px;
    position: absolute;
    right: -10px;
    top: -10px;
  }

  &:hover {
    cursor: ew-resize;
  }
}

.draggerDarkMode {
  background-color: $gray-30;
  border: 1px solid $gray-80;
}

.isDragging {
  transform: translate(1px, -6px) scale(1.2);
}

.leftLabel {
  color: $gray-50;
  font-size: 10px;
  margin-top: 5px;
  position: absolute;
  text-align: right;
  width: 30px;
}

.rightLabel {
  color: $gray-50;
  font-size: 10px;
  margin-top: 5px;
  position: absolute;
  text-align: left;
  width: 30px;
}


.minLabel {
  color: $gray-50;
  float: left;
  font-size: 10px;
  margin-top: 40px;
}

.maxLabel {
  color: $gray-50;
  float: right;
  font-size: 18px;
  margin-top: 30px;
  transform: translate(-4px, 5px);
}
