/* You can add global styles to this file, and also import other style files */
html, body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

@import '~@angular/cdk/overlay-prebuilt.css';

.mat-dialog-container {
  background-color: white;
  border: 1px solid gray;
  border-radius: 8px !important;
  box-shadow: 0 10px 20px 10px rgba(0,0,0,0.1);
}

.cdk-overlay-pane {
  width: initial !important;
}
