@use "app/components/variables";

@import "~@angular/cdk/overlay-prebuilt.css";

/* You can add global styles to this file, and also import other style files */
html, body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.mat-dialog-container {
  background-color: white;
  border: 1px solid gray;
  border-radius: 8px !important;
  box-shadow: 0 10px 20px 10px rgba(0,0,0,0.1);
}

// Snackbar container styles (for Angular Material v14+)
.mat-mdc-snack-bar-container,
.custom-snackbar {
  --mdc-snackbar-container-color: #{variables.$pretty-red};
  --mat-snack-bar-button-color: white;

  .mdc-snackbar__surface {
    background: variables.$pretty-red !important;
    border: 1px solid red;
    border-radius: 10px !important;
    padding: 0;
  }

  .mat-mdc-snack-bar-label {
    color: white;
    text-align: center;
  }
}
