<div
  class="segments-meta-container"
  [ngClass]="{ 'compact-margins': compactView() }"
>

@if (video().cleanName !== '*FOLDER*') {

  <div
    #segmentsHolder
    class="segments-row"
    [ngStyle]="{ height: cellHeight() + 'px' }"
    (click)="cellClick($event)"
    (dblclick)="cellClick($event, true)"
    (contextmenu)="cellRightClick($event)"
  >

    @if (video().selected) { <app-icon class="selected" [icon]="'icon-show-more-info'" /> }

    @if (showMeta()) {
      <span class="rez" [ngClass]="{ 'dark-style': darkMode() }">{{ video().fileSizeDisplay }}
        @if (video().resolution) { <span class="time rez-new">{{ video().resolution }}</span> }
      </span>
      <span class="time" [ngClass]="{ 'dark-style': darkMode() }">{{ video().durationDisplay }}</span>
    }

    @if (noError) {
      @for (i of segmentIndexes(); track i) {
        <video
          class="segment-cell"
          [src]="isRowVisible ? pathToClip : null"
          [attr.data-seg]="i"
          muted
          [ngStyle]="{
              width: cellWidth() + 'px',
              height: cellHeight() + 'px'
            }"
          preload="metadata"
          playsinline
          disablepictureinpicture
        ></video>
      }
    }

    @if (showFavorites()) {
      <app-icon
        class="heart"
        [ngClass]="{ 'heart-lit' : video().stars === 5.5 }"
        (click)="toggleHeart($event)"
        [icon]="'icon-heart'"
       />
    }

    <app-icon class="sheet-icon" [icon]="'icon-show-thumbnails'" (click)="sheetClick.emit(); $event.stopPropagation()" />

  </div>

  @if (showMeta() && !compactView()) {
    <span
      class="title"
      [ngStyle]="{
          color: darkMode() ? '#BBBBBB' : '#000000',
          'font-size': titleFontSize() + 'px'
        }"
    >
      {{ video().cleanName }}
    </span>
  }

}

</div>
