@import "../variables";

.listElement {
  line-height: 20px;
  list-style: none;
  margin: 0 0 16px 0;
  padding: 0;
}

.shortcut-key {
  background: $white;
  border: 1px solid $gray-50;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  color: black;
  display: inline-block;
  font-style: normal;
  margin-right: 6px;
  padding: 3px 5px 3px 5px;
  text-align: center;
  width: 16px;
}

.modifier-key {
  line-height: 20px;
  margin: 0 4px;
  margin-right: initial;
  padding: 3px 10px;
  width: initial;
}

.without-numbers {
  padding-inline-start: 34px;
}
