@import './../variables';

.input-container {
  position: relative;
}

// added on top of .filter-general
.input-filter {
  border-color: $gray-80;
  font-size: 12px;
  padding: 4px;
  padding-bottom: 0;
  width: 140px;
  z-index: 2;

  &::placeholder {
    color: $gray-80;
  }
}

.dark-mode {
  border-color: $gray-60;
  color: white;

  &::placeholder {
    color: $gray-60;
  }
}

.typeahead {
  color: $pretty-blue;
  font-size: 12px;
  left: 5px;
  pointer-events: none;
  position: absolute;
  top: 9px;
  z-index: 1;
}
