@import './../variables';

.inputContainer {
  position: relative;
}

// TODO -- keep DRY -- this is taken from `inputFilter`
.inputFilter {
  background: transparent;
  border-color: $gray-80;
  border-width: 0 0 1px;
  box-sizing: border-box;
  font-size: 12px;
  margin: 5px 0 10px;
  outline: none;
  padding: 4px;
  padding-bottom: 0;
  position: absolute;
  width: 140px;
  z-index: 2;

  &::placeholder {
    color: $gray-80;
  }
}

.dark-mode {
  border-color: $gray-60;
  color: white;

  &::placeholder {
    color: $gray-60;
  }
}

.typeahead {
  color: $gray-60;
  font-size: 12px;
  left: 5px;
  position:absolute;
  top: 10px;
  z-index: 1;
}
