@use "./../variables";

.input-container {
  position: relative;
}

// added on top of .filter-general
.input-filter {
  border-color: variables.$gray-80;
  font-size: 12px;
  margin-bottom: 5px;
  padding: 4px 4px 0;
  width: 140px;
  z-index: 2;

  &::placeholder {
    color: variables.$gray-80;
  }
}

.dark-mode {
  border-color: variables.$gray-60;
  color: white;

  &::placeholder {
    color: variables.$gray-60;
  }
}

.typeahead {
  color: variables.$pretty-blue;
  font-size: 12px;
  left: 4px;
  pointer-events: none;
  position: absolute;
  top: 9px;
  z-index: -1;
}
