@import "../variables";

.singleTag {
  display: inline-block;
  margin: 10px 10px 0 0;
  position: relative;

  .tag {
    background-color: $manual-tag-color;
    margin: 0;
    position: relative;
    z-index: 3;
  }

  .tag-draggable {
    &:active {
      transform: scale(1.5);
      transition-delay: 30ms;
      transition-duration: 150ms;
      transition-property: transform;
    }
  }

  .coverTheX {
    background-color: $gray-20;
    height: 16px;
    position: absolute;
    transform: translate(6px, 3px);
    width: 12px;
    z-index: 2;
  }

  .coverTheX-dark {
    background-color: black;
  }

  .remove-tag {
    background-color: $manual-tag-frequency;
    border: 1px solid $manual-tag-remove-border;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-sizing: border-box;
    cursor: not-allowed;
    display: inline-block;
    fill: red;
    height: 14px;
    left: 1px;
    position: absolute;
    top: 3px;
    transform: translate(0, 0);
    transition-delay: 0.25s;
    transition-duration: 0.25s;
    transition-property: transform;
    width: 16px;
    z-index: 1;
  }

  &:hover {
    .remove-tag {
      transform: translate(0, -13px);
      transition-delay: 0.5s;
      transition-duration: 0.25s;
      transition-property: transform;
    }
  }

  .frequency {
    background-color: $manual-tag-frequency;
    color: $gray-90;
    cursor: initial;
    padding-left: 10px;
    transform: translate(-5px, 0);
    z-index: 1;
  }
}

.special {
  background-color: $manual-tag-color;
  font-size: 15px;
  padding: 3px 6px 4.5px;
}
