@use "../variables";

.singleTag {
  display: inline-block;
  margin: 10px 10px 0 0;
  position: relative;

  .tag {
    background-color: variables.$manual-tag-color;
    margin: 0;
    position: relative;
    z-index: 3;
  }

  .tag-draggable {
    &:active {
      transform: scale(1.5);
      transition-delay: 30ms;
      transition-duration: 150ms;
      transition-property: transform;
    }
  }

  .remove-tag {
    box-sizing: border-box;
    cursor: not-allowed;
    fill: red;
    height: 14px;
    left: 1px;
    position: absolute;
    top: 3px;
    transform: translate(0, 0);
    transition-delay: 0.25s;
    transition-duration: 0.25s;
    transition-property: transform;
    width: 14px;
    z-index: 1;
  }

  &:hover {
    .remove-tag {
      transform: translate(0, -13px);
      transition-delay: 0.5s;
      transition-duration: 0.25s;
      transition-property: transform;
    }
  }

  .frequency {
    color: variables.$gray-90;
    cursor: initial;
    font-family: monospace;
    font-size: 8px;
    margin-right: 1px;
  }

  .frequency-dark {
    color: variables.$gray-30;
  }
}

.special {
  background-color: variables.$manual-tag-color;
  font-size: 15px;
  padding: 3px 6px 4.5px;
}
