@import "../variables";

.icon-image {
  transform: translateY(2px);
  width: 16px;
}

.statistics {
  font-size: 12px;
}

.table-container {
  display: flex;
  justify-content: space-evenly;

  .stats-table {
    font-size: 14px;
    margin: 10px;
    max-width: 360px;
    min-width: 290px;
  }
}


.stats-heading {
  color: $gray-70;
  display: block;
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
}

.title {
  color: $black;
  font-weight: bold;
}

.hub-name {
  font-size: 20px;
  font-weight: normal;
}

.folder {
  font-style: italic;
  margin-top: 10px;
}

.rightCol {
  padding: 3px 10px;
  text-align: right;
}

.spanBoth {
  font-weight: bold;
  padding-bottom: 5px;
  padding-top: 20px;
  text-align: center;
}

@media (max-width: 900px) {
  .table-container {
    flex-direction: column;

    .stats-table {
      margin: 10px auto;
    }
  }
}
