<div class="statistics">

  <span class="stats-heading title hub-name">
    <img class="icon-image" src="./assets/logo.png">
    {{ hubName }}
  </span>
  <span class="stats-heading folder" [innerHtml]="pathToVhaFile | folderArrowsPipe"></span>

  <span class="stats-heading title sources">{{ 'STATISTICS.videoFolder' | translate }}</span>

  <div class="input-sources">
    <div class="input-sources-row" *ngFor="let item of videoFolder | keyvalue; index as i; trackBy: trackByFn">
      <span
        class="stats-heading folder input-folder"
        [innerHtml]="item.value.path | folderArrowsPipe"
      ></span>
      <span
        *ngIf="(objectKeys(videoFolder).length > 1) && removeFoldersMode"
        class="delete-input-folder"
        (click)="deleteInputSource(item.key)"
      >
        {{ 'STATISTICS.removeFolder' | translate }}
      </span>
      <span *ngIf="i === 0" class="watch-folder-note">
        {{ 'STATISTICS.watchFolder' | translate }}
      </span>
      <label class="switch">
        <input
          type="checkbox"
          [(ngModel)]="item.value.watch"
          (change)="folderWatchStatusChange(item.key, item.value.watch)"
        >
        <span class="slider round"></span>
      </label>
    </div>
  </div>

  <span class="stats-heading">
    <button
      class="wizard-button start-import"
      (click)="addAnotherFolder()"
    >
      {{ 'STATISTICS.addFolderToHub' | translate }}
    </button>
    <button
      *ngIf="(objectKeys(videoFolder).length > 1)"
      (click)="removeFoldersMode = !removeFoldersMode"
      class="wizard-button "
      [ngClass]="{ 'edit-mode-active': removeFoldersMode }"
    >
      {{ 'STATISTICS.editFolders' | translate }}
    </button>
  </span>

  <div class="table-container">

    <table class="stats-table">
      <tr>
        <td colSpan=2 class="span-both">{{ 'STATISTICS.general' | translate }}</td>
      </tr>

      <tr>
        <td>{{ 'STATISTICS.numOfFolders' | translate }}</td>
        <td class="rightCol">{{ numFolders | number:'.0' }}</td>
      </tr>

      <tr>
        <td>{{ 'STATISTICS.numOfFiles' | translate }}</td>
        <td class="rightCol">{{ totalFiles | number:'.0' }}</td>
      </tr>

      <tr>
        <td colSpan=2 class="span-both" style="padding-top: 68px;">
          {{ 'STATISTICS.settings' | translate }}
        </td>
      </tr>

      <tr>
        <td>{{ 'STATISTICS.screenHeight' | translate }}</td>
        <td class="rightCol">{{ screenshotSettings.height }}px</td>
      </tr>

      <tr>
        <td>{{ 'STATISTICS.numOfThumbs' | translate }}</td>
        <td class="rightCol">
          {{ screenshotSettings.fixed ? ''                                  : ('STATISTICS.oneEvery' | translate) }}
          {{ screenshotSettings.n }}
          {{ screenshotSettings.fixed ? ('STATISTICS.perVideo' | translate) : ('STATISTICS.minutes'  | translate) }}
        </td>
      </tr>

      <tr *ngIf="screenshotSettings.clipSnippets > 0">
        <td>{{ 'STATISTICS.clipHeight' | translate }}</td>
        <td class="rightCol">
          {{ screenshotSettings.clipHeight }}px
        </td>
      </tr>

      <tr>
        <td>{{ 'STATISTICS.numOfClips' | translate }}</td>
        <td class="rightCol">
          {{ screenshotSettings.clipSnippets > 0
            ? screenshotSettings.clipSnippets + ' ' + ('STATISTICS.perVideo' | translate)
            : ('STATISTICS.doNotExtract' | translate) }}
        </td>
      </tr>

      <tr *ngIf="screenshotSettings.clipSnippets > 0">
        <td>{{ 'STATISTICS.snippetLength' | translate }}</td>
        <td class="rightCol">
          {{ screenshotSettings.clipSnippetLength }}
          {{ 'STATISTICS.seconds' | translate }}
        </td>
      </tr>

    </table>

    <table class="stats-table">
      <tr>
        <td colSpan=2 class="span-both">{{ 'STATISTICS.videoLengths' | translate }}</td>
      </tr>

      <tr>
        <td>{{ 'STATISTICS.shortest' | translate }}</td>
        <td class="rightCol">{{ shortest | lengthPipe : 'folder' }}</td>
      </tr>

      <tr>
        <td>{{ 'STATISTICS.longest'  | translate }}</td>
        <td class="rightCol">{{ longest | lengthPipe : 'folder' }}</td>
      </tr>

      <tr>
        <td>{{ 'STATISTICS.total'    | translate }}</td>
        <td class="rightCol">{{ totalLength | lengthPipe : 'folder' }}</td>
      </tr>

      <tr>
        <td>{{ 'STATISTICS.average'  | translate }}</td>
        <td class="rightCol">{{ avgLength | lengthPipe : 'folder' }}</td>
      </tr>

      <tr>
        <td colSpan=2 class="span-both">{{ 'STATISTICS.fileSizes' | translate }}</td>
      </tr>

      <tr>
        <td>{{ 'STATISTICS.smallest' | translate }}</td>
        <td class="rightCol">{{ smallest | fileSizePipe : true }}</td>
      </tr>

      <tr>
        <td>{{ 'STATISTICS.largest' | translate }}</td>
        <td class="rightCol">{{ largest | fileSizePipe : true }}</td>
      </tr>

      <tr>
        <td>{{ 'STATISTICS.total'   | translate }}</td>
        <td class="rightCol">{{ totalSize | fileSizePipe : true }}</td>
      </tr>

      <tr>
        <td>{{ 'STATISTICS.average' | translate }}</td>
        <td class="rightCol">{{ avgSize | fileSizePipe : true }}</td>
      </tr>
    </table>

  </div>

</div>
