@import "../variables";

.icon-image {
  transform: translateY(2px);
  width: 16px;
}

.statistics {
  font-size: 12px;
}

.table-container {
  display: flex;
  justify-content: space-evenly;

  .stats-table {
    font-size: 14px;
    margin: 10px;
    max-width: 360px;
    min-width: 290px;
  }
}

.stats-heading {
  color: $gray-70;
  display: block;
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
}

.edit-mode-container {
  display: block;
  margin-top: 10px;
  text-align: center;

  button {
    transition-duration: 0.5s;
  }

  .button-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.title {
  color: $black;
  font-weight: bold;
}

.sources {
  margin-bottom: 20px;
}

.hub-name {
  font-size: 20px;
  font-weight: normal;
}

.folder {
  font-style: italic;
  margin-top: 10px;
}

.rightCol {
  padding: 3px 10px;
  text-align: right;
}

.span-both {
  font-weight: bold;
  padding-bottom: 5px;
  padding-top: 20px;
  text-align: center;
}

.input-sources {
  display: table;
  margin: 0 auto;
  max-width: calc(100% - 200px);

  .input-folder {
    text-align: left;
  }
}

.input-sources-row {
  display: block;
  position: relative;
}

.watch-folder-note {
  display: block;
  left: -52px;
  position: absolute;
  top: -20px;
}

.delete-input-folder,
.rescan-input-folder,
.input-not-connected {
  position: absolute;
  text-align: right;
  top: 1px;
}

.delete-input-folder {
  color: $pretty-red;
  cursor: not-allowed;
  font-weight: bold;
  right: calc(100% + 10px);
}

.rescan-input-folder {
  color: $pretty-blue;
  cursor: pointer;
  font-weight: bold;
  right: calc(100% + 47px);
}

.input-not-connected {
  cursor: pointer;
  font-style: italic;
  min-width: 200px;
  right: calc(100% + 47px);
}

@media (max-width: 900px) {
  .table-container {
    flex-direction: column;

    .stats-table {
      margin: 10px auto;
    }
  }
}

.wizard-button {
  min-width: unset;
}
