@import "../variables.scss";

.recently-opened-label {
  color: $gray-50;
  display: block;
  font-style: italic;
  margin-bottom: 10px;
}

.recently-opened-item {
  transition-duration: 250ms;
  transition-property: color;

  &:hover {
    color: $pretty-blue;
    transition-property: color;
  }
}

.recently-opened {
  font-size: 10px;
  margin-top: 40px;

  ul {
    margin: 0;
    padding: 0;

    li {
      cursor: pointer;
      font-size: 12px;
      list-style: none;
      margin-top: 5px;
      padding-left: 5px;
    }
  }
}
