<div
  (click)="closeRename.emit()"
  [ngClass]="{ 'close-rename-dark': settingsButtons['darkMode'].toggled }"
  class="close-settings close-rename"
  title="{{ 'RIGHTCLICK.cancelRename' | translate }}"
>
  <app-icon class="close-modal-icon" [icon]="'icon-close'"></app-icon>
</div>

<span class="rename-heading">{{ 'RIGHTCLICK.renameTitle' | translate }}</span>

<app-filmstrip-item
  [darkMode]="settingsButtons['darkMode'].toggled"
  [elHeight]="150"
  [folderPath]="appState.selectedOutputFolder"
  [hoverScrub]="true"
  [hubName]="appState.hubName"
  [imgHeight]="100"
  [largerFont]="true"
  [showMeta]="true"
  [video]="currentRightClickedItem"
></app-filmstrip-item>

<span class="rename-from">{{ 'RIGHTCLICK.renameFrom' | translate }}</span>
<span class="rename-to">{{ 'RIGHTCLICK.renameTo' | translate }}</span>

<app-rename-file
  [selectedSourceFolder]="basePath"
  [currentRightClickedItem]="currentRightClickedItem"
  [macVersion]="macVersion"
  [darkMode]="settingsButtons['darkMode'].toggled"

  [renameResponse]="renameResponse.asObservable()"
></app-rename-file>
